<div class="row">
    <div class="col-xs-12 form-group" ng-if="!edit">
        <label for="requestType" translate>ANALYSIS.SOURCE_OF_DATA</label>
        <select class="form-control" ng-model="analysis.requestType" ng-options="key as (reqType|translate) for (key, reqType) in requestTypes" ng-change="getSourceOfdata()">
        </select>
    </div>

    <div class="col-xs-12 form-group" ng-if="edit">
        <label for="requestType" translate>ANALYSIS.SOURCE_OF_DATA</label>
        <input type="text" class="form-control" ng-model="analysis.requestType" disabled> 
    </div>
</div>

<div class="row" ng-if="analysis.requestType === 'TABLE'">
    <div class="col-xs-12 form-group" ng-if="!edit">
        <label for="table" translate  class="required">ANALYSIS.TABLE</label>
        <select class="form-control" name="table" ng-model="analysis.selectedTable"  ng-options="item as item.tableName for item in (listTableDatasource | orderBy:'tableName')" required>
            <option value="">Selecione</option>
        </select>
    </div>

    <div class="col-xs-6 form-group" ng-if="edit">
        <label for="table" translate>ANALYSIS.TABLE</label>
        <input type="text" class="form-control" ng-model="analysis.table" disabled="disabled"> 
    </div>
</div>

<div class="row" ng-if="analysis.requestType === 'SQL'">
    <div class="col-xs-12 form-group">
        <label for="description" class="required" translate>ANALYSIS.DATABASE.REQUEST_SQL</label>
        <textarea class="form-control" id="description" name="sql" rows="4"
                  ng-model="analysis.sql" required></textarea>
    </div>
    <div class="col-xs-12 text-right">
        <button type="button" class="btn" ng-click="executeSQL()">Aplicar</button>
    </div>
</div>

<h4 ng-if="responseDataBase" translate>ANALYSIS.RESULTS_OF_THE_ANALYSIS</h4>

<div class="row margin-top-single" ng-if="responseDataBase" ng-init="limit=10">
    <div class="col-md-12">
        <div style="overflow-x:auto;">
            <table class="table table-condensed table-single-line table-striped table-hover"
                   style="margin-bottom:0;">
                <thead>
                    <tr class="row">
                        <th ng-repeat="col in analysis.analysisColumns" title="{{col.label}}">
                            {{col.label}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="r in responseDataBase| limitTo:limit" class="row">
                        <td ng-repeat="col in analysis.analysisColumns" class="text-left">
                            {{ r[col.name]  ? r[col.name] :  r[col.label] }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="text-center margin-top-single" ng-if="responseDataBase.length && responseDataBase.length > limit">
            {{'LAYOUT.MORE'|translate:{size:responseDataBase.length - limit} }}
        </p>
    </div>
</div>
