<div class="row">
    <div class="col-xs-6 form-group">
        <label for="domain" translate class="required">ANALYSIS.TYPE_QUERY</label>
        <select class="form-control" ng-model="analysis.typeQuery" ng-options="item.value as item.name for item in typeQuery" required>
            <option value="">Selecione</option>
        </select>
    </div>
</div>
<div class="row am-flip-x" ng-if="analysis.typeQuery === 'hiveQL'">
   <div class="col-xs-6 form-group">
        <label for="hiveQL" translate class="required">ANALYSIS.HIVE_QL</label>
        <textarea class="form-control" id="hiveQL" name="hiveQL"
                          ng-model="analysis.hiveQL" required></textarea>
    </div>
</div>
<div class="row am-flip-x" ng-if="analysis.typeQuery === 'pigQuery'">
    <div class="col-xs-6 form-group">
        <label for="pigQuery" translate class="required">ANALYSIS.PIG_QUERY</label>
       <textarea class="form-control" id="description" name="pigQuery"
                          ng-model="analysis.pigQuery" required></textarea>
    </div>
</div>
<div class="row">
    <div class="col-xs-3 form-group">
        <label for="sourceOfdata" translate class="required">ANALYSIS.MR_CLASS</label>
        <input type="text" name="mr_class" class="form-control" id="mrClass"
               ng-model="analysis.mrClass" required>
    </div>
    
    <div class="col-xs-3 form-group">
        <label for="dataInsertion" translate class="required">ANALYSIS.MR_METHOD</label>
        <input type="text" name="MrMethod" class="form-control" id="mrMethod"
               ng-model="analysis.mrMethod" required>
    </div>
</div>
