<div ng-switch="options.type" ng-if="options">
    <am-chart-pie-donut ng-switch-when="pie" ng-model='options'>
    </am-chart-pie-donut>
    <am-chart-serial ng-switch-when="serial" ng-model='options'>
    </am-chart-serial>
    <am-chart-xy ng-switch-when="xy" ng-model='options'>
    </am-chart-xy>
    <am-chart-gauge ng-switch-when="gauge" ng-model='options'>
    </am-chart-gauge>
    <am-chart-radar ng-switch-when="radar" ng-model='options'>
    </am-chart-radar>
    <am-chart-funnel ng-switch-when="funnel" ng-model='options'>
    </am-chart-funnel>
</div>