<amchart ng-if="model.configuration.type !== 'table'" ng-model="model.configuration"></amchart>
<div ng-if="columnExample === '' && model.configuration.type === 'table'">
    <table  class="table table-striped table-hover">
        <thead>
            <tr class="row">
                <th class="text-center" translate>VIEWER.EXAMPLE</th>
                <th class="text-center" translate>VIEWER.EXAMPLE</th>
            </tr>
        </thead>
        <tbody>
            <tr class="row" ng-repeat=" example in exampleTable.examples">
                <td class="text-center" translate>
                    {{example.example1}}
                </td>
                <td class="text-center" translate>
                    {{example.example2}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-if="columnExample !== '' && model.configuration.type === 'table'">
    <table  class="table table-striped table-hover">
        <thead>
            <tr class="row">
                <th ng-repeat="n in columnsTable" class="text-center" translate>{{n.value}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="row" ng-repeat="example in model.configuration.data">
                <td ng-repeat="n in columnsTable" class="text-center" translate>
                    {{example[n.value]}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
