<div class="row">
    <div class="col-md-12">
        <h3 translate>LAYERSOURCE.VIEW</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="btn-group">
            <button class="btn btn-default">
                <span class="icon-chevron-left" aria-hidden="true"></span>
            </button>
            <button class="btn btn-default">
                <span class="icon-chevron-right" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="col-md-offset-8 col-md-2 text-right">
        <div class="btn-group">
            <a class="btn btn-default" href="#/maps/layer-source/{{layerSource.id}}/edit">
                <span class="icon-pencil" aria-hidden="true"></span>
            </a>
            <button class="btn btn-default"  conf-modal="modalParams" conf-modal-args="[layerSource.id]">
                <span class="icon-trash" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well margin-top-single margin-bottom-single">
            
            <p ng-if="layerSource.nm_source">
                <strong translate>LAYERSOURCE.NAME</strong>: 
                {{layerSource.nm_source}}
            </p>

            <p ng-if="layerSource.layerSourceTypeEntity">
                <strong translate>LAYERSOURCE.TYPE</strong>:
                {{layerSource.layerSourceTypeEntity.id}}
            </p>

            <p ng-if="layerSource.ds_link_interno" >
                <strong translate>LAYERSOURCE.INTERNAL_LINK</strong>:                
                {{layerSource.ds_link_interno}}
            </p>

            
            <p ng-if="layerSource.ds_link_externo">
                <strong translate>LAYERSOURCE.EXTERNAL_LINK</strong>:
                {{layerSource.ds_link_externo}}
            </p>

            <p ng-if="layerSource.nm_user_rest">
                <strong translate>LAYERSOURCE.USER</strong>:                
                    {{layerSource.nm_user_rest}}                
            </p>

            <p ng-if="layerSource.nm_pass_rest">
                <strong translate>LAYERSOURCE.PASSWORD</strong>:
                {{layerSource.nm_pass_rest}}
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-right">
        <a href="#/maps/layer-source" role="button" class="btn btn-default" translate>
            LAYOUT.BACK
        </a>
    </div>
</div>