<div class="row">
    <div class="col-md-12">
        <h3 translate>LAYERSOURCE.LAYERSOURCE</h3>

        <div class="margin-top-single">
            <form novalidate name="formulario">
                <div class="row">
                    <div class="col-md-1">
                        <button type="button" ng-click="filter = !filter" class="btn btn-info" translate>LAYOUT.FILTER</button>
                    </div>
                    <div class="col-md-11">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-search"></span>
                            </span>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <table ng-table class="table table-striped margin-top-single">
            <thead>
                <tr>
                    <th></th>
                    <th translate>LAYERSOURCE.NAME</th>
                    <th translate>LAYERSOURCE.TYPE</th>
                    <th translate>LAYERSOURCE.INTERNAL_LINK</th>
                    <th translate>LAYERSOURCE.EXTERNAL_LINK</th>
                    <th translate>LAYERSOURCE.USER</th>
                    <th translate>LAYERSOURCE.PASSWORD</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="layerSource in layerSources">
                    <td><input type="checkbox" value="{{layerSource.id}}" /></td>
                    <td class="text-center">{{layerSource.nm_source}}</td>

                    <td class="text-center" >
                        <span ng-if="!layerSource.$edit && layerSource.layerSourceTypeEntity.id == 1">Geoserver</span>
                        <span ng-if="!layerSource.$edit && layerSource.layerSourceTypeEntity.id == 2">ArcGis</span>
                        <span ng-if="!layerSource.$edit && layerSource.layerSourceTypeEntity.id == 3">MapViewer</span>
                        <span ng-if="!layerSource.$edit && layerSource.layerSourceTypeEntity.id == 4">MapServer</span>                        
                    </td>   

                    <td class="text-center" >{{layerSource.ds_link_interno}}</td> 

                    <td class="text-center">{{layerSource.ds_link_externo}}</td> 

                    <td class="text-center">{{layerSource.nm_user_rest}}</td> 

                    <td class="text-center">{{layerSource.nm_pass_rest}}</td> 
                </tr>
            </tbody>
        </table>
    </div>
</div>