<div>
<div class="header-card">
    <h4>{{name}}</h4>
    <div class="btn-group pull-right margin-right-single" role="group">
        <button type="button" class="btn btn-default">
            Tabela
        </button>
        <button type="button" class="btn btn-default" ng-click="">
            Coluna
        </button>
    </div>
</div>

<div class="content-card">
    <div class="card-form card-section" >
        <!--header-->
        <div class="header-card" >
            <h4> <span class="glyphicon glyphicon-certificate"></span> Objeto sem nome ---</h4>
            <div class="btn-group pull-right margin-right-single" role="group">
                <button type="button" class="btn btn-primary">
                    Tabela
                </button>
                <button type="button" class="btn btn-default" ng-click="">
                    Coluna
                </button>
            </div>
        </div>
        <div class="row" >
            <button style="margin-left: 20px " type="button" class="btn btn-default glyphicon glyphicon-font"> Nome</button> João
        </div>
        <div class="row">
            <button style="margin-left: 20px" type="button" class="btn btn-default glyphicon glyphicon-sort-by-order"> Idade</button> 25
        </div>
        <div class="row">
            <button style="margin-left: 20px" type="button" class="btn btn-default glyphicon glyphicon-ok"> Ativo</button>Sim
        </div>
    </div>
</div>

</div>