<div ng-switch="model.type" ng-class="{edit:edit, expanded:model.expand}" export-image="model"
     class="connecta-viewer-{{uuid}}">
    <twitter-timeline-viewer ng-model="model" ng-switch-when="TWITTER_TIMELINE" edit="edit" show-header="showHeader">
    </twitter-timeline-viewer>
    <analysis-viewer ng-model="model" ng-switch-when="ANALYSIS" edit="edit" show-header="showHeader"></analysis-viewer>
    <singlesource-viewer ng-model="model" ng-switch-when="SINGLESOURCE" edit="edit" show-header="showHeader"></singlesource-viewer>
    <singlesource-group-viewer ng-model="model" ng-switch-when="SINGLESOURCE_GROUP" edit="edit" show-header="showHeader"></singlesource-group-viewer>
    <combined-viewer ng-model="model" ng-switch-when="COMBINED" edit="edit" show-header="showHeader"></combined-viewer>
    <map-viewer ng-model="model" ng-switch-when="MAP" edit="edit" show-header="showHeader"></map-viewer>
</div>
