<div ng-switch="model.type" ng-class="{edit:edit}" export-image="model">
    <analysis-viewer ng-model="model" ng-switch-when="ANALYSIS" edit="edit"></analysis-viewer>
    <singlesource-viewer ng-model="model" ng-switch-when="SINGLESOURCE" edit="edit"></singlesource-viewer>
    <singlesource-group-viewer ng-model="model" ng-switch-when="SINGLESOURCE_GROUP" edit="edit"></singlesource-group-viewer>
    <combined-viewer ng-model="model" ng-switch-when="COMBINED" edit="edit"></combined-viewer>
    <map-viewer ng-model="model" ng-switch-when="MAP" edit="edit"></map-viewer>
</div>