<div class="row">
    <div class="col-md-12">
        <h3 translate>{{project.name}}</h3>
    </div>
</div>

<!--<div class="row">
    <div class="col-md-2">
        <div class="btn-group">
            <button class="btn btn-default">
                <span class="icon-chevron-left" aria-hidden="true"></span>
            </button>
            <button class="btn btn-default">
                <span class="icon-chevron-right" aria-hidden="true"></span>
            </button>
        </div>
    </div>    
</div>-->

<div class="row">
    <div class="col-md-12">
        <div class="well margin-top-single margin-bottom-single">
      
            <p ng-if="project.client.name">
                <strong translate>PROJECT.CLIENT</strong>:
                {{project.client.name}}
            </p>
            
            <p ng-if="project.name">
                <strong translate>PROJECT.NAME</strong>:
                {{project.name}}
            </p>
            
            <p ng-if="project.description">
                <strong translate>PROJECT.DESCRIPTION</strong>:
                {{project.description}}
            </p>
            
            <p ng-if="project.purchaseOrderNumber">
                <strong translate>PROJECT.PURCHASE_ORDER</strong>:
                {{project.purchaseOrderNumber}}
            </p>
            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-right">
        <a href="#/inspection/project" role="button" class="btn btn-default" translate>
            LAYOUT.BACK
        </a>
    </div>
</div>