<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.FONT_COLOR</label>
            <input class="form-control input-sm" type="text" ng-model="viewer.configuration.color"/>
            <input class="form-control input-sm corColorCluster" type="color" ng-model="viewer.configuration.color"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.FONT_FAMILY</label>
            <input class="form-control input-sm" type="text" ng-model="viewer.configuration.fontFamily"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.FONT_SIZE</label>
            <input class="form-control input-sm" type="number" ng-model="viewer.configuration.fontSize"/>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.HAND_DRAWN_SCATTER</label>
            <input  type="range" ng-model="viewer.configuration.handDrawScatter"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.HAND_DRAWN_THICKNESS</label>
            <input class="form-control input-sm" type="number" ng-model="viewer.configuration.handDrawThickness"/>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="form-group checkbox">
            <label> 
                <translate>
                    VIEWER.HAND_DRAWN
                </translate>
                <input  type="checkbox" ng-model="viewer.configuration.handDrawn"/>
            </label>

        </div>
    </div>
</div>