<div class="row">
    <div class="col-md-12">
        <h3 translate>EXPENSE.VIEW</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="btn-group">
            <button class="btn btn-default">
                <span class="icon-chevron-left" aria-hidden="true"></span>
            </button>
            <button class="btn btn-default">
                <span class="icon-chevron-right" aria-hidden="true"></span>
            </button>
        </div>
    </div>    
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well margin-top-single margin-bottom-single">
      
            <p ng-if="expense.inspection">
                <strong translate>EXPENSE.INSPECTION</strong>:
                {{expense.inspection}}
            </p>
            
            <p ng-if="expense.registration_period">
                <strong translate>EXPENSE.REGISTRATION_PERIOD</strong>:
                {{expense.registration_period}}
            </p>
            
            <p ng-if="expense.airfare">
                <strong translate>EXPENSE.AIRFARE</strong>:
                {{expense.airfare}}
            </p>
            
            <p ng-if="expense.distance">
                <strong translate>EXPENSE.DISTANCE</strong>:
                {{expense.distance}}
            </p>
            
            <p ng-if="expense.accommodation">
                <strong translate>EXPENSE.ACCOMMODATION</strong>:
                {{expense.accommodation}}
            </p>
            
            <p ng-if="expense.displacement_land">
                <strong translate>EXPENSE.DISPLACEMENT_LAND</strong>:
                {{expense.displacement_land}}
            </p>
            
            <p ng-if="expense.tolls">
                <strong translate>EXPENSE.TOLLS</strong>:
                {{expense.tolls}}
            </p>
            
            <p ng-if="expense.cost">
                <strong translate>EXPENSE.COST</strong>:
                {{expense.cost}}
            </p>
            
            <p ng-if="expense.others">
                <strong translate>EXPENSE.OTHERS</strong>:
                {{expense.others}}
            </p>
            
            <p ng-if="expense.attachements">
                <strong translate>EXPENSE.ATTACHMENTS</strong>:
                {{expense.attachements}}
            </p>
            
            <p ng-if="expense.taxi">
                <strong translate>EXPENSE.COST_DAILY</strong>:
                {{expense.taxi}}
            </p>
            
            <p ng-if="expense.cost_daily">
                <strong translate>EXPENSE.TAXI</strong>:
                {{expense.cost_daily}}
            </p>
            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-right">
        <a href="#/inspection/person" role="button" class="btn btn-default" translate>
            LAYOUT.BACK
        </a>
    </div>
</div>