<nav class="navMenu">
    <button id="button-legend">Legenda</button>
    <div class="legend">
        <img title="ico_find" id="ico_find" style="width: 25px; margin: 8px 0px -11px 8px;" src="assets/img/maps/menu/ico_find.png"/>
        <img title="ico_redimensionar_camada" id="ico_redimensionar_camada" style="width: 25px; margin: 8px 0px -11px 8px;" src="assets/img/maps/menu/ico_redimensionar_camada.png"/>
        <img title="ico_info" id="ico_info" style="width: 25px; margin: 8px 0px -11px 8px;" src="assets/img/maps/menu/ico_info.png"/>
        <img title="icon_swipe" id="icon_swipe" style="width: 25px; margin: 8px 0px -11px 8px; display: none" src="assets/img/maps/menu/ico_swipe.png"/>
        <hr>
    </div>
</nav>