<div class="row">
    <div class="col-md-12">
    <h3 translate>USER.PROFILE</h3>
        <form novalidate id="user_profile_form" name="user_profile_form" ng-submit="submitUserProfile()">
            <div class="form-group">
                <label for="first_name" translate>USER.FIRST_NAME</label>
                <input type="text" class="form-control" id="first_name" name="first_name"
                       ng-model="user.name" required maxlength="100"/>
                <div ng-show="user.name.$touched" ng-messages="user.name.$error"
                     ng-messages-include="portal-error-messages"></div>
            </div>
            <div class="form-group">
                <label for="last_name" translate>USER.LAST_NAME</label>
                <input type="text" class="form-control" id="last_name" name="last_name"
                       ng-model="user.lastName" required maxlength="100"/>
                <div ng-show="user.last_name.$touched" ng-messages="user.last_name.$error"
                     ng-messages-include="portal-error-messages"></div>
            </div>

            <div class="form-group">
                <label for="email" translate>USER.EMAIL</label>
                <input type="text" class="form-control" id="email" name="email"
                       ng-model="user.email" required maxlength="100"/>
                <div ng-show="user.email.$touched" ng-messages="user.email.$error"
                     ng-messages-include="portal-error-messages"></div>
            </div>

            <div class="form-group user-avatar-field">
                <label for="image" translate>USER.AVATAR</label>
                <div class='user-image-container'>
                  <div id="image"
                       class="well drop-box set-file dropzone user-avatar-dropzone"
                       ng-file-drop
                       ng-file-select
                       ng-multiple="false"
                       ng-file-change="onFileSelected($files, $event, $rejectedFiles)"
                       ng-accept="'.jpeg,.jpg,.png'"
                       ng-model-rejected="rejFiles"
                       allow-dir="false"
                       drag-over-class="{accept:'accept', reject:'reject'}">

                    <img class="img-user-quad" ng-if="user.imageUrl || userImage" ng-src="{{userImage || user.imageUrl}}" />
                  </div>
                  <div class='user-avatar-info'>
                    <span translate>USER.GRAVATAR_TEXT</span>
                    <div class='btn-container'>
                      <button type='button' class='btn btn-primary btn-user-info'
                        ng-file-select
                        ng-multiple="false"
                        ng-file-change="onFileSelected($files, $event, $rejectedFiles)"
                        ng-accept="'.jpeg,.jpg,.png'"
                        ng-model-rejected="rejFiles"
                        allow-dir="false" translate>
                          USER.CHOOSE_IMAGE</button>
                      <span ng-show='imgName'>{{imgName}}</span>
                    </div>
                    <button type='button' class='btn btn-danger btn-user-info' ng-click='removeUserImg()' translate>
                    USER.REMOVE_IMAGE</button>
                  </div>
                </div>
            </div>
            <button class="btn btn-primary" form="user_profile_form" translate ng-disabled="user.$invalid">
                USER.SAVE_PROFILE
            </button>
        </form>
    </div>



    <!-- <div class="col-md-12 change-password-container">
        <h3 translate>USER.CHANGE_PASS</h3>
        <form novalidate id="user_credentials_form" name="user_credentials_form" ng-submit="submitCredentials()">
            <div class="form-group">
                <label for="authenticated_user_password" translate>USER.PASSWORD</label>
                <input type="password" class="form-control" id="authenticated_user_password" name="authenticated_user_password"
                       ng-model="credentials.authenticatedUserPassword" maxlength="20" minlength='8' required />
                <div ng-show="user_credentials_form.authenticated_user_password.$touched" ng-messages="user_credentials_form.authenticated_user_password.$error"
                     ng-messages-include="portal-error-messages"></div>
            </div>
            <div class="form-group">
                <label for="new_password" translate>USER.NEW_PASSWORD</label>
                <input type="password" class="form-control" id="new_password" name="new_password"
                       ng-model="credentials.password" maxlength="20" minlength='8' required />
                <div ng-show="user_credentials_form.new_password.$touched" ng-messages="user_credentials_form.new_password.$error"
                     ng-messages-include="portal-error-messages">
                  <p ng-message="minlength" class="help-block">{{'USER.VALIDATION.SHORT_PASS'| translate}}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="confirm_pass" translate>USER.CONFIRM_PASS</label>
                <input type="password" class="form-control" id="confirm_pass" name="confirm_pass"
                       ng-model="confirm_pass" compare-to='credentials.password'
                       ng-model-options="{debounce: 500}"/ required>
                <div ng-show="user_credentials_form.confirm_pass.$dirty" ng-messages="user_credentials_form.confirm_pass.$error"
                  ng-messages-include="portal-error-messages">
                  <p ng-message="compareTo" class="help-block">{{'USER.VALIDATION.COMPARE_PASS'| translate}}</p>
                </div>
            </div>
            <button class="btn btn-primary" form="user_credentials_form" ng-disabled="user_credentials_form.$invalid" translate>
                USER.CHANGE_PASS
            </button>
        </form>
    </div> -->
</div>
