<div class="row">
    <div class="col-md-12">        
        <h3 translate>{{isEditing ? 'PRESENTERSOURCE.EDIT' : 'PRESENTERSOURCE.ADD'}}</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form novalidate name="formulario" ng-submit="submit()">

            <div class="form-group">
                <label for="url" translate>PRESENTERSOURCE.URL</label>
                <input type="text" class="form-control" id="url" name="url"
                       ng-model="presenterSource.url" required>
                <div ng-show="formulario.$submitted || formulario.url.$touched" 
                     ng-messages="formulario.url.$error"
                     ng-messages-include="portal-error-messages">
                </div>
            </div>

            <div class="form-group">
                <label for="username" translate>PRESENTERSOURCE.USER</label>
                <input type="text" class="form-control" id="username" name="username"
                       ng-model="presenterSource.username" required>
                <div ng-show="formulario.$submitted || formulario.username.$touched" 
                     ng-messages="formulario.username.$error"
                     ng-messages-include="portal-error-messages">
                </div>
            </div>



            <div class="form-group">
                <label for="password" translate>PRESENTERSOURCE.PASSWORD</label>
                <input type="password" class="form-control" id="password" name="password"
                       ng-model="presenterSource.password" required>
                <div ng-show="formulario.$submitted || formulario.password.$touched" 
                     ng-messages="formulario.password.$error"
                     ng-messages-include="portal-error-messages">
                </div>
            </div>                        


            <a href="#/maps/presenter-source"
               class="btn btn-default" translate>
                LAYOUT.CANCEL
            </a>
            <button class="btn btn-primary" translate ng-disabled="formulario.$invalid">
                LAYOUT.SAVE
            </button>
        </form>
    </div>
</div>
