<div class="row">
    <div class="col-md-12">
        <h3 translate>IMPORT.IMPORT_SHP</h3>
    </div>
</div>

<form novalidate name="formulario" ng-submit="submit()">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="nm_layerSourceSHP" translate>LAYERSOURCE.LAYERSOURCE</label>
                <select class="form-control" 
                        name="nm_layerSourceSHP" 
                        id="nm_layerSourceSHP"
                        ng-model="nm_layerSource.selectTipo" 
                        ng-options="selectTipo as selectTipo.nm_source for selectTipo in nm_layerSource" required>
                    <option value="" translate> LAYERSOURCE.SELECT</option>
                </select>

                <div ng-show="formulario.nm_layerSourceSHP.$touched" ng-messages="formulario.nm_layerSourceSHP.$error"
                     ng-messages-include="portal-validation-messages"></div>

            </div>
        </div>
        <div class="col-md-8">

            <div class="form-group">
                <label for="shapefile" translate>IMPORT.IMPORT_SHP</label>

                <input type="text" class="form-control" name="file-falso" id="file-falso"
                       style="padding-right: 160px" readonly>
                <input type="button" class="btn-primary btn" value="Selecione um arquivo"
                       style="position: absolute; right: 0px; top: 39px;" >
                <input type="file" id="file-original" size="30" class="btn btn-primary" name="file-original" accept=".zip"
                       style="height: 34px !important; opacity: 0; position: absolute; top: 39px; right: 0px; width: 172px;">
                
                <div ng-show="formulario.file-falso.$touched" ng-messages="formulario.file-falso.$error"
                     ng-messages-include="portal-validation-messages"></div>

            </div>
        </div>
        <div class="col-md-12">
            <a href="#/maps/"
               class="btn btn-default" translate>
                LAYOUT.CANCEL
            </a>
            <button class="btn btn-primary" translate ng-disabled="formulario.$invalid">
                IMPORT.IMPORT
            </button>
        </div>
        <!--</div>-->
    </div>
</form>
