<div class="row">
    <div class="col-md-12">
        <h3 translate>IMPORT.IMPORT_SHP</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form novalidate name="formulario" ng-submit="submit()">
            <div class="form-group">
                <label for="nm_layerSourceSHP" translate>LAYERSOURCE.LAYERSOURCE</label>
                <select class="form-control" 
                        name="nm_layerSourceSHP" 
                        id="nm_layerSourceSHP"
                        ng-model="nm_layerSource.selectTipo" 
                        ng-options="selectTipo as selectTipo.nm_source for selectTipo in nm_layerSource" required>
                    <option value="" translate> LAYERSOURCE.SELECT</option>
                </select>

                <div ng-show="formulario.nm_layerSourceSHP.$touched" ng-messages="formulario.nm_layerSourceSHP.$error"
                     ng-messages-include="portal-validation-messages"></div>
            </div>

            

            <a href="#/maps/"
               class="btn btn-default" translate>
                LAYOUT.CANCEL
            </a>
            <button class="btn btn-primary" translate ng-disabled="formulario.$invalid">
                LAYOUT.SAVE
            </button>
        </form>
    </div>
</div>
