<div class='popover-container user-popover'>
    <div class="heading-popover-title">
        {{user.name?user.name:('USER.USER'|translate)}}
    </div>
    <div class="heading-popover-content user-popover-content">
        <nav>
            <ul>
                <li><a href="#/user/form"><span class='icon-user'></span>{{'USER.PROFILE' | translate}}</a></li>

                <li><a href="" ng-click="logoutUser()"><span class='icon-exit-to-app'></span>{{'USER.LOGOUT'| translate}}</a></li>
            </ul>
        </nav>
    </div>
</div>
