<div class="popover-container domain-popover">
    <div class="heading-popover-title domain-title">
        {{domain.name?domain.name: ('DOMAIN.DOMAIN' | translate)}}
    </div>

    <div class="heading-popover-content domain-popover-content">
        <nav>
            <ul>
                <li>
                    <a href="" ng-click="toggleDomainMenu($event)"><span class='icon-user'></span>
                        {{'DOMAIN.INVITE_USER'| translate}}
                        <div ng-show="inviteForm">
                            <form ng-submit="inviteUser()">
                                <input class="form-control" id="email" name="email" 
                                       ng-model-options="{updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0}}"
                                       ng-model="user.emails" required maxlength="100" />
                                <button class="btn btn-primary pull-right" type='button' ng-click="inviteUser()" translate>
                                    USER.INVITE_USER
                                </button>
                            </form>
                        </div>
                    </a>
                </li>
                <li><a href=""ng-click="configureDomain()"><span class='icon-cog'></span>{{'DOMAIN.CONFIGURE'| translate}}</a></li>
                <li><a href="" ng-click="switchDomain()"><span class='icon-exit-to-app'></span>{{'DOMAIN.CHANGE'| translate}}</a></li>
            </ul>
            <!--             <li>
                          <a href="" ng-click="toggleDomainMenu($event)">
                            <span class='icon-domain'></span>{{'USER.DOMAINS' | translate}}
                            <span class="menu-item-arrow" ng-class="{
                                                'icon-chevron-down': toggleDomain,
                                                'icon-chevron-right': !toggleDomain
                                              }">
                           </span>
                          </a>
                          <ul ng-if="toggleDomain">
                            <li ng-repeat="domain in user.domains">
                              <a href="" ng-click="changeDomain(domain)" ng-class="{selected: domain.selected}">{{domain.name}}</a>
                            </li>
                          </ul>
                        </li> -->
            <!--<li>
             <a href="#/user/config">
               <span class='icon-settings'></span>{{'USER.CONFIG' | translate}}</a>
           </li>
           <li visible-to-roles="ROLE_ADMIN">
             <a href="#/user/new">
               <span class='icon-settings'></span>{{'USER.ADD' | translate}}</a>
           </li> -->
        </nav>
    </div>
</div>
