<div class='popover-container user-popover'>
  <div class="heading-popover-title">
    <h2 class='heading-popover-h2 semi-bold'>{{user.firstName + ' '+ user.lastName | limitTo: 20}}</h2>
    <span translate>APPLICATION.USER</span translate>
  </div>
  <div class="heading-popover-content user-popover-content">
    <nav>
      <ul>
        <li><a href=""><span class='icon-user'></span>{{'USER.ACCOUNT' | translate}}</a></li>
        <li><a href="#/user/config"><span class='icon-settings'></span>{{'USER.CONFIG' | translate}}</a></li>
        <li><a href=""ng-click="logoutUser()"><span class='icon-exit-to-app'></span>{{'USER.LOGOUT' | translate}}</a></li>
      </ul>
    </nav>
  </div>
</div>

