<div class="row carrousel-main">
  <div class="disabled-container{{ enabled ? '-true' : '' }}"></div>
    <div class="buttons" style="left: 0">
        <a class="icon-navigate-before" ng-click="$ctrl.previous()"></a>
    </div>
    <div class="carrousel-container">
        <div id="carrousel-content" class="carrousel-content">
            <div ng-repeat="item in items" class="carrousel-item">
                <div ng-include="itemTemplateUrl"></div>
            </div>
        </div>
    </div>
    <div class="buttons" style="right: 0;">
        <a class="icon-navigate-next" ng-click="$ctrl.next()"></a>
    </div>
</div>
