<div class="row">
    <div class="col-xs-6 form-group">
        <label for="domain" translate class="required">ANALYSIS.DOMAIN</label>
        <select name="domain" class="form-control" ng-model="analysis.domain" required>
            <option value="">Selecione</option>
            <option ng-repeat="item in component.domain" value="{{item}}">{{item}}</option>
        </select>
        <div ng-show="formulario.domain.$touched" ng-messages="formulario.domain.$error"
             ng-messages-include="portal-error-messages" ></div>
    </div>
</div>