<div class="row">
    <div class="col-md-12">
        <h3 translate>CONFIG.TITLE</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form novalidate name="formulario" ng-submit="submit()">
            
            <div class="form-group" ng-repeat="conf in configs">
                <label for="nome">{{conf.name}}</label>
                <input type="text" class="form-control" id="name" name="nome"
                       ng-model="conf.value"/>
            </div>
            
            <button class="btn btn-primary" translate ng-disabled="formulario.$invalid">
                LAYOUT.SAVE
            </button>
        </form>
    </div>
</div>
