<div class="sidebar-form">
    <label translate>VIEWER.DECIMAL_SEPARATOR</label>
    <input type="text" ng-model="viewer.configuration.decimalSeparator"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.PERCENT_PRECISION</label>
    <input type="number" ng-model="viewer.configuration.percentPrecision"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.PRECISION</label>
    <input type="number" ng-model="viewer.configuration.precision"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.THOUSANDS_SEPARATOR</label>
    <input type="text" ng-model="viewer.configuration.thousandsSeparator"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.USE_PREFIXES</label>
    <input type="checkbox" ng-model="viewer.configuration.usePrefixes"/>
</div>