<link rel="stylesheet" href="../../../node_modules/leaflet/dist/leaflet.css">

<section>
    <div class="row margin-top-single">
        <div class="col-md-6">
            <div class="list-layers-title">
                <h4 translate>PROJECT.GENERAL_MAP_SCALE</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <h5 translate>PROJECT.NAVIGATION_TYPE</h5>
                <p translate>PROJECT.DESC_NAVIGATION_TYPE</p>
                <div class="input-group">
                    <div class="row">
                        <input name="navigation-type" type="radio" />{{ 'PROJECT.STATIC_NAVIGATION' | translate }}
                    </div>
                    <div class="row">
                        <input name="navigation-type" type="radio" />{{ 'PROJECT.DYNAMIC_NAVIGATION' | translate }}
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <h5 translate>PROJECT.INITIAL_EXTENT_AREA</h5>
                <p translate>PROJECT.DESC_INITIAL_EXTENT_AREA</p>

                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label>Zoom</label>
                            <select class="form-control">
                                <option value="">Selecione</option>
                                <option value="">15</option>
                                <option value="">30</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Coord X</label>
                            <input ng-model="mapCenter.lng" ng-change="updateCenter()" class="form-control" type="number" step="0.1" />
                        </div>
                        <div class="col-md-4">
                            <label>Coord Y</label>
                            <input ng-model="mapCenter.lat" ng-change="updateCenter()" class="form-control" type="number" step="0.1" />
                            <button ng-click="setCurrentWatcher('mapCenter')">
                              <i class="icon-link"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-5">
                  <h5 translate>PROJECT.ZOOM_MAX_MIN</h5>
                  <p translate>PROJECT.DESC_ZOOM_MAX_MIN</p>

                  <div class="row">
                      <div class="col-md-3 pull-left">
                          <label>Zoom Max</label>
                          <button ng-click="setCurrentWatcher('maxZoom')">
                            <i class="icon-link"></i>
                          </button>
                          <input ng-model="zoomConfig.max" ng-change="updateMaxZoom()" class="form-control" type="number">
                      </div>

                      <div class="col-md-3 pull-right">
                          <label>Zoom Min</label>
                          <button ng-click="setCurrentWatcher('minZoom')">
                            <i class="icon-link"></i>
                          </button>
                          <input ng-model="zoomConfig.min" ng-change="updateMinZoom()" class="form-control" type="number">
                      </div>

                      <p style="color: red" class="text-center margin-top-double">|--------------Slider Aqui--------------|</p>
                  </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="_mapDiv" ng-init="mapInit()" style="height: 500px;"></div>
    </div>
</section>
