<link rel="stylesheet" href="../../../node_modules/leaflet/dist/leaflet.css">
<link rel="stylesheet" href="../../../../bower_components/angularjs-slider/dist/rzslider.min.css">

<section>
    <div class="row margin-top-single">
        <div class="col-md-6">
            <div class="list-layers-title">
                <h4 translate>PROJECT.GENERAL_MAP_SCALE</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <h5 translate>PROJECT.NAVIGATION_TYPE</h5>
                <p translate>PROJECT.DESC_NAVIGATION_TYPE</p>
                <div class="input-group">
                    <div class="row">
                        <input name="navigation-type" type="radio" />{{ 'PROJECT.STATIC_NAVIGATION' | translate }}
                    </div>
                    <div class="row">
                        <input name="navigation-type" type="radio" />{{ 'PROJECT.DYNAMIC_NAVIGATION' | translate }}
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <h5 translate>PROJECT.INITIAL_EXTENT_AREA</h5>
                <p translate>PROJECT.DESC_INITIAL_EXTENT_AREA</p>

                <div class="row">
                    <div class="form-group">

                        <div class="col-md-3" style="padding-right: 0">
                            <label>Zoom</label>
                            <select class="form-control">
                                <option value="">Selecione</option>
                                <option value="">15</option>
                                <option value="">30</option>
                            </select>
                        </div>

                        <div class="col-md-4" style="padding-right: 0">
                            <label>Coord X</label>
                            <input ng-model="mapCenter.lng" ng-change="updateCenter()" class="form-control" type="text" step="0.1" />
                        </div>

                        <div class="col-md-5" style="padding-right: 0; padding-left: 0">
                            <div class="col-md-8" style="padding-right: 0; padding-left: 2px">
                                <label>Coord Y</label>
                                <input ng-model="mapCenter.lat" ng-change="updateCenter()" class="form-control" type="text" step="0.1" />
                            </div>
                            <div class="col-md-4" style="padding-right: 0; padding-left: 2px">
                                <button class="btn btn-success margin-top-label" ng-click="setCurrentWatcher('mapCenter')">
                                   <i class="icon-link"></i>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h5 translate>PROJECT.ZOOM_MAX_MIN</h5>
                <p translate>PROJECT.DESC_ZOOM_MAX_MIN</p>

                <input-slider config-slider="configSlider"
                              toggle-zoom-bind="setCurrentWatcher"
                              update-zoom-config="updateZoomConfig"></input-slider>

            </div>
        </div>
    </div>
    <div class="row">
        <div id="_mapDiv" ng-init="mapInit()" style="height: 500px; margin-top: 30px"></div>
    </div>
</section>
