
<div class="row">

    <div class="form-group col-md-4">
        <label class="required" translate>Título</label>
        <input type="text" class="form-control" required/>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-4">
        <label class="required" translate>Camada Geo</label>
        <select ng-model="geoLayer.server" class="form-control"
                ng-change="getLayersBySpatialDS(geoLayer.server._id)"
                ng-options="spatialDataSource.title for spatialDataSource in spatialDataSources track by spatialDataSource.title"
                required>
            <option value="">Selecione</option>
        </select>
    </div>

    <div class="form-group col-md-4">
        <label class="required" translate>Camada 1</label>
        <select ng-model="geoLayer.layer" class="form-control"
                ng-change="getColumnsByLayer(geoLayer.layer._id)"
                ng-disabled="layersBySpatials.length == 0"
                ng-options="layers.title for layers in layersBySpatials track by layers._id" required>
            <option value="">Selecione</option>
        </select>
    </div>

    <div class="form-group col-md-4">
        <label class="required" translate>Camada 2</label>
        <select ng-model="geoLayer.layerIdentifier" ng-disabled="columnsByLayer.length == 0" class="form-control"
                ng-options="column.name for column in columnsByLayer track by column.name" required>
            <option value="">Selecione</option>
        </select>
    </div>
</div>
