<section>
    <div class="row margin-top-single">
        <div class="col-md-6">
            <div class="list-layers-title">
                <h4 translate>PROJECT.MAP_TOOLS</h4>
            </div>
        </div>
    </div>

    <label translate>PROJECT.ENABLE_BASEMAP_SELECTOR</label>
    <label class="switch">
        <input ng-model="enableBaseMapSelector" type="checkbox">
        <div class="slider round"></div>
    </label>

    <menu-carrousel items="baseMaps" item-template-url="baseMapThumbUrl" enabled="enableBaseMapSelector"></menu-carrousel>

    <div class="row margin-top-single">
        <div class="col-md-12">
          <label translate>Ferramentas de navegação e visualização disponibilizadas ao usuário</label>
          <label class="switch">
              <input ng-model="allNavigationToolsAreEnabled"
                     ng-change="checkAllMapTools('navigationTools', allNavigationToolsAreEnabled)" type="checkbox">
              <div class="slider round"></div>
          </label>
        </div>

        <div id="project-navigation-tools">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="col-md-2" ng-repeat="tool in tools.navigationTools">
                        <p>{{tool.title}}</p>
                        <label class="switch">
                            <input ng-init="project.navigationTools[tool.model] = tool.checked"
                                   ng-model="project.navigationTools[tool.model]" type="checkbox">
                            <div class="slider round"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-top-single">
        <div class="col-md-12">
          <label translate>Ferramentas Geospaciais a serem disponibilizadas</label>
          <label class="switch">
            <input ng-model="allGeoToolsAreEnabled"
                   ng-change="checkAllMapTools('geoTools', allGeoToolsAreEnabled)" type="checkbox">
            <div class="slider round"></div>
          </label>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="col-md-2" ng-repeat="tool in tools.geoTools">
                    <p>{{tool.title}}</p>
                    <label class="switch">
                        <input ng-init="project.geoTools[tool.model] = tool.checked"
                               ng-model="project.geoTools[tool.model]" type="checkbox">
                        <div class="slider round"></div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</section>
