<section>
    <div class="row margin-top-single">
        <div class="col-md-6">
            <div class="list-layers-title">
                <h4 translate>PROJECT.MAP_TOOLS</h4>
            </div>
        </div>
    </div>

    <label translate>PROJECT.ENABLE_BASEMAP_SELECTOR</label>
    <label class="switch">
        <input type="checkbox">
        <div class="slider round"></div>
    </label>

    <menu-carrousel items="items" item-template-url="itemTemplateUrl"></menu-carrousel>

    <div class="row margin-top-single">
        <div class="col-md-12">
          <label translate>Ferramentas de navegação e visualização disponibilizadas ao usuário</label>
          <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
          </label>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="col-md-2 col-md-offset-2">
                    <p>Legenda</p>
                    <label class="switch">
                        <input type="checkbox">
                        <div class="slider round"></div>
                    </label>
                </div>

                <div class="col-md-2">
                    <p>Zoom em área</p>
                    <label class="switch">
                        <input type="checkbox">
                        <div class="slider round"></div>
                    </label>
                </div>

                <div class="col-md-2">
                    <p>Zoom</p>
                    <label class="switch">
                        <input type="checkbox">
                        <div class="slider round"></div>
                    </label>
                </div>

                <div class="col-md-2">
                    <p>Miniatura</p>
                    <label class="switch">
                        <input type="checkbox">
                        <div class="slider round"></div>
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="col-md-2 col-md-offset-2">
                    <p>Escala + Norte</p>
                    <label class="switch">
                        <input type="checkbox">
                        <div class="slider round"></div>
                    </label>
                </div>

                <div class="col-md-2">
                    <p>Localização</p>
                    <label class="switch">
                        <input type="checkbox">
                        <div class="slider round"></div>
                    </label>
                </div>

                <div class="col-md-2">
                    <p>Histórico Zoom</p>
                    <label class="switch">
                        <input type="checkbox">
                        <div class="slider round"></div>
                    </label>
                </div>

                <div class="col-md-2">
                    <p>Busca</p>
                    <label class="switch">
                        <input type="checkbox">
                        <div class="slider round"></div>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-top-single">
        <div class="col-md-12">
          <label translate>Ferramentas Geospaciais a serem disponibilizadas</label>
          <label class="switch">
            <input type="checkbox">
            <div class="slider round"></div>
          </label>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="col-md-2 col-md-offset-2">
                    <p>Buffer</p>
                    <label class="switch">
                        <input type="checkbox">
                        <div class="slider round"></div>
                    </label>
                </div>

                <div class="col-md-2">
                    <p>Geoprocessing</p>
                    <label class="switch">
                        <input type="checkbox">
                        <div class="slider round"></div>
                    </label>
                </div>

                <div class="col-md-2">
                    <p>Upload de arquivo</p>
                    <label class="switch">
                        <input type="checkbox">
                        <div class="slider round"></div>
                    </label>
                </div>

                <div class="col-md-2">
                    <p>Timeline</p>
                    <label class="switch">
                        <input type="checkbox">
                        <div class="slider round"></div>
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="col-md-2 col-md-offset-2">
                    <p>Filtro Espacial</p>
                    <label class="switch">
                        <input type="checkbox">
                        <div class="slider round"></div>
                    </label>
                </div>

                <div class="col-md-2">
                    <p>Comparação</p>
                    <label class="switch">
                        <input type="checkbox">
                        <div class="slider round"></div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</section>
