<section>
    <h4>Informações <strong>Gerais</strong></h4>

    <div class="row">
        <div class="col-md-12">
            <label class="required">Serviço de origem de dados
                <div class="col-md-4 input-group">
                    <select class="form-control">
                        <option value="">Selecione</option>
                        <option value="OBIEE">OBIEE</option>
                        <option value="Connecta">Connecta</option>
                    </select>
                </div>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label class="required">
                Título
                <div class="col-md-4 input-group">
                    <input type="text" class="form-control">
                </div>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>
                Descrição
                <div class="col-md-12 input-group">
                    <textarea class="form-control"></textarea>
                </div>
            </label>
        </div>
    </div>
</section>
