<section>
    <div class="row margin-top-single">
        <div class="col-md-6">
            <div class="list-layers-title">
                <h4 translate>PROJECT.GENERAL_MAP_SCALE</h4>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <h5 translate>PROJECT.NAVIGATION_TYPE</h5>
                <p>Qual o tipo de navegação do mapa</p>
                <div class="input-group">
                    <div class="row">
                        <input type="radio" />Navegação estática
                    </div>
                    <div class="row">
                        <input type="radio" />Navegação dinâmina
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <h5>Enquadramento Inicial</h5>
                <p>Navegue no mapa e escolha o enquadramento inicial</p>

                <!--TODO: Tirar esse br daqui-->
                <br />

                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label>Zoom</label>
                            <select class="form-control">
                                <option value="">Selecione</option>
                                <option value="">15</option>
                                <option value="">30</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Coord X</label>
                            <input class="form-control" type="text" />
                        </div>
                        <div class="col-md-4">
                            <label>Coord Y</label>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                  <h5>Zoom Max/Min</h5>
                  <p>Para definir zoom máximo e mínimo, utilize o slider ou navegue pelo mapa e clique em usar</p>

                  <div class="row">
                      <div class="col-md-3 pull-left">
                          <label>Zoom Max</label>
                          <input class="form-control" type="text">
                      </div>
                      <div class="col-md-3 pull-right">
                          <label>Zoom Min</label>
                          <input class="form-control" type="text">
                      </div>
                  </div>


            </div>
        </div>
    </div>
</section>
