<div class="row bs-wizard">
    <div class="col-xs-3 bs-wizard-step {{steps['1'].style}}">
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="javascript:void(0)" class="bs-wizard-dot one"><strong>1</strong></a>
        <div class="bs-wizard-info text-center">Informações Gerais</div>
    </div>

    <div class="col-xs-3 bs-wizard-step {{steps['2'].style}}">
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="javascript:void(0)" class="bs-wizard-dot two"><strong>2</strong></a>
        <div class="bs-wizard-info text-center">Ligação com Datasource</div>
    </div>

    <div class="col-xs-3 bs-wizard-step {{steps['3'].style}}">
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="javascript:void(0)" class="bs-wizard-dot three"><strong>3</strong></a>
        <div class="bs-wizard-info text-center">Ferramentas</div>
    </div>

    <div class="col-xs-3 bs-wizard-step {{steps['4'].style}}">
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="javascript:void(0)" class="bs-wizard-dot three"><strong>4</strong></a>
        <div class="bs-wizard-info text-center">Exibição</div>
    </div>
</div>

<div ng-include="steps[3].templateUrl"></div>

<div class="row">
    <div class="col-md-12 text-right">
        <button class="btn btn-default" type="button">
            CANCELAR
        </button>
        <button ng-click="changeStep(false)"
                class="btn btn-default"
                type="button"
                ng-disabled="steps[currentStep].first">
            VOLTAR
        </button>
        <button ng-click="changeStep(true)"
                class="btn btn-default"
                type="button"
                ng-disabled="steps[currentStep].last">
            AVANÇAR
        </button>
        <button class="btn btn-primary" type="button"
                ng-disabled="!steps[currentStep].last">
            SALVAR
        </button>
    </div>
</div>
