<div class="row">
	<div class="col-md-12">
		<h3 translate>{{action.name}}</h3>
	</div>
</div>

<!--Info Interaction-->
<div class="row">
	<div class="col-md-12">
		<h3>Sections</h3>
		<ul ng-repeat='section in action.steps[0].sections'>
			<li>{{'ACTION.SECTION.TITLE'| translate}}: {{section.title}}</li>
			<ul ng-if='section.params.length'>
				<li>Params</li>
				<ul ng-repeat="param in section.params">
					<li>{{'ACTION.SECTION.PARAM.TITLE'| translate}}: {{param.title}}</li>
					<li ng-if='param.name'>{{'PARAM.SECTION.PARAM.NAME'| translate}}: {{param.name}}</li>
					<li ng-if='param.tag'>{{'PARAM.SECTION.PARAM.TAG'| translate}}: {{param.tag}}</li>
					<li>{{'ACTION.SECTION.PARAM.TYPE'| translate}}: {{param.type}}</li>
					<ul ng-if="param.options.length">
						<li>Options</li>
						<ul>
							<li ng-repeat='option in param.options'>{{option.value}}</li>
						</ul>
					</ul>
				</ul>
			</ul>
			<li ng-if='section.footer'>{{'ACTION.SECTION.FOOTER'| translate}}: {{section.footer}}</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
	 	<h3>{{ANSWER.TITLE}}</h3>
		<div class="row" ng-repeat='user in users'>
			<p>{{user.name}}</p>
			<p>ANSWER.ANSWER</p>
			<div class="row" ng-repeat='answer in answers'>
				
			</div>
		</div>
	 	<div class="row">
			<pre>{{users | json}}</pre>
	 	<div>
	</div>
</div>