<div ui-tree-handle class="clearfix">
    <div class="col-md-10 form-inline">
        <span ng-class="{'icon-chevron-right': collapsed,'icon-chevron-down': !collapsed}"
              data-nodrag ng-click="getSubitems(this, item)"
              class="">
        </span>
        <label class="sr-only" for="batata">batata</label>
        <input type="text" class="form-control input-sm" ng-model="item.name"
               id="batata"
               placeholder="Nome"
               input-timeout on-input-timeout="editFields(item)"
               input-timeout-delay="2000" input-timeout-is-loading="isLoading" /> 
        <label class="sr-only" for="doce">batata</label>
        <input type="text" class="form-control input-sm" ng-model="item.formula"
               placeholder="Formula" id="doce"
               input-timeout on-input-timeout="editFields(item)"
               input-timeout-delay="2000" input-timeout-is-loading="isLoading" />
        <span ng-show="isLoading" class="glyphicon glyphicon-refresh"></span>
    </div>
    <div class="col-md-2 text-right">
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" data-nodrag ng-click="newSubItem(this)">
                <span class="icon-plus"></span>
            </button>
            <button type="button" class="btn btn-default btn-sm" data-nodrag ng-click="excluir(this)">
                <span class="icon-remove icon-spin"></span>
            </button>
        </div>
    </div>
</div>
<ul ui-tree-nodes="options" ng-model="item.hierarchyItem" ng-class="{hidden: collapsed}" >
    <li ng-repeat="item in item.hierarchyItem" ui-tree-node data-collapsed="{{open}}"
        ng-include="'app/presenter/hierarchy/template/_hierarchy-form-tree-item.html'">
    </li>
</ul>