<div class="row">
    <div class="col-md-12">        
        <h3 translate>MEDIA.ADD</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form novalidate name="formulario" ng-submit="submit()">

            <div class="form-group">
                <label for="code" translate>MEDIA.NAME</label>
                <input type="text"  class="form-control connecta-inline-edit-input" id="name" name="name"
                       ng-model="media.name" 
                       placeholder="{{MEDIA.NAME | translate}}" required autofocus/>
                <div ng-show="formulario.name.$touched" ng-messages="formulario.name.$error"
                     ng-messages-include="portal-error-messages"></div>
            </div>

            <div class="form-group">
                <label for="name" translate>MEDIA.DESCRIPTION</label>
                <input type="text" class="form-control" id="description" name="description"
                       ng-model="media.description" required/>
                <div ng-show="formulario.description.$touched" ng-messages="formulario.description.$error"
                     ng-messages-include="portal-error-messages"></div>
            </div>
            
            <div class="form-group">
                <label translate>MEDIA.MEDIA</label>
                <p class="help-block ng-binding ng-scope" translate>
                        COMPANY.VALIDATION.IMAGERESOLUTION
                </p>
                <label id="file-rect"
                       class="well drop-box set-file dropzone"
                       ng-file-drop 
                       ng-file-select
                       ng-multiple="false"
                       ng-file-change="fileDropped($files, $event, $rejectedFiles)" 
                       ng-accept="'.png,.jpg'" 
                       ng-model-rejected="rejFiles" 
                       allow-dir="false" 
                       drag-over-class="{accept:'accept', reject:'reject'}" >
                    <translate>{{file.name ? file.name : 'MEDIA.DROP_FILE_HERE'}}</translate>
                </label>
                <p ng-show="rectInvalid" class="help-block ng-binding ng-scope">
                        Esse campo é obrigatório
                </p>
            </div>
            

            <a href="#/inspection/medias"
               class="btn btn-default" translate>
                LAYOUT.CANCEL
            </a>
            <button class="btn btn-primary" translate ng-disabled="formulario.$invalid">
                LAYOUT.SAVE
            </button>
        </form>
    </div>
</div>
