<div class="sidebar-form">
    <label>VIEWER.FONT_COLOR</label>
    <input type="color" ng-model="viewer.configuration.color"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.FONT_FAMILY</label>
    <input type="text" ng-model="viewer.configuration.fontFamily" />
</div>
<div class="sidebar-form">
    <label translate>VIEWER.FONT_SIZE</label>
    <input type="number" ng-model="viewer.configuration.fontSize" />
</div>
<div class="sidebar-form">
    <label translate>VIEWER.HAND_DRAWN</label>
    <input type="checkbox" ng-model="viewer.configuration.handDrawn" />
</div>
<div class="sidebar-form">
    <label translate>VIEWER.HAND_DRAWN_SCATTER</label>
    <input type="number" ng-model="viewer.configuration.handDrawScatter" />
</div>
<div class="sidebar-form">
    <label translate>VIEWER.HAND_DRAWN_THICKNESS</label>
    <input type="number" ng-model="viewer.configuration.handDrawThickness" />
</div>

