<h4 translate>LAYERVIEWER.INTERVAL_INITIAL</h4>
<div class="row">
    <div class="col-xs-2 form-group">
        <label for="raioInitial" translate>LAYERVIEWER.INITIAL_RAIO</label>
        <input type="number" name="raioInitial" required class="form-control" id="raioInitial"
               ng-model="layerViewer.raioInitial" />
    </div>

    <div class="col-xs-3 form-group">
        <label for="ini_initialColor" translate>LAYERVIEWER.INITIAL_COLOR</label>
        <input type="text" name="ini_initialColorTxt" required class="form-control" id="ini_initialColorTxt" style="width: 80%; border-right: none; float: left;"
               ng-model="layerViewer.ini_initialColor" />
        <input type="color" name="initialColor" required class="form-control validate-cluster" id="initialColor" style="width: 20%; padding: 0px; float: left;"
               ng-change="validateColorCluster(layerViewer.ini_initialColor)"
               ng-model="layerViewer.ini_initialColor" />
        <div ng-if="formulario.$dirty" ng-messages="formulario.txtServer.$error"
             ng-messages-include="portal-validation-messages"></div>
    </div>

    <div class="col-xs-3 form-group">
        <label for="ini_finalColor" translate>LAYERVIEWER.FINAL_COLOR</label>
        <input type="text" name="ini_finalColorTxt" required class="form-control" id="finalColorTxt" style="width: 80%; border-right: none; float: left;"
               ng-model="layerViewer.ini_finalColor">
        <input type="color" name="ini_finalColor" required class="form-control validate-cluster" id="finalColor" style="width: 20%; padding: 0px; float: left;"
               ng-change="validateColorCluster(layerViewer.ini_finalColor)"
               ng-model="layerViewer.ini_finalColor">
        <div ng-if="formulario.$dirty" ng-messages="formulario.txtPort.$error"
             ng-messages-include="portal-validation-messages"></div>
    </div>

    <div class="col-xs-4 form-group">
        <label for="opacityInitial" translate>LAYERVIEWER.INITIAL_RAIO </label> {{layerViewer.opacityInitial}}%
        <input name="opacityInitial" required class="form-control" id="opacityInitial" type="range" step="5" min="0" max="100" style="border: none"
               ng-model="layerViewer.opacityInitial" />
    </div>
</div>




<div key-value class="well well-sm clearfix" ng-model="layerViewer.parameters"
     disable-button="layerViewer.parameters.length >= 3">

    <h4 translate>LAYERVIEWER.INTERVAL</h4>

    <div key-value-item class="row">
        <div class="col-xs-2 form-group">
            <label for="int_raioInitial" translate>LAYERVIEWER.INITIAL_RAIO</label>
            <input type="number" name="int_raioInitial" required class="form-control" id="int_raioInitial"
                   ng-model="$parent.$parent.$item.int_raioInitial" />
        </div>

        <div class="col-xs-3 form-group">
            <label for="int_initialColor" translate>LAYERVIEWER.INITIAL_COLOR</label>
            <input type="text" name="int_initialColorTxt" required class="form-control" id="int_initialColorTxt" style="width: 80%; border-right: none; float: left;"
                   ng-model="$parent.$parent.$item.int_initialColor" />
            <input type="color" name="int_initialColor" required class="form-control validate-cluster" id="int_initialColor" style="width: 20%; padding: 0px; float: left;"
                   ng-change="validateColorCluster($parent.$parent.$item.int_initialColor)"
                   ng-model="$parent.$parent.$item.int_initialColor" />
            <div ng-if="formulario.$dirty" ng-messages="formulario.txtServer.$error"
                 ng-messages-include="portal-validation-messages"></div>
        </div>

        <div class="col-xs-3 form-group">
            <label for="int_finalColor" translate>LAYERVIEWER.FINAL_COLOR</label>
            <input type="text" name="int_finalColorTxt" required class="form-control" id="int_finalColorTxt" style="width: 80%; border-right: none; float: left;"
                   ng-model="$parent.$parent.$item.int_finalColor">
            <input type="color" name="int_finalColor" required class="form-control validate-cluster" id="int_finalColor" style="width: 20%; padding: 0px; float: left;"
                   ng-change="validateColorCluster($parent.$parent.$item.int_finalColor)"
                   ng-model="$parent.$parent.$item.int_finalColor">
            <div ng-if="formulario.$dirty" ng-messages="formulario.txtPort.$error"
                 ng-messages-include="portal-validation-messages"></div>
        </div>

        <div class="col-xs-4 form-group">
            <label for="int_opacity" translate>LAYERVIEWER.INITIAL_RAIO </label> {{$parent.$parent.$item.int_opacity}}%
            <input name="int_opacity" required class="form-control" id="int_opacity" type="range" step="5" min="0" max="100" style="border: none"
                   ng-model="$parent.$parent.$item.int_opacity" />
        </div>
    </div>
</div>







<h4 translate>LAYERVIEWER.INTERVAL_FINAL</h4>

<div class="row">
    <div class="col-xs-2 form-group">
        <label for="raioFinal" translate>LAYERVIEWER.INITIAL_RAIO</label>
        <input type="number" name="raioFinal" required class="form-control" id="raioFinal"
               ng-model="layerViewer.raioFinal" />
    </div>

    <div class="col-xs-3 form-group">
        <label for="fim_initialColor" translate>LAYERVIEWER.INITIAL_COLOR</label>
        <input type="text" name="fim_initialColorTxt" required class="form-control" id="fim_initialColorTxt" style="width: 80%; border-right: none; float: left;"
               ng-model="layerViewer.fim_initialColor" />
        <input type="color" name="initialColor" required class="form-control validate-cluster" id="initialColor" style="width: 20%; padding: 0px; float: left;"
               ng-change="validateColorCluster(layerViewer.fim_initialColor)"
               ng-model="layerViewer.fim_initialColor" />
        <div ng-if="formulario.$dirty" ng-messages="formulario.txtServer.$error"
             ng-messages-include="portal-validation-messages"></div>
    </div>

    <div class="col-xs-3 form-group">
        <label for="fim_finalColor" translate>LAYERVIEWER.FINAL_COLOR</label>
        <input type="text" name="fim_finalColorTxt" required class="form-control" id="fim_finalColorTxt" style="width: 80%; border-right: none; float: left;"
               ng-model="layerViewer.fim_finalColor">
        <input type="color" name="finalColor" required class="form-control validate-cluster" id="finalColor" style="width: 20%; padding: 0px; float: left;"
               ng-change="validateColorCluster(layerViewer.fim_finalColor)"
               ng-model="layerViewer.fim_finalColor">
        <div ng-if="formulario.$dirty" ng-messages="formulario.txtPort.$error"
             ng-messages-include="portal-validation-messages"></div>
    </div>

    <div class="col-xs-4 form-group">
        <label for="opacityFinal" translate>LAYERVIEWER.INITIAL_RAIO </label> {{layerViewer.opacityFinal}}%
        <input name="opacityFinal" required class="form-control" id="opacityFinal" type="range" step="5" min="0" max="100" style="border: none"
               ng-model="layerViewer.opacityFinal" />
    </div>
</div>