<h3 translate>LAYERVIEWER.DEFAULT</h3>
<div class="row">
    <div class="col-xs-12 form-group">
            <input type="text" class="form-control" name="file-falso" id="file-falso"
                   style="float: left; padding-left: 180px">
            <input type="button" class="btn-primary btn" value="Selecione um arquivo"
                   style="position: absolute;left: 14px; float: left">
        <input type="file" id="file-original" size="30" class="btn btn-primary" name="file-original" accept=".sld"
               style="height: 34    px !important; opacity: 0; position: absolute; left: 13px; width: 173px; float: left">
    </div>
</div>