<div class="row">
    <div class="col-md-12">
        <h3 translate>LAYERVIEWER.LAYERVIEWER</h3>

        <div class="margin-top-single">
            <form novalidate name="formulario">
                <div class="row">
                    <div class="col-md-1">
                        <button type="button" ng-click="filter = !filter" class="btn btn-info" translate>LAYOUT.FILTER</button>
                    </div>
                    <div class="col-md-11">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-search"></span>
                            </span>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <table ng-table class="table table-striped margin-top-single">
            <thead>
                <tr>
                    <th></th>
                    <th translate>LAYERVIEWER.TYPE</th>
                    <th translate>LAYERVIEWER.NAME</th>
                    <th translate>LAYERVIEWER.IMPL</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="layerViewer in layerViewers">
                    <td><input type="checkbox" value="{{layerViewer.id}}" /></td>
                    <td class="text-center" >
                        <span ng-if="!layerViewer.$edit && layerViewer.layerViewerTypeEntity.id == 1">mapDefault</span>
                        <span ng-if="!layerViewer.$edit && layerViewer.layerViewerTypeEntity.id == 2">mapHeatmap</span>
                        <span ng-if="!layerViewer.$edit && layerViewer.layerViewerTypeEntity.id == 3">mapCluster</span>
                        <span ng-if="!layerViewer.$edit && layerViewer.layerViewerTypeEntity.id == 4">mapAnalisys</span>                        
                    </td>   

                    <td class="text-center">{{layerViewer.nm_viewer}}</td>

                    <td class="text-center" >
                        <span ng-if="!layerViewer.$edit && layerViewer.viewerTypeImplEntity.id == 1">OpenLayers</span>
                        <span ng-if="!layerViewer.$edit && layerViewer.viewerTypeImplEntity.id == 2">ESRI</span>                        
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>