<div class="row">
    <div class="col-md-12">
        <h3 translate>{{isEditing ? 'LAYERVIEWER.EDIT' : 'LAYERVIEWER.ADD'}}</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <form novalidate name="formulario" ng-submit="submit()">
            
            <!--Primeira parte do formulario de alteracao-->
            <!--<div class="col-md-4">-->
                <div class="form-group">
                    <label for="name" translate class="required">LAYERVIEWER.NAME</label>
                    <input type="text" class="form-control" id="name" name="name"
                           placeholder="{{'LAYERVIEWER.NAME'|translate}}"
                           ng-model="layerViewer.nm_viewer" />
                </div>

                <div class="form-group">
                    <label for="type" translate>LAYERVIEWER.TYPE</label>
                    <select class="form-control" name="type" ng-model="layerViewer.layerViewerTypeEntity.id" ng-change="getLayerByType(layerViewer.layerViewerTypeEntity.id)">
                        <option translate value="">LAYERVIEWER.SELECT</option>
                        <option translate value="1">LAYERVIEWER.DEFAULT</option>
                        <option translate value="2">LAYERVIEWER.HEATMAP</option>
                        <option translate value="3">LAYERVIEWER.CLUSTER</option>
                    </select>
                    <div ng-if="formulario.$dirty" ng-messages="formulario.driver.$error"
                         ng-messages-include="portal-validation-messages"></div>
                </div>

                <div class="form-group">
                    <label for="layer" translate>LAYERVIEWER.LAYER</label>
                    <select class="form-control" name="layer" 
                            ng-model="layerViewer.layer"
                            ng-options="layer.ds_layer for layer in layers">
                        <option value="">Selecione</option>

                    </select>
                    <div ng-if="formulario.$dirty" ng-messages="formulario.driver.$error"
                         ng-messages-include="portal-validation-messages"></div>
                </div>

                <div class="form-group">
                    <label for="impl" translate>LAYERVIEWER.IMPL</label>
                    <select class="form-control" name="impl" ng-model="layerViewer.viewerTypeImplEntity.id">
                        <option value="">Selecione</option>
                        <option value="1">OpenLayers</option>
                        <option value="2">ESRI</option>
                    </select>
                    <div ng-if="formulario.$dirty" ng-messages="formulario.driver.$error"
                         ng-messages-include="portal-validation-messages"></div>
                </div>
                <!--</div>-->

            
            <!--Segunda parte do formulario de alteracao-->
            <!--<div class="col-md-12">-->
                <div ng-if="types[layerViewer.layerViewerTypeEntity.id].template"
                     ng-include="types[layerViewer.layerViewerTypeEntity.id].template"
                     class="am-fade-and-slide-bottom">
                </div>
            <!--</div>-->
            
            <!--Botoes-->
            <!--<div class="col-md-12">-->
                <a href="#/maps/layer-viewer"
                   class="btn btn-default" translate>
                    LAYOUT.CANCEL
                </a>
                <button class="btn btn-primary" translate>
                    LAYOUT.SAVE
                </button>
            <!--</div>-->
        </form>
    </div>
</div>