<div class="sidebar-form">
    <label translate>VIEWER.BALLON_DATE_FORMAT</label>
    <input type="text" ng-model="viewer.configuration.balloonDateFormat"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.GRID_ABOVE_GRAPHS</label>
    <input type="checkbox" ng-model="viewer.configuration.gridAboveGraphs"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.CREDITS_POSITION</label>
    <select ng-model="viewer.configuration.creditsPosition">
        <option value="top-left" translate>VIEWER.TOP_LEFT</option>
        <option value="top-right" translate>VIEWER.TOP_RIGHT</option>
        <option value="bottom-left" translate>VIEWER.BOTTOM_LEFT</option>
        <option value="bottom-right" translate>VIEWER.BOTTOM_RIGHT</option>
    </select>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.HIDE_BALLOM_TIME</label>
    <input type="number" ng-model="viewer.configuration.hideBalloonTime"/>
</div>