<div class="row">
    <div class="col-xs-12">
        <div class="form-group checkbox">
            <label> 
                <translate>
                    VIEWER.MOUSE_SCROLL_ENABLED
                </translate>
                <input  type="checkbox" ng-model="viewer.configuration.mouseWheelScrollEnabled"/>
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group checkbox">
            <label> 
                <translate>
                    VIEWER.MOUSE_ZOOM_ENABLED
                </translate>
                <input  type="checkbox" ng-model="viewer.configuration.mouseWheelZoomEnabled"/>
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.ZOOM_OUT_BUTTON_ALPHA</label>
            <input class="form-control input-sm" type="number" ng-model="viewer.configuration.zoomOutButtonAlpha"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.ZOOM_OUT_BUTTON_COLOR</label>
            <input class="form-control input-sm" type="text" ng-model="viewer.configuration.zoomOutButtonColor"/>
            <input class="form-control input-sm corColorCluster" type="color" ng-model="viewer.configuration.zoomOutButtonColor"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.ZOOM_OUT_BUTTON_IMAGE_SIZE</label>
            <input class="form-control input-sm" type="number" ng-model="viewer.configuration.zoomOutButtonImageSize"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.ZOOM_OUT_BUTTON_PADDING</label>
            <input class="form-control input-sm" type="number" ng-model="viewer.configuration.zoomOutButtonPadding"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.ZOOM_OUT_TEXT</label>
            <input class="form-control input-sm" type="text" ng-model="viewer.configuration.zoomOutText"/>
        </div>
    </div>
</div>