<div class="sidebar-form">
    <label translate>VIEWER.AUTO_MARGIN_OFFSET</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.autoMarginOffset"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.AUTO_MARGINS</label>
    <input type="checkbox" ng-model="analysisViewer.viewer.configuration.autoMargins"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.MARGIN_BOTTOM</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.marginBottom"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.MARGIN_LEFT</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.marginLeft"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.MARGIN_RIGHT</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.marginRight"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.MARGIN_TOP</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.marginTop"/>
</div>