<div class="row">
    <div class="col-md-12">
        <h3 translate>SINGLESOURCE.REGISTER_MEDIA</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form novalidate name="singlesourceForm" ng-submit="submit()">

            <div class="form-group">
                <label for="model-nome" translate class="required">SINGLESOURCE.NAME</label>
                <input type="text" name="nome" ng-model="typeSingleSource.name"
                       id="model-nome" required class="form-control" required />
                <div ng-if="singlesourceForm.nome.$dirty" ng-messages="singlesourceForm.nome.$error"
                     ng-messages-include="portal-error-messages"></div>
            </div>
            
            <p class="bold" translate>SINGLESOURCE.TYPE_MEDIA</p>
            <div class="portal-type-switcher margin-bottom-single">
                <label ng-repeat="(key, type) in types" class="radio-inline portal-type-switcher-item"
                       title="{{type.name}}" class="required">
                    <input type="radio" class="portal-type-switcher-input" name="type" 
                           ng-model="typeSingleSource.type"
                           ng-value="type" required/>
                    <span class="portal-type-switcher-icon {{type.icon}}"></span>
                    <span class="portal-type-switcher-title" translate>{{'SINGLESOURCE.'+type.name}}</span>
                </label>
            </div>

            <div ng-if="typeSingleSource.type.template" class="am-collapse" ng-include="'app/presenter/singlesource/template/' + typeSingleSource.type.template"></div>

            <div key-value class="well well-sm clearfix" ng-model="typeSingleSource.singleSourceAttributes">
                <div key-value-item class="row">
                    <div class="col-md-4">
                        <div class="form-group has-feedback">
                            <label for="user" translate>SINGLESOURCE.ATTRIBUTE_NAME</label>
                            
                                <input type="text" name="singleSourceAttributes" id="singleSourceAttributes" class="form-control" 
                                       ng-model="$parent.$parent.$item.attribute" ng-change="change()" ng-blur="change()" typeahead="attribute as attribute.name for attribute in getAttributes($viewValue)" typeahead-loading="loadingAttributes"  />
                                <span ng-show="loadingAttributes" class="glyphicon glyphicon-refresh form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="valor" translate>SINGLESOURCE.ATTRIBUTE_VALUE</label>
                            <input type="text" class="form-control"
                                   ng-model="$parent.$parent.$item.value" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="attributeTypes" class="required" translate>SINGLESOURCE.ATTRIBUTE TYPE</label>
                            <select ng-options="opt as opt.label for opt in optionsAttributeTypes"
                                    ng-model="$parent.$parent.$item.attributeType" class="form-control" required>
                                <option value="" translate>LAYOUT.SELECT</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <a href="#/presenter/singlesource"
                   class="btn btn-default" translate>
                    LAYOUT.CANCEL
                </a>
                <button class="btn btn-primary" translate ng-disabled="singlesourceForm.$invalid">
                    LAYOUT.SAVE
                </button>
            </div>
        </form>
    </div>
</div>
