<div class="row">
    <div class="col-md-12">
        <h3 class="margin-bottom-single">
            {{'SINGLESOURCE.MEDIA'| translate}}

            <a class="btn btn-primary pull-right" href="#/presenter/singlesource/new">
                <span class="icon-plus"></span>
                <span translate>LAYOUT.NEW_F</span>
            </a>
        </h3>
    </div>
</div>
<div class="row search-header">
    <div class="col-sm-6">
        <span class="btn-group" ng-init="listview.mode='list'">
            <button btn-radio="'grid'" class="btn btn-default" ng-model="listview.mode">
                <span class="glyphicon glyphicon-th-large"></span>
                <translate class="sr-only">LAYOUT.SHOW_GRID</translate>
            </button>
            <button btn-radio="'list'" class="btn btn-default" ng-model="listview.mode">
                <span class="glyphicon glyphicon-th-list"></span>
                <translate class="sr-only">LAYOUT.SHOW_LIST</translate>
            </button>
        </span>
        <button class="btn btn-default" ng-click="showFilter = !showFilter">
            <span class="icon-funnel"></span>
            <span class="sr-only" translate>
                LAYOUT.FILTER
            </span>
        </button>
    </div>
    <div class="col-sm-6">
        <div class="form-group has-feedback">
            <input class="form-control" type="text" ng-model="filter.name"
                   placeholder="{{'LAYOUT.SEARCH'| translate}}" autofocus />
            <span class="glyphicon glyphicon-search form-control-feedback">
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well" ng-show="showFilter" >
            <div class="row">
                <div class="col-md-6">
                    <label for="" translate>SINGLESOURCE.TYPE_MEDIA</label>
                    <select class="form-control" name="">
                        <option value="">Selecione</option>
                        <option ng-repeat="tp in types" value="{{tp.name}}">{{tp.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" translate>SINGLESOURCE.SEARCHTHERM</label>
                        <input type="text" class="form-control" id="name" name="name"
                               ng-model="typeSingleSource.name" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-default">Aplicar</button>
                </div>
            </div>
        </div>
        <table ng-table class="table table-striped table-hover">
            <thead>
                
                <tr class="row">
                    <th class="col-lg-1 col-xs-1 text-center">
                        <label class="reset-spacing full-size-block cursor-pointer">
                            <input type="checkbox" class="reset-spacing cursor-pointer hidden"
                                   select-all="singlesource" select-all-property="selected"
                                   ng-model="selected" />
                            <span class="bulk-actions-checkbox" ng-class="{
                                'icon-check-box-outline-blank':!selected,
                                'icon-check-box':selected,
                            }"></span>
                        </label>
                    </th>
                    <th class="col-lg-8 col-md-7 col-sm-5 col-xs-10" translate>SINGLESOURCE.NAME</th>
                    <th class="col-lg-2 col-md-3 col-sm-5 hidden-xs" translate>SINGLESOURCE.TYPE</th>
                    <th class="col-lg-1 col-xs-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ss in singlesource" class="row" ng-class="{'selected':ss.selected}">
                    <td class="col-md-1 col-xs-1 text-center">
                        <label class="reset-spacing full-size-block cursor-pointer">
                            <input type="checkbox" class="reset-spacing cursor-pointer hidden"
                                   ng-model="ss.selected" />
                            <span class="bulk-actions-checkbox"
                                  ng-class="{
                                'icon-check-box-outline-blank':!ss.selected,
                                'icon-check-box':ss.selected,
                            }"></span>
                        </label>
                    </td>
                    <td class="col-lg-8 col-md-7 col-sm-5 col-xs-10">
                        <a href="#/presenter/singlesource/{{ss.id}}" class="full-size-block link-no-state">
                            <span class="list-icon-for-type visible-xs-inline hidden-sm hidden-md hidden-lg {{getType(ss).icon}}"
                                  title="{{getType(ss).name}}"></span>
                            {{ss.name}}
                        </a>
                    </td>
                    <td class="col-lg-2 col-md-3 col-sm-5 hidden-xs">
                        <a href="#/presenter/singlesource/{{ss.id}}" class="full-size-block link-no-state">
                            <span class="list-icon-for-type {{getType(ss).icon}}"></span>
                            {{'SINGLESOURCE.'+getType(ss).name | translate}}
                        </a>
                    </td>
                    <td class="col-md-1 col-xs-1 text-center">
                        <button type="button" class="btn btn-xs" ng-click="delete(ss)">
                            <span class="icon-trash" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
