<div class="row">
    <div class="col-md-12">
        <h3 translate>CLIENT.VIEW</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="btn-group">
            <button class="btn btn-default">
                <span class="icon-chevron-left" aria-hidden="true"></span>
            </button>
            <button class="btn btn-default">
                <span class="icon-chevron-right" aria-hidden="true"></span>
            </button>
        </div>
    </div>    
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well margin-top-single margin-bottom-single">


            <p ng-if="client.cnpj">
                <strong translate>CLIENT.CNPJ</strong>:
                {{client.cnpj}}
            </p>

            <p ng-if="client.name">
                <strong translate>CLIENT.NAME</strong>:
                {{client.name}}
            </p>

            <p ng-if="client.fantasyName">
                <strong translate>CLIENT.FANTASY_NAME</strong>:
                {{client.fantasyName}}
            </p>

            <p ng-if="client.stateRegistration">
                <strong translate>CLIENT.STATE_REGISTRATION</strong>:
                {{client.stateRegistration}}
            </p>

            <p ng-if="client.countyRegistration">
                <strong translate>CLIENT.COUNTY_REGISTRATION</strong>:
                {{client.countyRegistration}}
            </p>


        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-right">
        <a href="#/inspection/client" role="button" class="btn btn-default" translate>
            LAYOUT.BACK
        </a>
    </div>
</div>