<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.MARKER_BORDER_ALPHA</label>
            <input class="form-control input-sm" type="number" ng-model="viewer.configuration.legend.markerBoderAlpha"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.MARKER_BORDER_COLOR</label>
            <input class="form-control input-sm" type="text" ng-model="viewer.configuration.legend.markerBoderColor"/>
            <input class="form-control input-sm corColorCluster" type="color" ng-model="viewer.configuration.legend.markerBoderColor"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.MARKER_DISABLED_COLOR</label>
            <input class="form-control input-sm" type="text" ng-model="viewer.configuration.legend.markerDisabledColor"/>
            <input class="form-control input-sm corColorCluster" type="color" ng-model="viewer.configuration.legend.markerDisabledColor"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.MARKER_LABEL_GAP</label>
            <input class="form-control input-sm" type="number" ng-model="viewer.configuration.legend.markerLabelGap"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.MARKER_SIZE</label>
            <input class="form-control input-sm" type="number" ng-model="viewer.configuration.legend.markerSize"/>
        </div>
    </div>
</div>