<default-list-heading
    title-text="HIERARCHY.HIERARCHY"
    add-button-text="LAYOUT.NEW_F"
    add-button-href="#/presenter/hierarchy/new"
    ></default-list-heading>

<table class="table table-striped table-hover">
    <thead>
        <tr class="row">
            <th class="col-md-1">
                <input type="checkbox" />
            </th>
            <th class="col-md-8" translate>HIERARCHY.NAME</th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="hi in hierarchy" class="row">
            <td class="col-md-1">
                <input type="checkbox" style="margin: 0; padding: 0;" />
            </td>
            <td class="text-left col-md-10">
                <a href="#/presenter/hierarchy/{{hi.id}}" class="full-size-block">
                    {{hi.name}}
                </a>
            </td>
            <td class="col-md-1">
                <button type="button" class="btn btn-xs btn-default" ng-click="excluir(hi.id)">
                    <span class="icon-trash" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>