<div class="sidebar-form">
    <label translate>VIEWER.BACKGROUND_ALPHA</label>
    <input type="text" ng-model="viewer.configuration.backgroundAlpha"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.BACKGROUND_COLOR</label>
    <input type="color" ng-model="viewer.configuration.backgroundColor"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.BORDER_ALPHA</label>
    <input type="text" ng-model="viewer.configuration.borderAlpha"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.BORDER_COLOR</label>
    <input type="color" ng-model="viewer.configuration.borderColor"/>
</div>