<div class="sidebar-form">
    <label translate>VIEWER.ANGLE</label>
    <input type="number" ng-model="viewer.configuration.angle"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.DEPTH3D</label>
    <input type="number" ng-model="viewer.configuration.depth3D"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.PLOT_AREA_BORDER_ALPHA</label>
    <input type="text" ng-model="viewer.configuration.plotAreaBorderAlpha"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.COLOR</label>
    <input type="color" ng-model="viewer.configuration.plotAreaBorderColor"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.PLOT_AREA_FILL_ALPHAS</label>
    <input type="text" ng-model="viewer.configuration.plotAreaFillAlphas"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.PLOT_AREA_FILL_COLORS</label>
    <input type="color" ng-model="viewer.configuration.plotAreaFillColors"/>
</div>