<div class="sidebar-form">
    <label>Angle:</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.angle"/>
</div>
<div class="sidebar-form">
    <label>Depth3d</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.depth3D"/>
</div>
<div class="sidebar-form">
    <label>Plot area border alpha</label>
    <input type="text" ng-model="analysisViewer.viewer.configuration.plotAreaBorderAlpha"/>
</div>
<div class="sidebar-form">
    <label>Text color</label>
    <input type="color" ng-model="analysisViewer.viewer.configuration.plotAreaBorderColor"/>
</div>
<div class="sidebar-form">
    <label>Plot area fill alphas</label>
    <input type="text" ng-model="analysisViewer.viewer.configuration.plotAreaFillAlphas"/>
</div>
<div class="sidebar-form">
    <label>Plot area fill colors:</label>
    <input type="color" ng-model="analysisViewer.viewer.configuration.plotAreaFillColors"/>
</div>