<div class="sidebar-form">
    <label translate>VIEWER.COLUMN_SPACING</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.columnSpacing"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.COLUMN_SPACING3D</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.columnSpacing3D"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.COLUMN_WITH</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.columnWidth"/>
</div>