$speaknowImagePath:'#{$imagePath}speaknow';

@import "interaction-form";
@import "action-form";
@import "company-form";
@import "product-form";

.btn-search-speaknow {
    background-color: #5bc0de;  
    border-color: #269abc; 
    color: white;
}