{
    "portal": {
        "main": true,
        "title": "Connecta",
        "host": "http://connectad.cds.com.br/connecta-portal",
        "icon": "assets/img/module-icon/connecta.png",
        "iconMini": "assets/img/module-icon/mini/connecta.png",
        "headerLogo": "assets/img/horizontal-logos/connecta.png",
        "home": "#/",
        "color": "#9B0D0D",
        "site": "http://apconnecta.cds.com.br/connecta-hotsite/public/index.php/pt/products/collector",
        "active": true
    },
    "presenter": {
        "title": "Presenter",
        "host": "http://connectad.cds.com.br/connecta-presenter",
        "icon": "assets/img/module-icon/presenter.png",
        "iconMini": "assets/img/module-icon/mini/presenter.png",
        "headerLogo": "assets/img/horizontal-logos/presenter.png",
        "home": "#/presenter/datasource",
        "viewerPath": "/viewer/:id",
        "publicViewerPath": "/viewer/public/:id",
        "color": "#297EB8",
        "site": "http://apconnecta.cds.com.br/connecta-hotsite/public/index.php/pt/products/presenter",
        "active": true
    },
    "maps": {
        "title": "Maps",
        "host": "http://connectad.cds.com.br/connecta-maps",
        "icon": "assets/img/module-icon/maps.png",
        "iconMini": "assets/img/module-icon/mini/maps.png",
        "headerLogo": "assets/img/horizontal-logos/maps.png",
        "home": "#/maps",
        "viewerPath": "/layerViewers/:id",
        "color": "#3BB79D",
        "site": "http://apconnecta.cds.com.br/connecta-hotsite/public/index.php/pt/products/maps",
        "active": true
    }
}
