{
    "presenter": {
        "title": "Presenter",
        "host": "http://connectad.cds.com.br/connecta-presenter"
    },
    "collector": {
        "title": "Collector",
        "host": "http://connectad.cds.com.br/connecta-collector"
    },
    "maps": {
        "title": "Maps",
        "host": "http://connectad.cds.com.br/connecta-maps"
    },
    "speaknow": {
        "title": "Speaknow",
        "host": "http://connectad.cds.com.br/connecta-speaknow"
    },
    "speaknowBatch": {
        "title": "Speaknow",
        "host": "http://connectad.cds.com.br/speaknow-batch/"
    },
    "portal": {
        "title": "Portal",
        "host": "http://connectad.cds.com.br/connecta-portal"
    }
}