<div class="row">
    <div class="col-md-12">
        <h3 class="margin-bottom-single">
            {{listConfig.titleText | translate}}

            <a class="btn btn-primary pull-right" href="{{listConfig.addButtonHref}}">
                <span class="icon-plus"></span>
                <translate>{{listConfig.addButtonText}}</translate>
            </a>
        </h3>
    </div>
</div>
<!--
<div class="row search-header">
    <div class="col-sm-6">
        <span class="btn-group" ng-init="listview.mode = 'list'">
            <button btn-radio="'grid'" class="btn btn-default" ng-model="listview.mode">
                <span class="glyphicon glyphicon-th-large"></span>
                <translate class="sr-only">LAYOUT.SHOW_GRID</translate>
            </button>
            <button btn-radio="'list'" class="btn btn-default" ng-model="listview.mode">
                <span class="glyphicon glyphicon-th-list"></span>
                <translate class="sr-only">LAYOUT.SHOW_LIST</translate>
            </button>
        </span>
        <button class="btn btn-default" ng-click="showFilter = !showFilter">
            <span class="icon-funnel"></span>
            <span class="sr-only" translate>
                LAYOUT.FILTER
            </span>
        </button>
    </div>
    <div class="col-sm-6">
        <div class="form-group has-feedback">
            <input class="form-control" type="text" ng-model="filter.name"
                   placeholder="{{'LAYOUT.SEARCH'| translate}}" maxlength="100" autofocus />
            <span class="glyphicon glyphicon-search form-control-feedback">
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well margin-top-single" ng-show="showFilter" >
            <div class="row">
                <div class="col-md-6">
                    <label for="" translate>DATASOURCE.DATASOURCE_TYPE</label>
                    <select ng-model="filter.type" class="form-control" ng-options="tp as tp.name for tp in types">
                        <option value="">Selecione</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" translate>DATASOURCE.SEARCH_TERM</label>
                        <input type="text" class="form-control" id="name" name="name"
                               ng-model="typedDatasource.name" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-default">Aplicar</button>
                </div>
            </div>
        </div>
    </div>
</div>-->