<div class="row">
    <div class="col-md-12">
        <h3 class="margin-bottom-single">
            {{listConfig.titleText | translate}}

            <a ng-if="listConfig.addButtonHref" class="btn btn-primary pull-right"
                href="{{listConfig.addButtonHref}}">
                <span class="icon-plus"></span>
                <translate>{{listConfig.addButtonText}}</translate>
            </a>

            <button ng-if="listConfig.addButtonClickMethod" class="btn btn-primary pull-right" ng-click="callFunction(listConfig.addButtonClickMethod)">
                <span class="icon-plus"></span>
                <translate>{{listConfig.addButtonText}}</translate>
            </button>
        </h3>
    </div>
</div>

<div class="row search-header">
    <div class="col-sm-6">
        <button class="btn btn-default" ng-click="showFilter = !showFilter">
            <span class="icon-funnel"></span>
            <span class="sr-only" translate>
                LAYOUT.FILTER
            </span>
        </button>
    </div>
    <div class="col-sm-6">
        <div class="form-group has-feedback">
            <input class="form-control" type="text" ng-model="filter.name"
                   placeholder="{{'LAYOUT.SEARCH'| translate}}" maxlength="100" autofocus />
            <span class="glyphicon glyphicon-search form-control-feedback">
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well margin-top-single" ng-show="showFilter" >
            <div class="row">
                <div class="col-md-6">
                    <label for="" translate>{{listConfig.typeText}}</label>
                    <select ng-model="filter.type" class="form-control">
                        <option value="">Selecione</option>
                        <option ng-repeat="tp in types" value="{{tp.type}}">{{(listConfig.typeText+'_'+tp.type) | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
