<div class="navbar-header">
    <button class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
    </button>

    <div class="navbar-brand">
        <button class="navbar-toggle toggle-menu" ng-click="toggleSidebar()" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-menu"></span>
        </button>
        <a href="{{currentModule.config.home}}" class="current-app" title="{{currentModule.title}}"
           style="{{currentModule.config.headerLogo?'background-image:url('+currentModule.config.headerLogo+')':''}}"></a>
    </div>
</div>

<div class="navbar-collapse collapse dashboard pull-left">
    <ul class="nav navbar-nav">
        <li>
            <a href="#/dashboard" title="{{'LAYOUT.DASHBOARD'| translate}}">
                <span class="icon-view-quilt"></span>
            </a>
        </li>
    </ul>

</div>
<div class="navbar-collapse collapse pull-right navbar-options">
    <ul class="nav navbar-nav">
        <!-- <li ng-if="logoSrc" class="logo-src" ng-style="{'background-image':'url('+logoSrc+')'}"></li> -->
        <li ng-class="{'heading-item-focus': appsPopoverFocus }">
            <a href title="{{'APPLICATION.APPS'| translate}}"
               ng-click="toggleAppsPopOver()">
                <span class="icon-now-widgets"></span>
            </a>
        </li>
        <li ng-class="{'heading-item-focus': notificationPopoverFocus }">
            <a href title="{{'NOTIFICATION.NOTIFICATIONS'| translate}}"
               ng-click="toggleNotificationsPopOver()">
                <span class="icon-notifications"></span>
            </a>
        </li>
        <li ng-class="{'heading-item-focus': domainPopoverFocus}">
            <a class="image-on-background domain-avatar" href title="{{domain.name}}" ng-click="toggleDomainPopOver()">
                <span class="image-on-background domain-avatar"></span>
            </a>
        </li> 
        <li ng-class="{'heading-item-focus': userPopoverFocus }">
            <a class="image-on-background user-avatar" href title="{{user.name + ' ' + user.lastName}}"
               ng-click="toggleUserPopOver()" ng-attr-style="background-image:url({{avatarUrl}})">
            </a>
        </li>
        <heading-popover></heading-popover>
    </ul>
</div>
