.dropzone-inspection {
    padding: 5px;
    float: left;
    width: 100%;

}

.file-item {
    height: 100px;
    width: 150px;
    margin: 5px 5px;
}

.dropzone-file {
    margin: 0px;
    padding: 0px;
    width: 15%;
    padding: 0px;
    float: left;
    border-radius: 0px;
}

.file-remove {
    height: 100px;
    width: 150px;
    margin: 5px 5px;
    position: absolute;
    z-index: 1;
    background: #ccc;
    font-size: 50px;
    opacity: 0;

    p {
        margin-top: 15px;
    }

}

.file {
    height: 100px;
    width: 150px;
    margin: 5px 5px;
    /*position: absolute;*/
    z-index: 1;
    background: #ccc;
    font-size: 50px;

    p{
        margin: 60px 5px;
        padding: 0px;
        font-size: 15px;
        position: absolute;
    }
}

.file-item-others {
    height: 65%;
    width: 45%;
    margin: 10px 5px;
}

.file-remove:hover {
    opacity: 0.7;
    cursor: pointer;
}