.dropzone-inspection {
    padding: 5px;
    float: left;
    width: 100%;
}

.file-item {
    width: 140px;
    height: 140px;
    margin: 0px 3px;
}

.dropzone-box {
    height: 139px !important;
    width: 138px !important;
}

.dropzone-file {
    width: 140px;
    height: 140px;
    margin: 3px 3px;
    padding: 0px;
    float: left;
    border-radius: 0px;

    .dropzone-plus{
        font-size: 70px;
        line-height: 1.8em;
    }
}

.file-remove {
    width: 140px;
    height: 140px;
    margin: 0px 3px;
    position: absolute;
    z-index: 1;
    background: #ccc;
    font-size: 50px;
    opacity: 0;

    p {
        margin-top: 25px;
    }

}

.file {
    width: 140px;
    height: 140px;
    margin: 0px 3px;
    z-index: 1;
    background: #ccc;
    font-size: 50px;

    p{
        margin: 100px 5px;
        padding: 0px;
        font-size: 15px;
        position: absolute;
    }
}

.file-item-others {
    height: 65%;
    width: 55%;
    margin: 10px 5px;
}

.file-remove:hover {
    opacity: 0.7;
    cursor: pointer;
}