<div class="row">
    <div class="col-md-12">
        <h3 translate>{{isEditing ? 'PRODUCT_ITEM.EDIT' : 'PRODUCT_ITEM.ADD'}}</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form novalidate name="formulario" ng-submit="submit()">

            <div class="form-group">
                <label for="project" translate>PRODUCT_ITEM.PROJECT</label>
                <input type="project" class="form-control" id="project" name="project"
                       ng-model="productItem.project" required/>
                <div ng-show="formulario.project.$touched" ng-messages="formulario.project.$error"
                     ng-messages-include="portal-error-messages"></div>
            </div>

            <div class="form-group">
                <label for="code" translate>PRODUCT_ITEM.CODE</label>
                <input type="text" class="form-control" id="name" name="code"
                       ng-model="productItem.code" required/>
                <div ng-show="formulario.code.$touched" ng-messages="formulario.code.$error"
                     ng-messages-include="portal-error-messages"></div>
            </div>

            <div class="form-group">
                <label for="name" translate>PRODUCT_ITEM.NAME</label>
                <input type="name" class="form-control" id="name" name="name"
                       ng-model="productItem.name" required/>
                <div ng-show="formulario.name.$touched" ng-messages="formulario.name.$error"
                     ng-messages-include="portal-error-messages"></div>
            </div>

            <div class="form-group">
                <label for="quantity" translate>PRODUCT_ITEM.QUANT</label>
                <input type="text" class="form-control" id="quantity" name="quantity"
                       ng-model="productItem.quantity" required/>
                <div ng-show="formulario.quantity.$touched" ng-messages="formulario.quantity.$error"
                     ng-messages-include="portal-error-messages"></div>
            </div>

            <div class="form-group">
                <label for="expectedDeliveryDate" translate>PRODUCT_ITEM.DT_PREV</label>
                <inspect-datepicker date-model="productItem.expectedDeliveryDate"/>
                <div ng-show="formulario.expectedDeliveryDate.$touched" ng-messages="formulario.expectedDeliveryDate.$error"
                     ng-messages-include="portal-error-messages"></div>
            </div>

            <div class="form-group">
                <label for="contractualDate" translate>PRODUCT_ITEM.DT_CONTR</label>
                <inspect-datepicker date-model="productItem.contractualDate"/>
                <div ng-show="formulario.contractualDate.$touched" ng-messages="formulario.contractualDate.$error"
                     ng-messages-include="portal-error-messages"></div>
            </div>

            <div class="form-group">
                <label for="supplier" translate>PRODUCT_ITEM.SUPPLIER</label>
                <input type="text" class="form-control" id="supplier" name="supplier"
                       ng-model="productItem.supplier" required/>
                <div ng-show="formulario.supplier.$touched" ng-messages="formulario.supplier.$error"
                     ng-messages-include="portal-error-messages"></div>
            </div>

            <a href="#/inspection/person"
               class="btn btn-default" translate>
                LAYOUT.CANCEL
            </a>
            <button class="btn btn-primary" translate ng-disabled="formulario.$invalid">
                LAYOUT.SAVE
            </button>
        </form>
    </div>
</div>
