<div class="row">
    <div class="col-md-12">
        <h3 translate>{{productItem.name}}</h3>
    </div>
</div>

<!--<div class="row">
    <div class="col-md-2">
        <div class="btn-group">
            <button class="btn btn-default">
                <span class="icon-chevron-left" aria-hidden="true"></span>
            </button>
            <button class="btn btn-default">
                <span class="icon-chevron-right" aria-hidden="true"></span>
            </button>
        </div>
    </div>    
</div>-->

<div class="row">
    <div class="col-md-12">
        <div class="well margin-top-single margin-bottom-single">
      
            <p ng-if="productItem.name">
                <strong translate>PRODUCT_ITEM.NAME</strong>:
                {{productItem.name}}
            </p>
            
            <p ng-if="productItem.serialNumber">
                <strong translate>PRODUCT_ITEM.SERIAL</strong>:
                {{productItem.serialNumber}}
            </p>
            
            <p ng-if="productItem.description">
                <strong translate>PRODUCT_ITEM.DESCRIPTION</strong>:
                {{productItem.description}}
            </p>
            
            <p ng-if="productItem.code">
                <strong translate>PRODUCT_ITEM.CODE</strong>:
                {{productItem.code}}
            </p>
            
            <p ng-if="productItem.project.name">
                <strong translate>PRODUCT_ITEM.PROJECT</strong>:
                {{productItem.project.name}}
            </p>
            
            <p ng-if="productItem.quantity">
                <strong translate>PRODUCT_ITEM.QUANT</strong>:
                {{productItem.quantity}}
            </p>
            
            <p ng-if="productItem.expectedDeliveryDate">
                <strong translate>PRODUCT_ITEM.DT_PREV</strong>:
                {{productItem.expectedDeliveryDate}}
            </p>
            
            <p ng-if="productItem.contractualDate">
                <strong translate>PRODUCT_ITEM.DT_CONTR</strong>:
                {{productItem.contractualDate}}
            </p>
            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-right">
        <a href="#/inspection/product/item" role="button" class="btn btn-default" translate>
            LAYOUT.BACK
        </a>
    </div>
</div>