<div class="sidebar-form">
    <label translate>VIEWER.MOUSE_SCROLL_ENABLE</label>
    <input type="checkbox" ng-model="analysisViewer.viewer.configuration.mouseWheelScrollEnabled"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.MOUSE_ZOOM_ENABLE</label>
    <input type="checkbox" ng-model="analysisViewer.viewer.configuration.mouseWheelZoomEnabled"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.ZOOM_OUT_BUTTON_ALPHA</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.zoomOutButtonAlpha"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.ZOOM_OUT_BUTTON_COLOR</label>
    <input type="color" ng-model="analysisViewer.viewer.configuration.zoomOutButtonColor"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.ZOOM_OUT_BUTTON_IMAGE_SIZE</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.zoomOutButtonImageSize"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.ZOOM_OUT_BUTTON_PADDING</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.zoomOutButtonPadding"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.ZOOM_OUT_TEXT</label>
    <input type="text" ng-model="analysisViewer.viewer.configuration.zoomOutText"/>
</div>