<link rel="stylesheet" href="../../../node_modules/leaflet/dist/leaflet.css">

<section>
  <form name="geo_layer" ng-submit="save()" novalidate>
    <div class="row">

      <div class="form-group col-md-6">
        <label class="required" translate>{{"GEO_LAYER.TITLE"}}</label>
        <input type="text" ng-model="layer.title" class="form-control" required/>
      </div>
      <div class="col-md-3 form-group" ng-if="selectedSpatialDataSource[selectedLayer.layerIdentifier]">
        <label translate>{{"GEO_LAYER.GEOMETRY_TYPE"}}</label>
        <span translate>{{selectedSpatialDataSource[selectedLayer.layerIdentifier].type}}</span>
      </div>
      <div class="col-md-3 form-group" ng-if="selectedSpatialDataSource[selectedLayer.layerIdentifier]">
        <label>SRID</label>
        <span>{{selectedSpatialDataSource[selectedLayer.layerIdentifier].srid}}</span>
      </div>

    </div>

    <div class="row">
      <div class="form-group col-md-6" ng-if="!isEditing">
        <label class="required" translate>{{"GEO_LAYER.SERVER"}}</label>
        <select ng-model="selectedSpatialDataSource" class="form-control"
                ng-change="listLayers(selectedSpatialDataSource._id)"
                ng-options="spatialDataSource.title for spatialDataSource in spatialDataSources track by spatialDataSource._id" required>
          <option value="">Selecione</option>
        </select>
      </div>

      <div class="form-group col-md-6" ng-if="!isEditing">
        <label class="required" translate>{{"GEO_LAYER.LAYERS"}}</label>
        <select ng-model="selectedLayer" ng-disabled="!layers.length" class="form-control"
                ng-options="layer.name for layer in layers track by layer.layerIdentifier" ng-change="changeSelectedLayer(selectedLayer.layerIdentifier)" required>
          <option value="">Selecione</option>
        </select>
      </div>

    </div>

    <div class="row">
      <div class="form-group col-md-3">
        <label translate>{{"GEO_LAYER.CACHE_QUERY"}}</label>
        <label class="switch">
          <input type="checkbox" ng-model="layer.geoCache.queryCache" unchecked >
          <div class="slider round"></div>
        </label>
      </div>

      <div class="form-group col-md-3">
        <label translate>{{"GEO_LAYER.CACHE_STATISTIC_DATA"}}</label>
        <label class="switch">
          <input type="checkbox" ng-model="layer.geoCache.getBreaksCache" unchecked >
          <div class="slider round"></div>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label translate>{{"GEO_LAYER.DESCRIPTION"}}</label>
        <div>
          <textarea type="text" ng-model="layer.description" class="form-control" height="100"></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-right">
        <a href="#/maps/geo-layer" class="btn btn-default" translate>
          GEO_LAYER.CANCEL
        </a>
        <button class="btn btn-primary" ng-disabled="geo_layer.$invalid" translate>
          GEO_LAYER.SAVE
        </button>
      </div>
    </div>
  </form>

  <div id="{{mapNodeId}}" ng-init="initMap()" style="height: 500px; margin-top: 10px"></div>

</section>
