<div class="row">
    <div class="col-md-12">
        <h3 translate>PRESENTERSOURCE.PRESENTERSOURCE</h3>
        
        <a class="btn btn-default" href="#/maps/presenter-source/new" translate>
            <span class="glyphicon glyphicon-plus"></span>
        </a>

        <div class="margin-top-single">
            <form novalidate name="formulario">
                <div class="row">
                    <div class="col-md-1">
                        <button type="button" ng-click="filter = !filter" class="btn btn-info" translate>LAYOUT.FILTER</button>
                    </div>
                    <div class="col-md-11">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-search"></span>
                            </span>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <table ng-table class="table table-striped margin-top-single">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-center" translate>PRESENTERSOURCE.URL</th>
                    <th class="text-center" translate>PRESENTERSOURCE.USER</th>
                    <th class="text-center" translate>PRESENTERSOURCE.PASSWORD</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="presenterSource in presenterSources">
                    <td><a href="#/maps/presenter-source/{{presenterSource.id}}" class="full-size-block link-no-state">

                    <td class="text-center" ><a href="#/maps/presenter-source/{{presenterSource.id}}" class="full-size-block link-no-state">
                            {{presenterSource.url}}</a></td> 

                    <td class="text-center"><a href="#/maps/presenter-source/{{presenterSource.id}}" class="full-size-block link-no-state">
                            {{presenterSource.username}}</a></td> 

                    <td class="text-center"><a href="#/maps/presenter-source/{{presenterSource.id}}" class="full-size-block link-no-state">
                            {{presenterSource.password}}</a></td> 
                </tr>
            </tbody>
        </table>
    </div>
</div>