<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.COLUMN_SPACING</label>
            <input class="form-control input-sm" type="number" ng-model="viewer.configuration.columnSpacing"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.COLUMN_SPACING3D</label>
            <input class="form-control input-sm" type="number" ng-model="viewer.configuration.columnSpacing3D"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.COLUMN_WIDTH</label>
            <input  type="range" min="0" max="1" step="0.01" ng-model="viewer.configuration.columnWidth"/>
        </div>
    </div>
</div>