<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.BALLON_DATE_FORMAT</label>
            <input class="form-control input-sm" type="text" ng-model="viewer.configuration.balloonDateFormat"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group checkbox">
            <label> 
                <translate>
                    VIEWER.GRID_ABOVE_GRAPHS
                </translate>
                <input  type="checkbox" ng-model="viewer.configuration.gridAboveGraphs"/>
            </label>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.CREDITS_POSITION</label>
            <select class="form-control input-sm" ng-model="viewer.configuration.creditsPosition">
                <option value="top-left" translate>VIEWER.TOP_LEFT</option>
                <option value="top-right" translate>VIEWER.TOP_RIGHT</option>
                <option value="bottom-left" translate>VIEWER.BOTTOM_LEFT</option>
                <option value="bottom-right" translate>VIEWER.BOTTOM_RIGHT</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.HIDE_BALLOM_TIME</label>
            <input class="form-control input-sm" type="number" ng-model="viewer.configuration.hideBalloonTime"/>
        </div>
    </div>
</div>