<div class="sidebar-form">
    <label translate>VIEWER.ENABLED</label>
    <input type="checkbox" ng-model="legend.ativo" ng-click="changeLegend()"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.EQUAL_WIDTHS</label>
    <input type="checkbox" ng-model="analysisViewer.viewer.configuration.legend.useGraphSettings"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.REVERSED_ORDER</label>
    <input type="checkbox" ng-model="analysisViewer.viewer.configuration.legend.reversedOrder"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.ROLL_OVER_GRAPH_ALPHA</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.legend.rollOverGraphAlpha"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.SWITCHABLE</label>
    <input type="checkbox" ng-model="analysisViewer.viewer.configuration.legend.switchable"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.TEXT_CLICK_ENABLED</label>
    <input type="checkbox" ng-model="analysisViewer.viewer.configuration.legend.textClickEnabled"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.VALUE_WIDTH</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.legend.valueWidth"/>
</div>
