<iframe ng-if="!isCreatingOrEditing" ng-src="{{mapsClient}}" id="{{mapIframeId}}" class="fullHeightAndWidth" frameborder="0"></iframe>

<div ng-if="isCreatingOrEditing"  class="fullHeightAndWidth" style="position: relative">
    <link rel="stylesheet" href="../../../node_modules/leaflet/dist/leaflet.css">
    <div class="fullHeightAndWidth map-mask"></div>

    <h3 class="map-title">{{model.title}}</h3>

    <div class="fullHeightAndWidth">
        <div class="fullHeightAndWidth" id="_mapDivProjectView{{mapDivId}}" ng-init="initMap()"></div>
    </div>
</div>

<style>
    .fullHeightAndWidth {
        height: 100%;
        width: 100%;
        min-height: 218px;
    }
    .map-mask {
        opacity: 0.2;
        background-color: black;
        z-index: 999;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .map-title {
        z-index: 99999;
        top: 50%;
        left: 50%;
        color: white;
        transform: translateY(-50%) translateX(-50%);
        position: absolute;
    }
</style>
