    <div class="modal-header domain-config-header">
        <h3 class="modal-title domain-config-title" id="modal-title">{{title| translate}}</h3>
    </div>
    <div class="modal-body domain-config" id="modal-body">
        <form ng-submit="save()">
            <div>
                <span class="icon-edit2"></span>
                <input ng-model="domain.name" name="name" class="name-input"
                       placeholder="{{'DOMAIN.NAME'|translate}}" autofocus required />
            </div>

            <table class="table table-striped">

                <thead class="body-table">
                <th>{{'DOMAIN.PARTICIPANTS'| translate}}</th>
                <th>{{'DOMAIN.EMAIL'| translate}}</th>
                <th>{{'DOMAIN.STATUS'| translate}}</th>
                <th></th>
                </thead>

                <tbody ng-repeat="user in domain.users">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.roles[0].name}}</td>
                <td><span ng-click="deleteUser(user.id, $index)" class="icon-trashcan"></span></td>
                </tbody>
            </table>

            <div class="colors">
                <p>{{'DOMAIN.THEME_COLOR' | translate}}</p>
                <ul>
                    <li ng-repeat="color in colors" class="circle" style="background-color:{{color}};"></li>
                </ul>
            </div>

            <div style=""></div>

            <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="cancel()" translate>
                        LAYOUT.CANCEL
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="save()" translate>
                        LAYOUT.SAVE
                    </button>
            </div>
        </form>
    </div>
