<div class="row">
    <div class="col-md-12">
        <h3 translate>{{isEditing ? 'WHATSAPP.EDIT' : 'WHATSAPP.ADD'}}</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form novalidate name="whatsapp_form" ng-submit="submit()">
            <div class="form-group">
                <label class="required" for="name" translate>WHATSAPP.NAME</label>
                <input type="text" class="form-control" id="name" name="name"
                       ng-model="whatsapp.name" required />
                <div ng-show="whatsapp_form.$submitted || whatsapp_form.name.$touched" 
                     ng-messages="whatsapp_form.name.$error"
                     ng-messages-include="portal-error-messages">
                </div>
            </div>

            <div class="form-group">
                <label class="required" for="number" translate>WHATSAPP.NUMBER</label>
                <input type="text" class="form-control" id="number" name="number"
                       ng-model="whatsapp.number" required />
                <div ng-show="whatsapp_form.$submitted || whatsapp_form.number.$touched" 
                     ng-messages="whatsapp_form.number.$error"
                     ng-messages-include="portal-error-messages">
                </div>
            </div>

            <div class="form-group">
                <label class="required" for="password" translate>WHATSAPP.PASSWORD</label>
                <input type="password" class="form-control" id="password" name="password"
                       ng-model="whatsapp.password" required />
                <div ng-show="whatsapp_form.$submitted || whatsapp_form.password.$touched" 
                     ng-messages="whatsapp_form.password.$error"
                     ng-messages-include="portal-error-messages">
                </div>
            </div>

            <div class="form-group">
                <label for="active" class="required" translate>WHATSAPP.ACTIVE</label>
                <input type="checkbox" class="form-control" id="active" name="active"
                ng-model="whatsapp.active" style="width: 2%;"/>
            </div>

            <a href="#/speaknow/whatsapp" class="btn btn-default" translate>
                LAYOUT.BACK
            </a>
            <button class="btn btn-primary" translate type="submit" ng-disable="whatsapp_form.$invalid">
                LAYOUT.SAVE
            </button>
        </form>
    </div>
</div>