<div class="row">
    <div class="col-md-12">
        <h3 translate>LAYER.LAYER</h3>
        
        <a class="btn btn-default" href="#/maps/layer/new" translate>
            <span class="glyphicon glyphicon-plus"></span>
        </a>

        <div class="margin-top-single">
            <form novalidate name="formulario">
                <div class="row">
                    <div class="col-md-1">
                        <button type="button" ng-click="filter = !filter" class="btn btn-info" translate>LAYOUT.FILTER</button>
                    </div>
                    <div class="col-md-11">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-search"></span>
                            </span>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <table ng-table class="table table-striped margin-top-single">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-center" translate>LAYER.SOURCE</th>
                    <th class="text-center" translate>LAYER.NAME</th>
                    <th class="text-center" translate>LAYER.DESCRIPTION</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="layer in layers">
                    <td><input type="checkbox" value="{{layer.id}}" /></td>
                    <td class="text-center" >
                        <a class="full-size-block link-no-state" href="#/maps/layer/{{layer.id}}">
                        <span ng-if="!layer.$edit && layer.layerSourceEntity.id == 1">Geoserver</span>
                        <span ng-if="!layer.$edit && layer.layerSourceEntity.id == 2">ArcGis</span>
                        <span ng-if="!layer.$edit && layer.layerSourceEntity.id == 3">MapViewer</span>
                        <span ng-if="!layer.$edit && layer.layerSourceEntity.id == 4">MapServer</span> 
                        </a>
                    </td>   
                    <td class="text-center" ><a class="full-size-block link-no-state" href="#/maps/layer/{{layer.id}}">
                            {{layer.nm_layer}}</a></td> 
                    <td class="text-center" ><a class="full-size-block link-no-state" href="#/maps/layer/{{layer.id}}">
                            {{layer.ds_layer}}</a></td> 
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>