<div class="row">
    <div class="col-md-12">        
        <h3 translate>{{isEditing ? 'LAYER.EDIT' : 'LAYER.ADD'}}</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form novalidate name="formulario" ng-submit="submit()">
            <div class="form-group">
                <label for="ds_layer" translate>LAYER.DESCRIPTION</label>
                <input type="text" class="form-control" id="nm_source" name="ds_layer"
                       ng-model="layer.ds_layer" 
                       required/>
                <div ng-show="formulario.$submitted || formulario.ds_layer.$touched" 
                     ng-messages="formulario.ds_layer.$error"
                     ng-messages-include="portal-error-messages">
                </div>
            </div>

            <div class="form-group">
                <label for="layerSourceEntityID" translate>LAYER.SOURCE_LAYER</label>

                <select class="form-control" 
                        name="layerSourceEntityID" 
                        ng-model="layer.layerSourceEntity"
                        ng-change="getLayersBySource(layer.layerSourceEntity.id)"
                        id="layerSourceEntityID" required
                        ng-options="layerSource.nm_source for layerSource in layerSourceType" required>
                    <option value="" translate> LAYER.SELECT_SOURCE</option>

                </select>                
                <div ng-show="formulario.layerSourceEntityID.$touched" ng-messages="formulario.layerSourceEntityID.$error"
                     ng-messages-include="portal-validation-messages"></div>      
            </div>

            <div class="form-group">
                <label for="nm_layer" translate>LAYER.LAYER</label>

                <select class="form-control" 
                        name="nm_layer" 
                        id="nm_layer"
                        ng-model="layer.layerName"
                        ng-change="getLayerConfigs(layer.layerName.layerName)"
                        ng-options="layerName as layerName.layerName for layerName in layers" required>
                    <option value="" translate> LAYER.SELECT_LAYER</option>
                </select>          
                <div ng-show="formulario.nm_layer.$touched" ng-messages="formulario.nm_layer.$error"
                     ng-messages-include="portal-validation-messages"></div>      
            </div>


            <a href="#/maps/layer"
               class="btn btn-default" translate>
                LAYOUT.CANCEL
            </a>
            <button class="btn btn-primary" translate ng-disabled="formulario.$invalid">
                LAYOUT.SAVE
            </button>
        </form>
    </div>
</div>
