<section>
    <h4 translate>ANALYSIS.BASIC_INFO</h4>
    <form name="analysisForm" novalidate>

        <div class="row">
            <div class="col-md-6 form-group">
                <label class="required" translate>ANALYSIS.PROJECT</label>
                <select class="form-control"
                        ng-model="analysis.project"
                        ng-change="projectChanged(analysis.project)"
                        ng-options="project.title for project in projects track by project._id"
                        ng-disabled="analysis.outFields.length || outField" required>
                    <option value="" translate>LAYOUT.SELECT</option>
                </select>
            </div>

            <div class="col-md-2">
                <h5 translate>ANALYSIS.ALLOW_DRILL</h5>
                <label class="switch">
                    <input ng-model="analysis.allowDrill" type="checkbox">
                    <div class="slider round"></div>
                </label>
            </div>

            <div class="col-md-2">
                <h5 translate>ANALYSIS.ENABLE_INFOWINDOW</h5>
                <label class="switch">
                    <input ng-model="analysis.popupConfig.enabled" type="checkbox">
                    <div class="slider round"></div>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <label class="required" translate>ANALYSIS.RICH_LAYER</label>
                <select class="form-control"
                        ng-model="selectedRichLayer"
                        ng-change="richLayerChanged(selectedRichLayer)"
                        ng-disabled="!analysis.project || !analysis.project.richLayers.length || analysis.outFields.length || outField"
                        ng-options="richLayer.title for richLayer in analysis.project.richLayers" required>
                    <option value="" translate>LAYOUT.SELECT</option>
                </select>
            </div>

            <div class="col-md-6">
                <h5 translate>ANALYSIS.POSITIONING</h5>
                <div class="col-md-12">
                    <label class="radio-inline">
                        <input type="radio" name="positioning" value="tooltip" ng-model="analysis.popupConfig.positioning" />
                        <span translate>ANALYSIS.TOOLTIP</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="positioning" value="panel" ng-model="analysis.popupConfig.positioning" />
                        <span translate>ANALYSIS.PANEL</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <label class="required" translate>ANALYSIS.MAP_TITLE</label>
                <input type="text" class="col-md-12 form-control" ng-model="analysis.title" required>
            </div>
        </div>



        <table class="table table-striped table-hover">
            <thead>
            <tr class="row">
                <th class="col-md-5" translate>ANALYSIS.CRITERIA_NAME</th>
                <th class="col-md-5" translate>ANALYSIS.TITLE</th>
                <th class="col-md-2" translate>ANALYSIS.TYPE</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="!analysis || !analysis.outFields.length" class="row">
                <td class="col-xs-12 text-center" colspan="12" translate>
                    ANALYSIS.NO_OUTFIELDS
                </td>
            </tr>
            <tr class="row am-slide-right" ng-repeat="outField in analysis.outFields track by $index"
                ng-click="editOutField($index)">
                <td class="text-left col-md-5">{{outField.name}}</td>
                <td class="text-left col-md-5">{{outField.alias}}</td>
                <td class="text-left col-md-2" translate>{{valueTypeMap[outField.valueType]}}</td>
            </tr>
            </tbody>
        </table>
    </form>



    <form name="out_field" novalidate>
        <div class="row" ng-if="!outField">
            <div class="col-md-3 form-group" >
                <a class="btn btn-primary form-control" href="" ng-click="addOutField()" ng-if="selectedRichLayer">
                    <span class="icon-plus"></span>
                    <translate>ANALYSIS.ADD_OUTFIELD</translate>
                </a>
            </div>
        </div>
        <div class="row" ng-if="outField">
            <div class="form-group col-md-5">
                <label class="required" translate>ANALYSIS.CRITERIA_NAME</label>
                <select class="form-control"
                        ng-model="selectedColumn"
                        ng-change="columnChanged(selectedColumn.name)"
                        ng-options="column.alias for column in dataSourceColumns track by column.name" required>
                    <option value="" translate>LAYOUT.SELECT</option>
                </select>
            </div>
            <div class="form-group col-md-5">
                <label translate>ANALYSIS.TITLE</label>
                <input type="text" class="form-control" ng-model="outField.alias">
            </div>
            <div class="form-group col-md-2">
                <label class="required" translate>ANALYSIS.TYPE</label>
                <select class="form-control" ng-model="outField.valueType" ng-model="outField.valueType" required>
                    <option value="" translate>LAYOUT.SELECT</option>
                    <option value="string" translate>ANALYSIS.TYPE_STRING</option>
                    <option value="number" translate>ANALYSIS.TYPE_NUMBER</option>
                    <option value="date" translate>ANALYSIS.TYPE_DATE</option>
                    <option value="disabled" translate>ANALYSIS.TYPE_DISABLED</option>
                </select>
            </div>
        </div>
        <div class="row" ng-if="outField">
            <div class="col-md-12 text-right">
                <a href="" class="btn btn-danger pull-left" ng-click="deleteOutField()" ng-if="outFieldEditIndex !== undefined" translate>
                    ANALYSIS.DELETE_OUTFIELD
                </a>
                <a href="" class="btn btn-default" ng-click="cancelOutField()" translate>
                    LAYOUT.CANCEL
                </a>
                <button class="btn btn-primary" ng-disabled="out_field.$invalid" ng-click="saveOutField()" translate>
                    ANALYSIS.SAVE_OUTFIELD
                </button>
            </div>
        </div>
    </form>
    </div>



    <div class="row" ng-if="!outField">
        <div class="col-md-12 text-right">
            <a href="#/maps/analysis" class="btn btn-default" translate>
                LAYOUT.CANCEL
            </a>
            <button class="btn btn-primary" ng-click="saveProject()" ng-disabled="analysisForm.$invalid" translate>
                LAYOUT.SAVE
            </button>
        </div>
    </div>



</section>
