<div class="row">
    <div class="col-md-12">        
        <h3 translate>{{isEditing ? 'DRILL_LEVEL.EDIT' : 'DRILL_LEVEL.ADD'}}</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form novalidate name="formulario" ng-submit="submit()">

            <div class="form-group">
                <label for="name" translate>DRILL_LEVEL.NAME</label>
                <input type="text"  class="form-control" id="description" name="name"
                       ng-model="drillLevel.name" required/>
                <div ng-show="formulario.name.$touched" ng-messages="formulario.description.$error"
                     ng-messages-include="portal-error-messages"></div>
            </div>

            <div class="form-group">
                <label for="parent" translate>DRILL_LEVEL.PARENT</label>
                <input type="text" class="form-control" id="parent" name="parent"
                       ng-model="drillLevel.parent" required/>
                <div ng-show="formulario.parent.$touched" ng-messages="formulario.parent.$error"
                     ng-messages-include="portal-error-messages"></div>
            </div>

            <div class="form-group">
                <label for="parentcolumn" translate>DRILL_LEVEL.PARENT_COLUMN</label>
                <input type="text" class="form-control" id="parentcolumn" name="parentcolumn"
                       ng-model="drillLevel.parentcolumn" required/>
                <div ng-show="formulario.parentcolumn.$touched" ng-messages="formulario.parentcolumn.$error"
                     ng-messages-include="portal-error-messages"></div>
            </div>                  

            <div class="form-group">
                <label for="child" translate>DRILL_LEVEL.CHILD</label>
                <input type="text" class="form-control" id="child" name="child"
                       ng-model="drillLevel.child" required/>
                <div ng-show="formulario.child.$touched" ng-messages="formulario.child.$error"
                     ng-messages-include="portal-error-messages"></div>
            </div>


            <div class="form-group">
                <label for="chidcolumn" translate>DRILL_LEVEL.CHILD_COLUMN</label>
                <input type="text" class="form-control" id="chidcolumn" name="chidcolumn"
                       ng-model="drillLevel.chidcolumn" required/>
                <div ng-show="formulario.chidcolumn.$touched" ng-messages="formulario.chidcolumn.$error"
                     ng-messages-include="portal-error-messages"></div>
            </div>            
   


            <a href="" ng-click="cancel();"
               class="btn btn-default" translate>
                LAYOUT.CANCEL
            </a>
            <button class="btn btn-primary" translate ng-disabled="formulario.$invalid" ng-click="ok(drillLevel);">
                LAYOUT.SAVE
            </button>
        </form>
    </div>
</div>
