<div class="row">
    <div class="col-md-12">
        <h3 translate>DRILL.VIEW</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="btn-group">
            <button class="btn btn-default">
                <span class="icon-chevron-left" aria-hidden="true"></span>
            </button>
            <button class="btn btn-default">
                <span class="icon-chevron-right" aria-hidden="true"></span>
            </button>
        </div>
    </div>    
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well margin-top-single margin-bottom-single">


            <p ng-if="drill.name">
                <strong translate>DRILL.NAME</strong>:
                {{drill.name}}
            </p>

            <p ng-if="drill.fantasyName">
                <strong translate>DRILL.ANALYSIS</strong>:
                {{drill.fantasyName}}
            </p>


        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-right">
        <a href="#/maps/drill" role="button" class="btn btn-default" translate>
            LAYOUT.BACK
        </a>
    </div>
</div>