<div class="well drop-box set-file dropzone dropzone-inspection" >
    <div 
        class="drop-box set-file dropzone dropzone-file"
        ng-file-drop 
        ng-file-select
        ng-multiple="false"
        ng-file-change="fileDropped($files, $event, $rejectedFiles)" 
        ng-accept="filesType" 
        ng-model-rejected="rejFiles" 
        allow-dir="false" 
        drag-over-class="{accept:'accept', reject:'reject'}">
        <p class="dropzone-plus">+</p>
    </div>

    <div ng-repeat="file in documents" class="dropzone-file">
        <div class="file-remove" ng-click="removeFile(file)">
            <p>x</p>
        </div>
        <img ng-if="isImage(file)" class="file-item" ng-src="{{file.image}}" />
        <div class="file" ng-if="!isImage(file)">
            <p>{{file.name.substring(0, 15)}}</p>
            <img class="file-item file-item-others" ng-src="{{file.image}}" />
        </div>
    </div>
</div>