<div class="row">
    <div class="col-md-12">
        <h3 translate>INSTRUMENT.VIEW</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="btn-group">
            <button class="btn btn-default">
                <span class="icon-chevron-left" aria-hidden="true"></span>
            </button>
            <button class="btn btn-default">
                <span class="icon-chevron-right" aria-hidden="true"></span>
            </button>
        </div>
    </div>    
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well margin-top-single margin-bottom-single">
            
      
            
            
            <p ng-if="instrument.code">
                <strong translate>INSTRUMENT.CODE</strong>:
                {{instrument.code}}
            </p>
            
            <p ng-if="instrument.name">
                <strong translate>INSTRUMENT.NAME</strong>:
                {{instrument.name}}
            </p>
            
            <p ng-if="instrument.certificateNumber">
                <strong translate>INSTRUMENT.CERTIFICATE</strong>:
                {{instrument.certificateNumber}}
            </p>
            
            <p ng-if="instrument.calibrationDate">
                <strong translate>INSTRUMENT.CALIBRATION_DATE</strong>:
                {{instrument.calibrationDate}}
            </p>
            
            <p ng-if="instrument.dueDate">
                <strong translate>INSTRUMENT.VALIDATION_DATE</strong>:
                {{instrument.dueDate}}
            </p>
            
            <p ng-if="instrument.manufacturer">
                <strong translate>INSTRUMENT.MANUFACTURER_NAME</strong>:
                {{instrument.manufacturer}}
            </p>                                
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-right">
        <a href="#/inspection/instrument" role="button" class="btn btn-default" translate>
            LAYOUT.BACK
        </a>
    </div>
</div>