/*Visualizador DEFAULT*/
.file-falso {
    padding-right: 160px
}
.btn-false {
    position: absolute; 
    right: 0px; 
    top: 0px;
}
.file-original {
    height: 34px !important; 
    opacity: 0; 
    position: absolute; 
    right: 0px; 
    top: 0px; 
    width: 172px;
}

/*Visualizador HEATMAP*/
.txtColorHeatmap {
    border-right: none; 
    float: left;
    width: 80%; 
}
.corColorHeatmap {
    float: left;
    padding: 0px; 
    width: 20%; 
}

/*Visualizador CLUSTER*/
.txtColorCluster {
    float: left; 
    width: 100%;
}
.corColorCluster {
    padding: 0px;
    position: absolute; 
    right: 0px; 
    top: 24px; 
    width: 40px; 
}
.cmpOpacity {
    border: none;
}

/*quadro de dados de visualizador agrupado*/
.quadroEsquerdo {
    border: thin solid silver;
    margin-bottom: 25px;
    margin-left: 14px;
    margin-top: 15px;
    max-height: 200px;
    min-height: 35px;
    overflow: auto;
    width: 47%;
}
.quadroDireito {
    border: thin solid silver;
    float: right;
    margin-bottom: 25px;
    margin-right: 17px;
    margin-top: 15px;
    max-height: 200px;
    min-height: 35px;
    overflow: auto;
    text-align: right;
    width: 47%;
}

.btn_data_viewerGroup {
    position: absolute;
    left: 10px;
}

.btn_data_viewer {
    position: absolute;
    right: 10px;
}

.btnMargin{
    margin-top: 5px;
    margin-bottom: 5px;
}

.legendMap {
    position: absolute;
    float: left;
    z-index: 9999;
    overflow-y: scroll;
    bottom: 40px;
    border-color: gray;
    left: 43px;
    max-height: 300px;
    background-color: white;
    padding: 10px;
}

.analysis-viewer {
    height:30em;
    
    viewer {
        border:none;
        &:hover:not(.edit) {
            border:none;
        }
    }
}

viewer {
    analysis-viewer {
        @include clearfix;
        display:block;
        height:100%;
    }
}
