/*Visualizador DEFAULT*/
.file-falso {
    padding-right: 160px
}
.btn-false {
    position: absolute; 
    right: 0px; 
    top: 0px;
}
.file-original {
    height: 34px !important; 
    opacity: 0; 
    position: absolute; 
    right: 0px; 
    top: 0px; 
    width: 172px;
}

/*Visualizador HEATMAP*/
.txtColorHeatmap {
    border-right: none; 
    float: left;
    width: 80%; 
}
.corColorHeatmap {
    float: left;
    padding: 0px; 
    width: 20%; 
}

/*Visualizador CLUSTER*/
.txtColorCluster {
    float: left; 
    width: 100%;
}
.corColorCluster {
    padding: 0px;
    position: absolute; 
    right: 0px; 
    top: 24px; 
    width: 40px; 
}
.cmpOpacity {
    border: none;
}