.sidebar-viewer {

    width: 100%;
    position: relative;

    ul[dnd-list], ul[dnd-list] > li {
        position: relative;
    }

    ul[dnd-list] {
        min-height: 100px;
        padding-left: 0px;
        border: dashed 0.2em $darkerWhite;
        margin-top:0.5em;
        padding: 0.8em;
        min-height: 12em;
        
        &.dndDragover {
            background-color: $darkWhite;
            border: dashed 0.2em $darkerWhite;
        }
        
        &.has-item {
            background-color:$white;
            border: solid 0.2em $darkerWhite;
            
            .dndPlaceholder {
                display:block;
                background-color: $darkWhite;
                border: dashed 0.2em $darkerWhite;
            }
        }
        
        .dndPlaceholder {
            display: none;
        }

        .dndDraggingSource {
            display: none;
        }
        
        li {
            background-color: $presenterBlue;
            box-shadow: 0.1em 0.1em 0 $darkerWhite;
            border-radius: 0.2em;
            display: inline-block;
            color: $white;
            font-size: 14px;
            line-height:2em;
            height:2em;
            width: auto;
            cursor: pointer;
            margin-bottom:0.25em;
            margin-right:0.25em;
            padding:0 0.5em;
            @include clearfix;
            
            .icon-close {
                color:$darkerWhite;
                line-height:1em;
                width:1em;
                text-align:center;
                margin:0.5em 0;
                float:right;
                &:hover {
                    color:$white;
                }
            }

            &.selected {
                background-color: #297eb8;
                color: #fff;
            }
        }
    }
}


.table-viewer {

    tr[dnd-list], tr[dnd-list] > th {
        position: relative;
    }

    tr[dnd-list] {
        min-height: 200px;
        padding-left: 0px;

        .dndDraggingSource {
            display: none;
        }
        .dndPlaceholder {
            display: block;
            background-color: $darkWhite;
            min-width: 70px;
            min-height: 40px;
            border: dashed 0.2em $darkerWhite;
        }
        th {
            cursor: pointer;
        }
        
    }
}


.sidebar-analysis-columns {
    height: 20em;
    overflow-y: auto;
    background-color: $darkerGray;

    ul[dnd-list]{
        width: 100%;
        padding:0;
        margin:0;
        background-color:$darkerWhite;
        list-style:none;
        li{
            background-color: $darkWhite;
            border: 1px dashed $darkerWhite;
            position: relative;
            display: block;
            width: 100%;
            line-height: 2em;
            cursor: move;
            font-weight: bold;
        }
    }
}

.analysis-button button{
    margin-top: 10px;
    width: 216px;
    margin-left: 20px;
}

.box-viewer{
    width: 100%;

    .box-name {
        font-weight:bold;
        font-size: 1.1em;
    }
    .columns-viewer {
/*        margin-top:0.5em;
        border: 0.2em dashed $darkWhite;
        padding: 0.8em;
        min-height: 12em;*/

        .sidebar-viewer {
            ul {
                li {

                }
            }
        }
    }
}

.tab-switch-viewer-type{
    width: 100%;
    overflow-y: auto;

    .switch-viewer-type{
        position: relative;
        margin: 0px;
        padding: 0px;
        float:left;
        width: 50%;
        color: $white;
        font-size: 1.8em;
        line-height: 4em;
        text-align: center;

        &:hover{
            cursor:pointer;
            background-color: $darkerGray;
        }
        img {
            width:50px;
        }
    }
}

.tab-viewer-settings{
    width: 100%;
    background-color: $darkerGray;

    .switch-viewer{
        background-color: $darkerGray;
        position: relative;
        margin: 0px;
        padding: 0px;
        float:left;
        width: 33.33%;
        color: $white;
        font-size: 1.8em;
        line-height: 2em;
        text-align: center;
    }
}

.switch-viewer-back {
    background-color: $darkerGray;
    position: relative;
    margin: 0px;
    padding: 0px;
    float:left;
    width: 20%;
    margin-right: 10px;
    color: $white;
    font-size: 1.8em;
    line-height: 2em;
    text-align: center;
}

.switch-viewer-back div:hover{
    width: 100%;
    height: 100%;
    cursor:pointer;
    background-color: $gray;
}

.settings-text{
    font-size: 1em;
    line-height: 3.6em;
    color: $white;
}

.switch-viewer div:hover{
    width: 100%;
    height: 100%;
    cursor:pointer;
    background-color: $gray;
}

.navigation-settings:hover{
    cursor:pointer;
    background-color: $gray;
}

.navigation-settings{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 11%;
}

.switch-viewer div.active{
    background-color: $presenterBlue;
}

.accordion-viewer {
    padding-top:50px;
}
.accordion-viewer-type{
    padding-top: 0;
}

.combo-analysis{
    padding-top: 1px;
}

.accordion-viewer {
    .panel-group{
        background: $black;

        .panel {
            border-radius: 0;
            border:none;
        }
        .panel-heading{
            background: $black !important;
            border:none !important;
            border-radius: 0;
            padding: 0 10px;
            line-height:4em;

            h4 {
                line-height:2em;
                a.accordion-toggle {
                    line-height:2em;
                    display:block;
                }
            } 
        }
        .panel-title{
            color: $white !important;
            font-family: 'Open Sans' !important;
        }
        .panel-collapse{
            background-color: $darkerGray !important;
            border:none !important;
        }
        .panel-body{
            color: $white !important;
            border:none !important;
            font-family: 'Open Sans' !important;
            padding: 0px !important;
        }
    }
}

.form-sidebar {
    @extend .margin-top-single;
    padding: 30px 10px 0;
    
    label {
        color: $white;
    }
}

.form-sidebar-filter {
    label {
        color: $white !important;
    }
}

.layout-config {
    color: $white;
    padding:0 10px;

    .corColorCluster {
        right:15px;
    }
}

.modal-table-analysis{
    overflow: auto;
    height: 30em;

    table {
        thead, tbody {
            tr {
                td, th {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}

.layout-config{
    overflow-y: auto;
    height: 550px;
    padding-bottom: 2em;
}

.viewer-template-modal {
    .modal-body {
        ul.nav {
            @include clearfix();

            li {
                display:block;
                float:left;
                box-sizing: border-box;
                width:(100%/7);
                padding:0;
                margin:0;

                a {
                    padding-left:0;
                    padding-right:0;
                    border-radius:0;
                    text-align:center;
                    font-size:0.9em;
                    color:$presenterBlue;

                    transition:background-color $defaultAnimationDuration,
                        color $defaultAnimationDuration;
                }

                &.active {
                    a {
                        transition:background-color $defaultAnimationDuration,
                            color $defaultAnimationDuration;

                        background-color:$presenterBlue;
                        color:$white;
                    }
                }
            }
        }
        .container-gallery {
            ul {
                margin: 0;
                li {
                    border-radius:4px;
                    a {
                        height: 134px;

                        span {
                            margin-top: -4px;
                            color:$presenterBlue;
                        }
                    }
                    &:hover {
                        background-color:darken($white, 10%);
                    }
                }
            }
        }
    }
}

.viewer-gauge-interval-list {
    > .clearfix {
        font-size:1.1em;
        font-weight: bold;
        line-height:2em;
    }
    > [ng-repeat]{
        padding:0;
        line-height:2.5em;
        @include clearfix();
        * {
            display:block;
            float:left;
        }
        .viewer-gauge-interval {
            width: 60px;
            padding:0;
            margin-right:1em;

            &[type=color] {

                appearance: none;

                &::-webkit-color-swatch-wrapper {
                    padding: 0;
                }
            }
        }
    }
}

.close-modal{
    float:right;
    cursor: pointer;
}
