<accordion close-others="oneAtATime">
    <accordion-group heading="+ Appearance" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
        <h5>Appearance</h5>
        <div class="sidebar-form">
            <label>Text Color:</label>
            <input type="color" ng-model="analysisViewer.viewer.configuration.color"/>
        </div>
        <div class="sidebar-form">
            <label>Font family:</label>
            <input type="text"/>
        </div>
    </accordion-group>
    <accordion-group heading="+ Background and plot area" >
        <div class="navigation-settings" ng-click="setLayoutSettings('PLOAT_AREA')">
            PLOAT AREA
        </div>
        <div class="navigation-settings" ng-click="setLayoutSettings('MARGINS')">
            MARGINS
        </div>
    </accordion-group>
</accordion>