<div class="viewer-template-modal">
    <div class="modal-header">
        <h3 class="modal-title">{{'VIEWER.CHOOSE_TEMPLATE'| translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="container-gallery clearfix">
            <ul class="gallery-view">
                <li ng-repeat="types in templates" class="item-gallery">
                    <a ng-click="ok()" href="#/presenter/viewer/new/chartjs/{{types.id}}/{{analysis}}">

                        <!-- CHART OTHER -->
                        <img ng-if="types.id === 'other-singlesource'" class="thumb-chart" ng-src="assets/img/presenter/outros/other-singlesource.png" />
                        <img ng-if="types.id === 'other-table'" class="thumb-chart" ng-src="assets/img/presenter/outros/table.png" />
                        <img ng-if="types.id === 'other-number'" class="thumb-chart" ng-src="assets/img/presenter/number.png" />

                        <!-- ChartJS -->
                        <img ng-if="types.id === 'bar-chartjs'" class="thumb-chart" ng-src="assets/img/presenter/colunas/column-using-custom-colors.png" />
                        <img ng-if="types.id === 'bubble-chartjs'" class="thumb-chart" ng-src="assets/img/presenter/xy/xy-markers.png" />
                        <img ng-if="types.id === 'donut-chartjs'" class="thumb-chart" ng-src="assets/img/presenter/circular/donut.png" />
                        <img ng-if="types.id === 'horizontal-bar-chartjs'" class="thumb-chart" ng-src="assets/img/presenter/barras/bar-clustered.png" />
                        <img ng-if="types.id === 'line-chartjs'" class="thumb-chart" ng-src="assets/img/presenter/linhas/line.png" />
                        <img ng-if="types.id === 'pie-chartjs'" class="thumb-chart" ng-src="assets/img/presenter/circular/pie.png" />
                        <img ng-if="types.id === 'polar-area-chartjs'" class="thumb-chart" ng-src="assets/img/presenter/outros/other-polar.png" />
                        <img ng-if="types.id === 'radar-chartjs'" class="thumb-chart" ng-src="assets/img/presenter/outros/other-radar.png" />
                        <img ng-if="types.id === 'area-chartjs'" class="thumb-chart" ng-src="assets/img/presenter/area/area-area.png" />

                        <img ng-if="types.id === 'twitter-timeline'" class="thumb-chart" ng-src="assets/img/presenter/twitter.png" />

                        <span>{{'VIEWER_TEMPLATE_ITEM.' + types.id| translate}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
