<form novalidate name="formulario" ng-submit="submit()">
    <div class="row">
        <div class="col-md-12">
            <h3 translate>VIEWER.VIEWER</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label translate>VIEWER.NAME</label>
                <input type="text" ng-model="viewer.name" required class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label translate>VIEWER.DESCRIPTION</label>
                <input type="text" ng-model="viewer.description" required class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ng-if="viewer.configuration.type == 'serial' ||
                                    viewer.configuration.type == 'pie' ||
                                    viewer.configuration.type == 'funnel' ||
                                    viewer.configuration.type == 'radar'"> 
                <div class="boxViewer">
                    <div class="columnsViewer">
                        <label translate>VIEWER.METRIC</label>
                        <div class="sidebarViewer">
                            <ul dnd-list="viewer.metrics">
                                <li ng-repeat="column in viewer.metrics" dnd-draggable="column" dnd-moved="viewer.metrics.splice($index, 1)" dnd-effect-allowed="move" >
                                    {{column.label}}
                                </li>
                                <li class="animate-repeat" ng-if="results.length === 0">
                                    <strong translate>FILTER_EMPTY</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="boxViewer">
                    <div class="columnsViewer">
                        <label translate>VIEWER.DESCRIPTION</label>
                        <div class="sidebarViewer">
                            <ul dnd-list="viewer.descriptions">
                                <li ng-repeat="column in viewer.descriptions" dnd-draggable="column" 
                                    dnd-moved="viewer.descriptions.splice($index, 1)" 
                                    dnd-effect-allowed="move" 
                                    >
                                    {{column.label}}
                                </li>
                                <li class="animate-repeat" ng-if="results.length === 0">
                                    <strong>No results found...</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div ng-if="viewer.configuration.type == 'xy'"> 
        <div class="boxViewer">
            <div class="columnsViewer">
                <label translate>VIEWER.XFIELD</label>
                <div class="sidebarViewer">
                    <ul dnd-list="viewer.xfields">
                        <li ng-repeat="column in viewer.xfields" dnd-draggable="column" dnd-moved="viewer.xfields.splice($index, 1)" dnd-effect-allowed="move" ng-attr-style="background-image:url({{column.label}})">
                            {{column.label}}
                        </li>
                        <li class="animate-repeat" ng-if="results.length === 0">
                            <strong translate>FILTER_EMPTY</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="boxViewer">
            <div class="columnsViewer">
                <label translate>VIEWER.YFIELD</label>
                <div class="sidebarViewer">
                    <ul dnd-list="viewer.yfields">
                        <li ng-repeat="column in viewer.yfields" dnd-draggable="column" 
                            dnd-moved="viewer.yfields.splice($index, 1)" 
                            dnd-effect-allowed="move" 
                            ng-attr-style="background-image:url({{column.label}})">
                            {{column.label}}
                        </li>
                        <li class="animate-repeat" ng-if="results.length === 0">
                            <strong>No results found...</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="boxViewer">
            <div class="columnsViewer">
                <label translate>VIEWER.VALUEFIELD</label>
                <div class="sidebarViewer">
                    <ul dnd-list="viewer.valueFields">
                        <li ng-repeat="column in viewer.valueFields" dnd-draggable="column" 
                            dnd-moved="viewer.valueFields.splice($index, 1)" 
                            dnd-effect-allowed="move" 
                            ng-attr-style="background-image:url({{column.label}})">
                            {{column.label}}
                        </li>
                        <li class="animate-repeat" ng-if="results.length === 0">
                            <strong>No results found...</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 

    <div ng-if="viewer.configuration.type == 'gauge'"> 
        <div class="boxViewer">
            <div class="columnsViewer">
                <label translate>VIEWER.METRIC</label>
                <div class="sidebarViewer">
                    <ul dnd-list="viewer.metrics">
                        <li ng-repeat="column in viewer.metrics" dnd-draggable="column" dnd-moved="viewer.metrics.splice($index, 1)" dnd-effect-allowed="move" ng-attr-style="background-image:url({{column.label}})">
                            {{column.label}}
                        </li>
                        <li class="animate-repeat" ng-if="results.length === 0">
                            <strong translate>FILTER_EMPTY</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-default ng-scope" type="button" ng-click="newInterval()">
                <span class="icon-plus"></span>
                <translate>LAYOUT.ADD</translate>
            </button>
        </div>    
        <div ng-repeat="interval in viewer.configuration.axes[0].bands">
            <label translate>VIEWER.INTERVAL</label>
            <input type='color' 
                   ng-model='interval.color'/>
            De
            <input type='number' style="width: 60px;"
                   ng-model='interval.startValue'/>
            Até
            <input type='number' style="width: 60px;"
                   ng-model='interval.endValue'/>
            <button ng-if="iLastInterval > 2" type="button" class="btn btn-default"
                    ng-click="$parent.deleteInterval($parent.interval)">
                <span class="icon-minus"></span>
            </button>
        </div>
    </div>
</div>
<div id="analysis-viewer" class="col-md-12">
    <viewer  ng-model="viewer">
    </viewer>
</div>
<div class="col-md-12">
    <div class="form-group">
        <a href="#/presenter/viewer" class="btn btn-default" translate>
            LAYOUT.CANCEL
        </a>
        <button class="btn btn-primary" translate>
            LAYOUT.SAVE
        </button>
    </div>
</div>
</div>
</form>
