<form novalidate name="formViewer" ng-submit="submit()" class="viewer-form">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" validated-field-holder="formObject.name">
                <input required type="text" ng-model="viewer.name" required
                       id="name" class="form-control connecta-inline-edit-input"
                       placeholder="{{'VIEWER.NAME' | translate}}" autofocus/>
                <validated-field-messages ng-model="formViewer.name"></validated-field-messages>

                <input type="text" ng-model="viewer.description"
                       id="description" class="form-control connecta-inline-edit-textarea"
                       placeholder="{{'VIEWER.DESCRIPTION' | translate}}"/>
            </div>
        </div>
    </div>

    <div class="row" ng-if="viewer.configuration.subtype != 'bubble'">
        <div class="col-md-6">
            <div class="box-viewer">
                <span class="box-name" translate>VIEWER.METRIC</span>
                <div class="columns-viewer">
                    <div class="sidebar-viewer">
                        <ul dnd-list="viewer.metrics" dnd-drop="transformColumnDrop(item, 'METRIC')"
                            ng-class="{
                                'has-item':!!viewer.metrics.length
                            }">
                            <li ng-repeat="viewerColumn in viewer.metrics"
                                dnd-draggable="viewerColumn"
                                dnd-moved="viewer.metrics.splice($index, 1)"
                                dnd-effect-allowed="move">
                                {{viewerColumn.analysisColumn.label}}
                                <span class="icon-close" ng-click="viewer.metrics.splice($index, 1)"></span>
                            </li>
                            <li class="animate-repeat" ng-if="results.length === 0">
                                {{'LAYOUT.NO_RESULTS'| translate}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box-viewer">
                <span class="box-name" translate>VIEWER.DESCRIPTION</span>
                <div class="columns-viewer">
                    <div class="sidebar-viewer">
                        <ul dnd-list="viewer.descriptions" dnd-drop="transformColumnDrop(item, 'DESCRIPTION')"
                            ng-class="{
                                'has-item':!!viewer.descriptions.length
                            }">
                            <li ng-repeat="viewerColumn in viewer.descriptions"
                                dnd-draggable="viewerColumn"
                                dnd-moved="viewer.descriptions.splice($index, 1)"
                                dnd-effect-allowed="move">
                                {{viewerColumn.analysisColumn.label}}
                                <span class="icon-close" ng-click="viewer.descriptions.splice($index, 1)"></span>
                            </li>
                            <li class="animate-repeat" ng-if="results.length === 0">
                                {{'LAYOUT.NO_RESULTS'| translate}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="viewer.configuration.subtype == 'bubble'">
        <div class="col-md-6">
            <div class="box-viewer">
                <span class="box-name" translate>VIEWER.XFIELD</span>
                <div class="columns-viewer">
                    <div class="sidebar-viewer">
                        <ul dnd-list="viewer.xfields" dnd-drop="transformColumnDrop(item, 'XFIELD')"
                            ng-class="{
                                'has-item':!!viewer.xfields.length
                            }">
                            <li ng-repeat="column in viewer.xfields" dnd-draggable="column"
                                dnd-moved="viewer.xfields.splice($index, 1)" dnd-effect-allowed="move"
                                ng-attr-style="background-image:url({{column.analysisColumn.label}})">
                                {{column.analysisColumn.label}}
                                <i class="icon-close" ng-click="viewer.xfields.splice($index, 1)"></i>
                            </li>
                            <li class="animate-repeat" ng-if="results.length === 0">
                                {{'LAYOUT.NO_RESULTS'| translate}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box-viewer">
                <span class="box-name" translate>VIEWER.YFIELD</span>
                <div class="columns-viewer">
                    <div class="sidebar-viewer">
                        <ul dnd-list="viewer.yfields" dnd-drop="transformColumnDrop(item, 'YFIELD')"
                            ng-class="{
                                'has-item':!!viewer.yfields.length
                            }">
                            <li ng-repeat="column in viewer.yfields" dnd-draggable="column"
                                dnd-moved="viewer.yfields.splice($index, 1)"
                                dnd-effect-allowed="move"
                                ng-attr-style="background-image:url({{column.label}})">
                                {{column.analysisColumn.label}}
                                <i class="icon-close" ng-click="viewer.yfields.splice($index, 1)"></i>
                            </li>
                            <li class="animate-repeat" ng-if="results.length === 0">
                                {{'LAYOUT.NO_RESULTS'| translate}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box-viewer">
                <span class="box-name" translate>VIEWER.VALUEFIELD</span>
                <div class="columns-viewer">
                    <div class="sidebar-viewer">
                        <ul dnd-list="viewer.valueFields" dnd-drop="transformColumnDrop(item, 'VALUEFIELD')"
                            ng-class="{
                                'has-item':!!viewer.valueFields.length
                            }">
                            <li ng-repeat="column in viewer.valueFields" dnd-draggable="column"
                                dnd-moved="viewer.valueFields.splice($index, 1)"
                                dnd-effect-allowed="move"
                                ng-attr-style="background-image:url({{column.label}})">
                                {{column.analysisColumn.label}}
                                <i class="icon-close" ng-click="viewer.valueFields.splice($index, 1)"></i>
                            </li>
                            <li class="animate-repeat" ng-if="results.length === 0">
                                {{'LAYOUT.NO_RESULTS'| translate}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box-viewer">
                <span class="box-name" translate>VIEWER.DESCRIPTION</span>
                <div class="columns-viewer">
                    <div class="sidebar-viewer">
                        <ul dnd-list="viewer.descriptions" dnd-drop="transformColumnDrop(item, 'DESCRIPTION')"
                            ng-class="{
                                'has-item':!!viewer.descriptions.length
                            }">
                            <li ng-repeat="viewerColumn in viewer.descriptions"
                                dnd-draggable="viewerColumn"
                                dnd-moved="viewer.descriptions.splice($index, 1)"
                                dnd-effect-allowed="move">
                                {{viewerColumn.analysisColumn.label}}
                                <span class="icon-close" ng-click="viewer.descriptions.splice($index, 1)"></span>
                            </li>
                            <li class="animate-repeat" ng-if="results.length === 0">
                                {{'LAYOUT.NO_RESULTS'| translate}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-bottom-single">
        <div class="col-md-12 analysis-viewer">
            <viewer ng-model="viewer" edit="true"></viewer>
        </div>
    </div>

    <div class="row margin-top-single">
        <div class="col-md-12 text-right">
            <a href="#/presenter/viewer" class="btn btn-default" translate>
                LAYOUT.BACK
            </a>
            <button type="button" class="btn btn-default" translate
                    ng-click="viewer.exportImage()">
                VIEWER.EXPORT
            </button>
            <div class="inline-block" title="{{(formViewer.$invalid?'VALIDATION.FILL_REQUIRED_FIELDS_ENABLE_SAVE':'') | translate}}">
                <button class="btn btn-primary" translate ng-disabled="formViewer.$invalid">
                    LAYOUT.SAVE
                </button>
            </div>
        </div>
    </div>
</form>
