<div class="row">
    <div class="col-md-12">
        <h3 class="margin-bottom-single">
            {{'VIEWER.VIEWERS'| translate}}

            <button class="btn btn-primary pull-right" ng-click="open('lg')">
                <span class="icon-plus"></span>
                <translate>LAYOUT.NEW_M</translate>
            </button>
        </h3>
    </div>
</div>

<!--<div class="row search-header">
    <div class="col-sm-6">
        <span class="btn-group" ng-init="listview.mode = 'list'">
            <button btn-radio="'grid'" class="btn btn-default" ng-model="listview.mode">
                <span class="glyphicon glyphicon-th-large"></span>
                <translate class="sr-only">LAYOUT.SHOW_GRID</translate>
            </button>
            <button btn-radio="'list'" class="btn btn-default" ng-model="listview.mode">
                <span class="glyphicon glyphicon-th-list"></span>
                <translate class="sr-only">LAYOUT.SHOW_LIST</translate>
            </button>
        </span>
        <button class="btn btn-default" ng-click="showFilter = !showFilter">
            <span class="icon-funnel"></span>
            <span class="sr-only" translate>
                LAYOUT.FILTER
            </span>
        </button>
    </div>
    <div class="col-sm-6">
        <div class="form-group has-feedback">
            <input class="form-control" type="text" ng-model="filter.name"
                   placeholder="{{'LAYOUT.SEARCH'| translate}}" maxlength="100" autofocus />
            <span class="glyphicon glyphicon-search form-control-feedback">
            </span>
        </div>
    </div>
</div>-->

<div class="row">
    <div class="col-md-12">
        <div class="well margin-top-single" ng-show="showFilter" >
            <div class="row">
                <div class="col-md-6">
                    <label for="" translate>DATASOURCE.DATASOURCE_TYPE</label>
                    <select ng-model="filter.type" class="form-control" ng-options="tp as tp.name for tp in types">
                        <option value="">Selecione</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" translate>DATASOURCE.SEARCH_TERM</label>
                        <input type="text" class="form-control" id="name" name="name"
                               ng-model="typedDatasource.name" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-default">Aplicar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table table-striped table-hover" ng-table="tableParams" show-filter="true">
    <thead>
        <tr class="row">
            <th class="col-lg-1 col-xs-1 text-center">
                <label class="reset-spacing full-size-block cursor-pointer">
                    <input type="checkbox" class="reset-spacing cursor-pointer hidden"
                           select-all="viewers" select-all-property="selected"
                           ng-model="selected" />
                    <span class="bulk-actions-checkbox" ng-class="{
                                'icon-check-box-outline-blank':!selected,
                                'icon-check-box':selected,
                            }"></span>
                </label>
            </th>
            <th class="col-md-8 col-sm-6 col-xs-11" translate>VIEWER.NAME</th>
            <th class="col-md-3 col-sm-5 hidden-xs" translate>VIEWER.TYPE</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-if="!viewers.length" class="row">
            <td class="col-xs-12 text-center" colspan="3" translate>
                LAYOUT.NO_RESULTS
            </td>
        </tr>
        <tr ng-repeat="vw in viewers | filter:q as results" ng-class="{'selected':vw.selected}"
            class="row am-slide-right">
            <td class="col-md-1 col-xs-1 text-center">
                <label class="reset-spacing full-size-block cursor-pointer">
                    <input type="checkbox" class="reset-spacing cursor-pointer hidden"
                           ng-model="vw.selected" />
                    <span class="bulk-actions-checkbox"
                          ng-class="{
                                'icon-check-box-outline-blank':!vw.selected,
                                'icon-check-box':vw.selected,
                            }"></span>
                </label>
            </td>
            <td class="col-md-8 col-sm-6 col-xs-11">
                <a href="#/presenter/viewer/{{vw.id}}/edit" class="full-size-block link-no-state">
                    <span class="list-icon-for-type visible-xs-inline hidden-sm hidden-md hidden-lg {{types[vw.type].icon}}"
                          title="{{types[vw.type].name}}"></span>
                    {{vw.name}}
                </a>
            </td>
            <td class="col-md-3 col-sm-5 hidden-xs">
                <a href="#/presenter/viewer/{{vw.id}}/edit" class="full-size-block link-no-state">
                    <span class="list-icon-for-type {{types[vw.type].icon}}"></span>
                    {{('VIEWER.TYPE_'+vw.type) | translate}}
                </a>
            </td>
        </tr>
    </tbody>
</table>

<bulk-action-bar ng-show="(viewers | filter:{selected:true}).length"
    class="am-slide-right">
    <bulk-action icon="icon-trash" title="LAYOUT.DELETE"
        ng-click="bulkRemove((viewers | filter:{selected:true}))">
    </bulk-action>
</bulk-action-bar>