<div class="sidebar-form">
    <label translate>VIEWER.ALPHA</label>
    <input type="number" ng-model="viewer.configuration.titles[0].alpha"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.BOLD</label>
    <input type="checkbox" ng-model="viewer.configuration.titles[0].bold"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.COLOR</label>
    <input type="color" ng-model="viewer.configuration.titles[0].color"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.SIZE</label>
    <input type="number" ng-model="viewer.configuration.titles[0].size"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.TEXT</label>
    <input type="text" ng-model="viewer.configuration.titles[0].text"/>
</div>