$loadingColor:#D30F0F;

@keyframes pace-spinner {
    0% { transform: rotate(0deg); transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
}

.pace-inactive {
    display: none;
}

.pace {
    pointer-events: none;
    user-select: none;

    .pace-progress {
        background: $loadingColor;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
    }

    .pace-progress-inner {
        display: block;
        position: absolute;
        right: 0px;
        width: 100px;
        height: 100%;
        box-shadow: 0 0 10px $loadingColor, 0 0 5px $loadingColor;
        opacity: 1.0;
        transform: rotate(3deg) translate(0px, -4px);
    }
    .pace-activity {
        display: block;
        position: fixed;
        z-index: 2000;
        top: 6px;
        right: 14px;
        width: 48px;
        height: 48px;
        border: solid 2px transparent;
        border-top-color: $loadingColor;
        border-left-color: $loadingColor;
        border-radius: 50%;
        animation: pace-spinner $defaultAnimationDuration*2 linear infinite;
    }
}