<div class="row">
    <div class="col-md-12">
        <h3 translate>{{message.subject}}</h3>

        <!--        //TODO filtros e search da Grid-->
        <div class="margin-top-single">
            <a href="#/speaknow/company/message"
               class="btn btn-default" translate>
                LAYOUT.BACK                     
            </a>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="well margin-top-single margin-bottom-single">
                    <p ng-if="message.subject">
                        <strong translate>COMPANY_MESSAGE.SUBJECT</strong>: 
                        {{message.subject}}
                    </p>
                    <p ng-if="message.feeling">
                        <strong translate>COMPANY_MESSAGE.FEELING</strong>: 
                        {{message.feeling}}
                    </p>
                    <p ng-if="message.message">
                        <strong translate>COMPANY_MESSAGE.MESSAGE</strong>: 
                        {{message.message}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>