<div class="row">
    <div class="col-xs-12">
        <div class="form-group checkbox">
            <label> 
                <translate>
                    VIEWER.CHART_SCROLL_BAR
                </translate>
                <input  type="checkbox" ng-model="chartScrollbar.ativo" ng-click="changeChartScrollbar()"/>
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group checkbox">
            <label> 
                <translate>
                    VIEWER.AUTO_GRID_COUNT
                </translate>
                <input  type="checkbox" ng-model="viewer.configuration.chartScrollbar.autoGridCount"/>
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group checkbox">
            <label> 
                <translate>
                    VIEWER.ENABLED
                </translate>
                <input  type="checkbox" ng-model="viewer.configuration.chartScrollbar.enabled"/>
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group checkbox">
            <label> 
                <translate>
                    VIEWER.HIDE_RESIZE_GRIPS
                </translate>
                <input  type="checkbox" ng-model="viewer.configuration.chartScrollbar.hideResizeGrips"/>
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group checkbox">
            <label> 
                <translate>
                    VIEWER.OPPOSITE_AXIS
                </translate>
                <input  type="checkbox" ng-model="viewer.configuration.chartScrollbar.oppositeAxis"/>
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group checkbox">
            <label> 
                <translate>
                    VIEWER.RESIZE_ENABLED
                </translate>
                <input  type="checkbox" ng-model="viewer.configuration.chartScrollbar.resizeEnabled"/>
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.SCROLLBAR_HEIGHT</label>
            <input class="form-control input-sm" type="number" ng-model="viewer.configuration.chartScrollbar.scrollbarHeight"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.SCROLL_DURATION</label>
            <input class="form-control input-sm" type="number" ng-model="viewer.configuration.chartScrollbar.scrollDuration"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group checkbox">
            <label> 
                <translate>
                    VIEWER.UPDATE_ON_RELEASE_ONLY
                </translate>
                <input  type="checkbox" ng-model="viewer.configuration.chartScrollbar.updateOnReleaseOnly"/>
            </label>
        </div>
    </div>
</div>
