<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.BORDER_ALPHA</label>
            <input class="form-control input-sm" type="number" ng-model="viewer.configuration.ballon.borderAlpha"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.BORDER_COLOR</label>
            <input class="form-control input-sm" type="text" ng-model="viewer.configuration.ballon.borderColor"/>
            <input class="form-control input-sm corColorCluster" type="color" ng-model="viewer.configuration.ballon.borderColor"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.BORDER_THICKNESS</label>
            <input class="form-control input-sm" type="number" ng-model="viewer.configuration.ballon.borderThickness"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.TEXT_COLOR</label>
            <input class="form-control input-sm" type="text" ng-model="viewer.configuration.ballon.color"/>
            <input class="form-control input-sm corColorCluster" type="color" ng-model="viewer.configuration.ballon.color"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.CORNER_RADIUS</label>
            <input class="form-control input-sm" type="number" ng-model="viewer.configuration.ballon.cornerRadius"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.FILL_ALPHA</label>
            <input class="form-control input-sm" type="number" ng-model="viewer.configuration.ballon.fillAlpha"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.FILL_COLOR</label>
            <input class="form-control input-sm" type="text" ng-model="viewer.configuration.ballon.fillColor"/>
            <input class="form-control input-sm corColorCluster" type="color" ng-model="viewer.configuration.ballon.fillColor"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.FONT_SIZE</label>
            <input class="form-control input-sm" type="text" ng-model="viewer.configuration.ballon.fontSize"/>
            <input class="form-control input-sm corColorCluster" type="color" ng-model="viewer.configuration.ballon.fontSize"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.HORIZONTAL_PADDING</label>
            <input class="form-control input-sm" type="text" ng-model="viewer.configuration.ballon.horizontalPadding"/>
            <input class="form-control input-sm corColorCluster" type="color" ng-model="viewer.configuration.ballon.horizontalPadding"/>
        </div>
    </div>
</div>
