<div class="sidebar-form">
    <label translate>VIEWER.BORDER_ALPHA</label>
    <input type="number" ng-model="viewer.configuration.ballon.borderAlpha"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.BORDER_COLOR</label>
    <input type="color" ng-model="viewer.configuration.ballon.borderColor"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.BORDER_THICKNESS</label>
    <input type="number" ng-model="viewer.configuration.ballon.borderThickness"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.TEXT_COLOR</label>
    <input type="color" ng-model="viewer.configuration.ballon.color"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.CORNER_RADIUS</label>
    <input type="number" ng-model="viewer.configuration.ballon.cornerRadius"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.FILL_ALPHA</label>
    <input type="number" ng-model="viewer.configuration.ballon.fillAlpha"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.FILL_COLOR</label>
    <input type="color" ng-model="viewer.configuration.ballon.fillColor"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.FONT_SIZE</label>
    <input type="color" ng-model="viewer.configuration.ballon.fontSize"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.HORIZONTAL_PADDING</label>
    <input type="color" ng-model="viewer.configuration.ballon.horizontalPadding"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.HORIZONTAL_PADDING</label>
    <input type="color" ng-model="viewer.configuration.ballon.horizontalPadding"/>
</div>