<div class="sidebar-form">
    <label translate>VIEWER.ADJUST_BORDER_COLOR</label>
    <input type="checkbox" ng-model="analysisViewer.viewer.configuration.ballon.adjustBorderColor"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.ANIMATION_DURATION</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.ballon.animationDuration"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.DISABLE_MOUSE_EVENTS</label>
    <input type="checkbox" ng-model="analysisViewer.viewer.configuration.ballon.disableMouseEvents"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.FADE_OUT_DURATION</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.ballon.fadeOutDuration"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.FIXED_POSITION</label>
    <input type="checkbox" ng-model="analysisViewer.viewer.configuration.ballon.fixedPosition"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.MAX_WIDTH</label>
    <input type="checkbox" ng-model="analysisViewer.viewer.configuration.ballon.maxWidth"/>
</div>