<div class="sidebar-form">
    <label translate>VIEWER.BACKGROUND_ALPHA</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.legend.backgroundAlpha"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.BACKGROUND_COLOR</label>
    <input type="color" ng-model="analysisViewer.viewer.configuration.legend.backgroundColor"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.BORDER_ALPHA</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.legend.borderAlpha"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.BORDER_COLOR</label>
    <input type="color" ng-model="analysisViewer.viewer.configuration.legend.borderColor"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.TEXT_COLOR</label>
    <input type="color" ng-model="analysisViewer.viewer.configuration.legend.color"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.FONT_SIZE</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.legend.fontSize"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.HORIZONTAL_GAP</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.legend.horizontalGap"/>
</div>