<div class="sidebar-form">
    <label translate>VIEWER.MARKER_BORDER_ALPHA</label>
    <input type="number" ng-model="viewer.configuration.legend.markerBoderAlpha"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.MARKER_BORDER_COLOR</label>
    <input type="color" ng-model="viewer.configuration.legend.markerBoderColor"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.MARKER_DISABLED_COLOR</label>
    <input type="color" ng-model="viewer.configuration.legend.markerDisabledColor"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.MARKER_LABEL_GAP</label>
    <input type="number" ng-model="viewer.configuration.legend.markerLabelGap"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.MARKER_SIZE</label>
    <input type="number" ng-model="viewer.configuration.legend.markerSize"/>
</div>