<div class="sidebar-form">
    <label translate>VIEWER.ALIGN</label>
    <select ng-model="analysisViewer.viewer.configuration.legend.align">
        <option value="right" translate>VIEWER.RIGHT</option>
        <option value="" translate>VIEWER.LEFT</option>
        <option value="center" translate>VIEWER.CENTER</option>
    </select>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.AUTO_MARGINS</label>
    <input type="checkbox" ng-model="analysisViewer.viewer.configuration.legend.autoMargins"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.MARGIN_BUTTOM</label>
    <input type="checkbox" ng-model="analysisViewer.viewer.configuration.legend.marginBottom"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.MARGIN_TOP</label>
    <input type="checkbox" ng-model="analysisViewer.viewer.configuration.legend.marginTop"/>
</div>