<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.ALIGN</label>
            <select ng-model="viewer.configuration.legend.align">
                <option value="right" translate>VIEWER.RIGHT</option>
                <option value="" translate>VIEWER.LEFT</option>
                <option value="center" translate>VIEWER.CENTER</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group checkbox">
            <label> 
                <translate>
                    VIEWER.AUTO_MARGINS
                </translate>
                <input  type="checkbox" ng-model="viewer.configuration.legend.autoMargins" />
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group checkbox">
            <label> 
                <translate>
                    VIEWER.MARGIN_BOTTOM
                </translate>
                <input  type="checkbox" ng-model="viewer.configuration.legend.marginBottom" />
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group checkbox">
            <label> 
                <translate>
                    VIEWER.MARGIN_TOP
                </translate>
                <input  type="checkbox" ng-model="viewer.configuration.legend.marginTop" />
            </label>
        </div>
    </div>
</div>