<div class="sidebar-form">
    <label translate>VIEWER.ROTATE</label>
    <input type="checkbox" ng-model="analysisViewer.viewer.configuration.rotate"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.THEME</label>
    <select ng-model="analysisViewer.viewer.configuration.theme">
        <option value="">None</option>
        <option value="light">Light</option>
        <option value="dark">Dark</option>
        <option value="black">Black</option>
        <option value="patterns">Patterns</option>
        <option value="chalk">Chalk</option>
    </select>
</div>