<div class="row">
    <div class="col-md-12">
        <h3 translate>HIERARCHY.HIERARCHY_VIEW</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="btn-group">
            <button class="btn btn-default">
                <span class="icon-chevron-left" aria-hidden="true"></span>
            </button>
            <button class="btn btn-default">
                <span class="icon-chevron-right" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="col-md-offset-8 col-md-2 text-right">
        <div class="btn-group">
            <a href="#/presenter/hierarchy/{{datasource.id}}" role="button" class="btn btn-default">
                <span class="icon-pencil" aria-hidden="true"></span>
            </a>
            <button class="btn btn-default" ng-click="excluir(datasource.id)">
                <span class="icon-trash" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well margin-top-single margin-bottom-single">
            <p>
                <strong translate>HIERARCHY.NAME</strong>: {{hierarchy.name}}
            </p>
            <div ui-tree="options"  data-nodrag >
                <ul ui-tree-nodes ng-model="hierarchy.hierarchyItem">
                    <li ng-repeat="item in hierarchy.hierarchyItem" ui-tree-node data-collapsed="{{open}}"
                        ng-include="'app/presenter/hierarchy/template/_hierarchy-view-tree-item.html'">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-right">
        <a href="#/presenter/hierarchy" role="button" class="btn btn-default" translate>
            LAYOUT.BACK
        </a>
    </div>
</div>