.dashboard {
  .dashboard-item {
    background: $white;
    .gridster-item-resizable-handler.handle-se {
      right:0;
      bottom:0;
    }

    &.gridster-item {
      overflow:hidden;
    }
  }
  .gridster-preview-holder {
    &.ng-enter, &.ng-leave {
      background-color:$lightGray !important;
    }
  }

  // Widgets
  .redactor-editor {
    padding:5px !important;
  }
}
