$headerHeight: 4em;

#menu-top {
    background: $white;

    box-shadow: 0em 0em 1em $black;

    line-height: $headerHeight;
    border: none;

    .navbar-toggle {
        padding:0;
        margin:0;
        width:1.5em;
        height:100%;
        color: $white;
        font-size: 2.8em;

        &:active {
            color: $lighterGray;
        }

        &.toggle-menu {
            display: block;
            float: left;
        }

    }

    .navbar-nav {

        li {
            padding: 0;

            & > a {
                line-height: 30px;
            }
        }

        &.menu > li > a {
            font-size: 14px;
            text-align: center;
        }
    }

    .navbar-header {
        background-color: $lightBlack;

        .navbar-brand {
            font-size: 13px;
            height: 60px;
            width: 20em;

            margin:0;padding:0;

            a {
                line-height: 30px;

                padding: 15px;
                padding-left: 10px;

                display: block;
                float: left;
                color: $white;
                width: 16px;
            }
        }
    }

    .dashboard {
      ul.nav.navbar-nav {
        li {
          a {
            padding:0;
            margin:0;
            height:100%;
            text-align:center;
            line-height:1.55em;
            font-size:3em;
            width:1.5em;
            display:block;
            float:left;

            .icon-view-quilt {
              color:$lightBlack;
              // font-size:3em;
              // line-height:1.55em;
              // text-align:center;
            }
          }
        }
      }
    }
}

/*Ícones das aplicações*/
.current-app {
    width: 11em;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11em auto;
    margin-right: 3em;
    transition: all 0.3s;
    float: right;
    //Temporário
    background-image: url('../img/logo-connecta.png');
}
