$boxWidth: 20em;
$boxHeight: 22em;

$loginGray:#bcbcbc;

[layout] {
    login {
        display: none;
    }
}

[layout].login {
    background-color: $white !important;
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    overflow-y:hidden;

    menu,
    heading,
    .page-container,
    .connecta-sidebar {
        display: none;
    }

    login {
        display: block;
    }

    section {
        font-size: 14px;
        width: $boxWidth;
        margin: 0 auto;
        color: $lightBlack;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .create-account-form {
        width:$boxWidth*3;
        margin:0 auto;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .form-account {
            width:$boxWidth*1.5;
            margin:0 auto;
            
            label {
                color:$lighterGray !important;
            }
        }

        h3 {
            text-align: center;
            margin:0;
            margin-bottom: 1em;
        }
        .header-login {
            margin:-1em 0;
            .logo {
                text-align: center;
                img {
                    width: 30em !important;
                }
            }
        }
    }
}

.header-login {
    margin:0;
    .logo {
        margin:0;
        img {
            width: 100%;
            margin:0;
        }
    }
    .version-app {
        text-align: right;
        margin-top: -2em;
        color: $lightBlack;
    }
}

.form-login {
    @include clearfix;
    width: 100%;
    margin-top: 2em;
    .line-form {
        @include clearfix;
        width: 100%;
        line-height: 2.5em;
        margin-bottom:1em;
        position:relative;
        span {
            width: 1em;
            line-height: 2.5em;
            color: $loginGray;
            position:absolute;
            left:0;
            top:0.1em;
        }
        .field-text {
            overflow:hidden;
            input {
                outline: none;
                display: block;
                width:100%;
                color: $lightBlack;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid $loginGray;
                padding-left:1.5em;
            }
        }
        .btn-login {
            background-color: $presenterBlue;
            width: 100%;
            height: 3em;
            line-height: 3em;
            color: $white;
            margin-top: 1.5em;
            transition: background-color 250ms;
            border: none;
            &:hover,
                &:focus {
                background-color: lighten($presenterBlue, $defaultLight);
                cursor: pointer;
                transition: background-color 250ms;
            }
        }
    }
}

#social-login{
    #separator-login{
        float: left;
        width: 280px;
        margin-top: 14px;
        margin-bottom: 14px;

        .line-separator{
            float: left;
            width: 124px;
            height: 25px;
        }

        .line-separator-txt{
            float: left;
            width: 20px;
            height: 25px;
            margin: 8px 6px;
        }
    }

    .btn-social {
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        color: #fff;
        margin-bottom: 0.5em;
        transition: background-color 250ms;
        float: left;
        border-radius: 3px;
    }

    .btn-facebook{
        background-color: #3B5A98;

        &:hover{
            background-color: lighten(#3B5A98, $defaultLight);
        }
    }

    .btn-google{
        background-color: #f63e28;

        &:hover{
            background-color: lighten(#f63e28, $defaultLight);
        }
    }

    span{
        font-size: 30px;
        margin: 6px 10px 6px 50px;
        float: left;
    }
}

.domain-list {
    width: 60em;
    margin: 5em auto 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1.4em 2em 0em 2em;
    border-radius:0.25em;

    p{
        color: $white;
        margin: 0 0 .75em 0;
        font-size: 1.75em;
        font-weight: 100;
    }
    .thumbnail-grid {
        .thumbnail-grid-item {
            position: relative;
            cursor: pointer;
            a {
                height:12em;
                display:block;
                width:100%;
                position: relative;
                margin-bottom: 2em;
                &:link, &:hover, &:visited {
                    * {
                        color:$white;
                    }
                }
                &:hover {
                    .thumbnail-grid-item-name {
                        background-color:$gray;
                    }
                }
                .thumbnail-grid-item-inner {
                    border:solid 0.5em transparent;
                    border-bottom-width: 0;
                    height:9em;
                    width:100%;
                    background-color:$darkWhite;
                    position:relative;
                    overflow:hidden;
                    text-align:center;

                    .icon-domain {
                        font-size:4em;
                        color:$gray;
                        line-height: 2em;
                        height: 2em;
                        display: block;
                        text-align: center;
                        width:100%;
                    }
                }
                .thumbnail-grid-item-name {
                    background-color:rgba($black, 0.6);
                    color:$white;
                    line-height:2.4em;
                    font-size:1.25em;
                    bottom:0;
                    left:0;
                    display: block;
                    width: 100%;
                    text-align: center;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 0 0.5em;
                }
            }

        }
    }
}
