// Sidebar do Connecta

.show-sidebar {
    .connecta-sidebar {
        font-family: 'Open Sans';
        width: $sidebarSize;
        background-color: $black;
        margin-top: 4.6em;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        transition:margin-right ease 250ms;

        &.connecta-sidebar-mini {
            margin-right: -20em;

            .connecta-sidebar-mini-handle:after {
                transform: rotate(0deg);
                margin-left:-0.25em;
            }
        }

        .connecta-sidebar-mini-handle {
            position:absolute;
            width:1em;
            height:5em;
            top:50%;
            margin-top: -2.5em;
            background-color: $black;
            left:-1em;
            border-top-left-radius: 0.8em;
            border-bottom-left-radius: 0.8em;
            @extend .cursor-pointer;

            &:after {
                transition: transform ease 250ms;
                transition-delay:250ms;
                transform: rotate(180deg);
                position:absolute;
                content:' ';
                display:block;
                border:solid .5em transparent;
                border-left-width: 0;
                border-right-color: $white;
                width:0;
                height:0;
                top:50%;
                left:50%;
                margin-top:-0.5em;
                margin-left:-0.2em;
            }
        }
    }
    .form-sidebar label {
        color: $white;
    }
    .form-sidebar-filter label {
        color: $white;
    }
    .form-sidebar{
        font-family: 'Open Sans';
        margin-left:20px;
        margin-top:20%;
    }
    .form-sidebar-filter{
        font-family: 'Open Sans';
        margin-left:20px;
    }
    .form-sidebar-filter input{
        width:90%;
    }
    .form-sidebar input{
        width:90%;
    }
    .page-container{
        margin-right: $sidebarSize;
    }
}
.sidebar-mini {
    .page-container {
        margin-right:initial;
    }
}