// Sidebar do Connecta
.show-sidebar{
    .connecta-sidebar {
        font-family: 'Open Sans';
        width: $sidebarSize;
        background-color: $black;
        margin-top: 4.6em;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .form-sidebar label {
        color: $white;
    }
    .form-sidebar-filter label {
        color: $white;
    }
    .form-sidebar{
        font-family: 'Open Sans';
        margin-left:15%;
        margin-top:20%;
    }
    .form-sidebar-filter{
        font-family: 'Open Sans';
        margin-left:15%;
    }
    .form-sidebar-filter input{
        width:90%;
    }
    .form-sidebar input{
        width:90%;
    }
    .page-container{
        margin-right: $sidebarSize;
    }
}
