.user-header{
    padding:1em 1em 0.5em 1em;
    background-color: #e6e6e6;
    margin:-1em -1em 0 -1em;

    .connecta-inline-edit-input{
        text-align: center;
        width: 100%;
        margin:0 auto;
    }

    .user-avatar-field {
        /*        float:left;*/
        margin-right:1em;

        .user-image-container {
            background-size:cover;
            background-position:center;
            width:200px;
            height:200px;
            border-radius:50%;
            overflow:hidden;
            margin:0 auto;
            padding:0;
            position:relative;
            &:hover {
                .edit, .delete {
                    opacity:0.5;
                }
            }
            .edit, .delete {
                cursor:pointer;
                overflow:hidden;
                width:200px;
                height:50%;
                position:absolute;
                margin:0;
                padding:0;
                color:white;
                font-size:3em;
                text-align:center;
                line-height:100px;
                left:0;
                opacity:0;
                &:hover {
                    opacity:1;
                }
            }
            .edit {
                top:0;
                background-color:rgba(200,200,200,0.8);
                input {
                    opacity:0;
                    height:0;
                    width:0;
                }
            }
            .delete {
                bottom:0;
                background-color:rgba(250,150,175,0.8);
            }
        }
    }
}
.user-forms {
    margin: 2.5em;

    .user-profile-form {
        border-right:solid 1px $darkerWhite;
        .user-other-fields {
            @include clearfix;
            min-width: 20em;
            overflow: hidden;
            margin: 0 auto;

            .form-group {
                width:100%;
            }
        }
    }
}


