<div class="row">
    <div class="col-md-12">
        <h3 translate>LAYERSOURCE.LAYERSOURCE</h3>
        
        <a class="btn btn-default" href="#/maps/layer-source/new" translate>
            <span class="glyphicon glyphicon-plus"></span>
        </a>

        <div class="margin-top-single">
            <form novalidate name="formulario">
                <div class="row">
                    <div class="col-md-1">
                        <button type="button" ng-click="filter = !filter" class="btn btn-info" translate>LAYOUT.FILTER</button>
                    </div>
                    <div class="col-md-11">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-search"></span>
                            </span>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <table ng-table="tableParams" class="table table-striped margin-top-single">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-center" translate>LAYERSOURCE.NAME</th>                    
                    <th class="text-center" translate>LAYERSOURCE.INTERNAL_LINK</th>
                    <th class="text-center" translate>LAYERSOURCE.EXTERNAL_LINK</th>
                    <th class="text-center" translate>LAYERSOURCE.TYPE</th>
<!--                    <th translate>LAYERSOURCE.USER</th>
                    <th translate>LAYERSOURCE.PASSWORD</th>-->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="layerSource in $data">
                    <td><a href="#/maps/layer-source/{{layerSource.id}}" class="full-size-block link-no-state">
                            
                            <input type="checkbox" value="{{layerSource.id}}" /></a></td>
                    <td class="text-center"><a href="#/maps/layer-source/{{layerSource.id}}" class="full-size-block link-no-state">
                            {{layerSource.nm_source}}
                        </a>
                    </td>


                    <td class="text-center" ><a href="#/maps/layer-source/{{layerSource.id}}" class="full-size-block link-no-state">
                            {{layerSource.ds_link_interno}}</a></td> 

                    <td class="text-center"><a href="#/maps/layer-source/{{layerSource.id}}" class="full-size-block link-no-state">
                            {{layerSource.ds_link_externo}}</a></td> 

                    <td class="text-center" >
                        <a href="#/maps/layer-source/{{layerSource.id}}" class="full-size-block link-no-state">
                        <span ng-if="!layerSource.$edit && layerSource.layerSourceTypeEntity.id == 1">Geoserver</span>
                        <span ng-if="!layerSource.$edit && layerSource.layerSourceTypeEntity.id == 2">ArcGis</span>
                        <span ng-if="!layerSource.$edit && layerSource.layerSourceTypeEntity.id == 3">MapViewer</span>
                        <span ng-if="!layerSource.$edit && layerSource.layerSourceTypeEntity.id == 4">MapServer</span>                        
                        </a>
                    </td>   
<!--                    <td class="text-center"><a href="#/maps/layer-source/{{layerSource.id}}" class="full-size-block link-no-state">
                            {{layerSource.nm_user_rest}}</a></td> 

                    <td class="text-center"><a href="#/maps/layer-source/{{layerSource.id}}" class="full-size-block link-no-state">
                            {{layerSource.nm_pass_rest}}</a></td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>