<div class="row">
    <div class="col-md-12">
        <h3 translate>{{isEdit ? 'COMPANY_CONTACT.REGISTER_CONTACT' : 'COMPANY_CONTACT.EDIT_CONTACT'}}</h3>
    </div>
</div>

<div class="row" ng-if="contactGroup">
    <div class="col-md-12">
        <div class="well well-sm">
            <h4>{{contactGroup.name}}</h4>
            <p>{{contactGroup.description}}</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form novalidate name="formulario" ng-submit="submit()">
            <div class="form-group">
                <label for="nome" translate>COMPANY_CONTACT.NAME</label>
                <input type="text" class="form-control" id="nome" name="nome"
                       ng-model="companyContact.name" required/>
                <div ng-show="formulario.nome.$touched" ng-messages="formulario.nome.$error"
                     ng-messages-include="portal-error-messages"></div>
            </div>
            <div class="form-group">
                <label for="type" translate>COMPANY_CONTACT.TYPE</label>
                <select id="type" name="type" class="form-control" ng-model="companyContact.type" required 
                        ng-change="createInputValue()">
                    <option value="PHONE">
                        Telefone
                    </option>
                    <option value="EMAIL">
                        E-mail
                    </option>
                </select>
                <div ng-show="formulario.type.$touched" ng-messages="formulario.type.$error"
                     ng-messages-include="portal-error-messages"></div>
            </div>
            
            <div class="form-group" ng-show="!isPhone">
                <label for="value" translate>COMPANY_CONTACT.VALUE</label>
                <input type="email" class="form-control" id="email" name="email"
                       ng-model="email" ng-required="!isPhone"/>
                <div ng-show="formulario.email.$touched" ng-messages="formulario.email.$error"
                     ng-messages-include="portal-error-messages"></div>
            </div>
            
            <div class="form-group" ng-show="isPhone">
                <label for="value" translate>COMPANY_CONTACT.VALUE</label>
                <input type="text" class="form-control" id="phone" name="phone"
                       ng-model="phone"
                       ui-mask="+99 (99) 99999-999?9" ng-required="isPhone"/>
                <div ng-show="formulario.phone.$touched" ng-messages="formulario.phone.$error"
                     ng-messages-include="portal-error-messages"></div>
            </div>

            <a href="{{'#/speaknow/company/contact/group/' + contactGroup.id}}"
               class="btn btn-default" translate>
                LAYOUT.CANCEL
            </a>
            <button class="btn btn-primary" translate ng-disabled="formulario.$invalid">
                LAYOUT.SAVE
            </button>
        </form>
    </div>
</div>
