<div class="sidebar-form">
    <label translate>VIEWER.BULLET_SIZE</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.chartCursor.bulletSize"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.CATEGORY_BALLOON_ALPHA</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.chartCursor.categoryBalloonAlpha"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.CATEGORY_BALLOON_COLOR</label>
    <input type="color" ng-model="analysisViewer.viewer.configuration.chartCursor.categoryBalloonColor"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.COLOR</label>
    <input type="color" ng-model="analysisViewer.viewer.configuration.chartCursor.color"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.GRAPH_LINE_ALPHA</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.chartCursor.cursorAlpha"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.GRAPH_LINE_COLOR</label>
    <input type="color" ng-model="analysisViewer.viewer.configuration.chartCursor.cursorColor"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.GRAPH_BULLET_ALPHA</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.chartCursor.graphBulletAlpha"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.GRAPH_BULLET_SIZE</label>
    <input type="number" ng-model="analysisViewer.viewer.configuration.chartCursor.graphBulletSize"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.SELECTION_ALPHA</label>
    <input type="color" ng-model="analysisViewer.viewer.configuration.chartCursor.selectionAlpha"/>
</div>