<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.BULLET_SIZE</label>
            <input class="form-control input-sm" type="number" ng-model="viewer.configuration.chartCursor.bulletSize"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.CATEGORY_BALLOON_ALPHA</label>
            <input class="form-control input-sm" type="number" ng-model="viewer.configuration.chartCursor.categoryBalloonAlpha"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.CATEGORY_BALLOON_COLOR</label>
            <input class="form-control input-sm" type="text" ng-model="viewer.configuration.chartCursor.categoryBalloonColor"/>
            <input class="form-control input-sm corColorCluster" type="color" ng-model="viewer.configuration.chartCursor.categoryBalloonColor"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.COLOR</label>
            <input class="form-control input-sm" type="text" ng-model="viewer.configuration.chartCursor.color"/>
            <input class="form-control input-sm corColorCluster" type="color" ng-model="viewer.configuration.chartCursor.color"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.GRAPH_LINE_ALPHA</label>
            <input class="form-control input-sm" type="number" ng-model="viewer.configuration.chartCursor.cursorAlpha"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.GRAPH_LINE_COLOR</label>
            <input class="form-control input-sm" type="text" ng-model="viewer.configuration.chartCursor.cursorColor"/>
            <input class="form-control input-sm corColorCluster" type="color" ng-model="viewer.configuration.chartCursor.cursorColor"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.GRAPH_BULLET_ALPHA</label>
            <input class="form-control input-sm" type="number" ng-model="viewer.configuration.chartCursor.graphBulletAlpha"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.GRAPH_BULLET_SIZE</label>
            <input class="form-control input-sm" type="number" ng-model="viewer.configuration.chartCursor.graphBulletSize"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label translate>VIEWER.SELECTION_ALPHA</label>
            <input class="form-control input-sm" type="text" ng-model="viewer.configuration.chartCursor.selectionAlpha"/>
            <input class="form-control input-sm corColorCluster" type="color" ng-model="viewer.configuration.selectionAlpha.cursorColor"/>
        </div>
    </div>
</div>