<div class="sidebar-form">
    <label translate>VIEWER.CHART_CURSOR</label>
    <input type="checkbox" ng-model="chartCursor.ativo" ng-click="changeChartCursor()"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.ANIMATION_DURATION</label>
    <input type="number" ng-model="viewer.configuration.chartCursor.animationDuration"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.AVOID_BALLOON_OVERLAPPING</label>
    <input type="checkbox" ng-model="viewer.configuration.chartCursor.avoidBalloonOverlapping"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.BALLOON_POINTER_ORIENTATION</label>
    <select ng-model="viewer.configuration.chartCursor.balloonPointerOrientation">
        <option value="" translate>VIEWER.HORIZONTAL</option>
        <option value="vertical" translate>VIEWER.VERTICAL</option>
    </select>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.BULLETS_ENABLED</label>
    <input type="checkbox" ng-model="viewer.configuration.chartCursor.bulletsEnabled"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.GATEGORY_BALLON_ENABLED</label>
    <input type="checkbox"  ng-model="viewer.configuration.chartCursor.categoryBalloonEnabled"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.CURSOR_POSITION</label>
    <select ng-model="viewer.configuration.chartCursor.cursorPosition">
        <option value="" translate>VIEWER.MIDDLE</option>
        <option value="start" translate>VIEWER.START</option>
        <option value="mouse" translate>VIEWER.MOUSE</option>
    </select>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.FULL_WIDTH</label>
    <input type="checkbox"  ng-model="viewer.configuration.chartCursor.fullWidth"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.LEAVE_CURSOR</label>
    <input type="checkbox"  ng-model="viewer.configuration.chartCursor.leaveCursor"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.ONE_BALLOON_ONLY</label>
    <input type="checkbox"  ng-model="viewer.configuration.chartCursor.oneBalloonOnly"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.PAN</label>
    <input type="checkbox"  ng-model="viewer.configuration.chartCursor.pan"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.SELECT_WITHOUT_ZOOMING</label>
    <input type="checkbox"  ng-model="viewer.configuration.chartCursor.selectWithoutZooming"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.SHOW_NEXT_AVAILABLE</label>
    <input type="checkbox"  ng-model="viewer.configuration.chartCursor.showNextAvailable"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.VALUE_BALLOONS_ENABLED</label>
    <input type="checkbox"  ng-model="viewer.configuration.chartCursor.valueBalloonsEnabled"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.VALUE_LINE_ALPHA</label>
    <input type="number"  ng-model="viewer.configuration.chartCursor.valueLineAlpha"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.VALUE_LINE_BALLOON_ENABLED</label>
    <input type="checkbox"  ng-model="viewer.configuration.chartCursor.valueLineBalloonEnabled"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.VALUE_LINE_ENABLED</label>
    <input type="checkbox"  ng-model="viewer.configuration.chartCursor.valueLineEnabled"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.ZOOMABLE</label>
    <input type="checkbox"  ng-model="viewer.configuration.chartCursor.zoomable"/>
</div>