
<div class="form-sidebar">
    <div class="row margin-top-single" ng-if="viewer.type == 'ANALYSIS'">
        <div class="col-md-12">
            <div class="form-group">
                <label translate>VIEWER.ANALYSIS</label>
                <ui-select ng-model="viewer.analysis">
                    <ui-select-match placeholder="{{'VIEWER.SELECT'|translate}}">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="a in analysisList | filter: $select.search track by a.id">
                        <span class="{{types[a.type].icon}}"></span>
                        <span ng-bind-html="a.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    
    <div ng-if="viewer.analysis" class="row">
        <div class="col-md-12">
            <div class="form-sidebar-filter">
                <label for="columns" translate>ANALYSIS.COLUMNS</label>
                <input type="search" ng-model="q" class="form-control" id="columns"
                       placeholder="{{'VIEWER.FILTER_COLUMNS'|translate}}" />
            </div>
            <div class="sidebar-analysis-columns"> 
                <ul dnd-list="viewer.analysis.analysisColumns" dnd-effect-allowed="move" dnd-allowed-types="[]">
                    <li ng-repeat="column in viewer.analysis.analysisColumns | filter:q as results track by $index"
                        dnd-draggable="column" dnd-type="'analysisColumn'">
                        {{column.label}}
                    </li>
                    <li ng-if="results.length == 0">
                        <strong>{{'LAYOUT.NO_RESULTS'|translate}}</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div ng-if="viewer.analysis" class="row margin-top-single">
        <div class="col-md-12">
            <button class="btn btn-primary btn-block" translate
                    ng-click="getAnalysisResult()">
                VIEWER.VIEW_ANALYSIS
            </button>
        </div>
    </div>

</div>