<div ng-class="{
  'hide-menu' : !showMenu,
  'fullscreen' : fullscreen,
  'show-sidebar': showSidebar,
  'sidebar-mini': sidebarMini,
  'login' : !authenticated
  }">
    <login class="am-slide-top" ng-if="!authenticated"></login>
    <div id="fb-root"></div>
    <heading class="navbar navbar-fixed-top">

    </heading>
    <menu></menu>
    <sidebar></sidebar>
    <div class="container-fluid">
        <div ng-view class="page-container am-fade-and-slide-right margin-bottom-single"
             ng-class="{ flat: showAsFlat }">
        </div>
    </div>
    
    <!--This is Roger, Connecta's favorite Alien. He is from mars,
        and he's interested in data analysis just like all of us.-->
    <show-on-konami-code class="roger">
        <div class="head">
            <span class="left eye"></span>
            <span class="right eye"></span>
            <div class="mouth"></div>
        </div>
        <div class="neck"></div>
        <div class="left arm"></div>
        <div class="right arm"></div>
        <div class="torso"></div>
        <div class="left leg"></div>
        <div class="right leg"></div>
    </show-on-konami-code>
</div>