<div class="graphs" ng-repeat="obj in viewer.configuration.graphs track by $index">
    <h5> Graphs {{$index}} </h5>
    <div class="sidebar-form">
        <label translate>VIEWER.BALLON_COLOR</label>
        <input type="color" ng-model="viewer.configuration.graphs[$index].ballonColor" />
    </div>
    <div class="sidebar-form">
        <label translate>VIEWER.TEXT_COLOR</label>
        <input type="color" ng-model="viewer.configuration.graphs[$index].color" />
    </div>
    <div class="sidebar-form">
        <label translate>VIEWER.COLUMN_WIDTH</label>
        <input type="number" ng-model="viewer.configuration.graphs[$index].columnWidth" />
    </div>
    <div class="sidebar-form">
        <label translate>VIEWER.CORNER_RADIUS</label>
        <input type="number" ng-model="viewer.configuration.graphs[$index].cornerRadiusTop" />
    </div>
    <div class="sidebar-form">
        <label translate>VIEWER.DASH_LENGTH</label>
        <input type="number" ng-model="viewer.configuration.graphs[$index].dashLength" />
    </div>
    <div class="sidebar-form">
        <label translate>VIEWER.FILL_ALPHA</label>
        <input type="number" ng-model="viewer.configuration.graphs[$index].fillAlphas" />
    </div>
    <div class="sidebar-form">
        <label translate>VIEWER.FILL_COLORS</label>
        <input type="color" ng-model="viewer.configuration.graphs[$index].fillColors" />
    </div>
    <div class="sidebar-form">
        <label translate>VIEWER.LINE_COLOR</label>
        <input type="color" ng-model="viewer.configuration.graphs[$index].lineColor" />
    </div>
    <div class="sidebar-form">
        <label translate>VIEWER.LINE_THICKNESS</label>
        <input type="number" ng-model="viewer.configuration.graphs[$index].lineThickness" />
    </div>
</div>