<div class="row">
  <div class="col-md-10">
    <h3>
      <h4 translate>VIEWER.DETAILING_VIEWER</h4>
    </h3>
  </div>

  <div class="col-md-2">
    <div class="btn-group pull-right">
      <a class="btn btn-default" href="#/maps/viewer/{{viewer._id}}/edit">
        <span class="icon-pencil" aria-hidden="true"></span>
      </a>
      <button class="btn btn-default" ng-click="delete()">
        <span class="icon-trash" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="well margin-top-single margin-bottom-single">
      <p>
        <strong translate>{{"VIEWER.MAP_TITLE"}}:</strong>
        {{viewer.title}}
      </p>
      <p>
        <strong translate>{{"VIEWER.PROJECT"}}:</strong>
        {{viewer.project.title}}
      </p>
      <p>
        <strong translate>{{"VIEWER.INITIAL_RICH_LAYER"}}:</strong>
        {{viewer.richLayer.title}}
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-right">
    <a href="#/maps/viewer" role="button" class="btn btn-default" translate>
      LAYOUT.BACK
    </a>
  </div>
</div>
