<section>
    <h4 translate>VIEWER.BASIC_INFO</h4>
    <form name="viewerForm" novalidate>
        <div class="row">
            <div class="col-md-6 form-group">
                <label class="required" translate>VIEWER.PROJECT</label>
                <select class="form-control"
                        ng-model="selectedProject"
                        ng-change="projectChanged(selectedProject._id)"
                        ng-options="project.title for project in projects track by project._id" required>
                    <option value="" translate>LAYOUT.SELECT</option>
                </select>
            </div>

            <div class="col-md-2">
                <h5 translate>VIEWER.ALLOW_DRILL</h5>
                <label class="switch">
                    <input ng-model="viewer.allowDrill" type="checkbox">
                    <div class="slider round"></div>
                </label>
            </div>

            <div class="col-md-2">
                <h5 translate>VIEWER.ENABLE_INFOWINDOW</h5>
                <label class="switch">
                    <input ng-model="viewer.popupConfig.enabled" type="checkbox">
                    <div class="slider round"></div>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <label class="required" translate>VIEWER.INITIAL_RICH_LAYER</label>
                <select class="form-control"
                        ng-model="viewer.initialRichLayerId"
                        ng-disabled="!selectedProject || !selectedProject.richLayers.length"
                        ng-options="richLayer._id as richLayer.title for richLayer in selectedProject.richLayers" required>
                    <option value="" translate>LAYOUT.SELECT</option>
                </select>
            </div>

            <div class="col-md-6">
                <h5 translate>VIEWER.POSITIONING</h5>
                <div class="col-md-12">
                    <label class="radio-inline">
                        <input type="radio" name="positioning" value="tooltip" ng-model="viewer.popupConfig.positioning" />
                        <span translate>VIEWER.TOOLTIP</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="positioning" value="panel" ng-model="viewer.popupConfig.positioning" />
                        <span translate>VIEWER.PANEL</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <label class="required" translate>VIEWER.MAP_TITLE</label>
                <input type="text" class="col-md-12 form-control" ng-model="viewer.title" required>
            </div>
        </div>

        <table class="table table-striped table-hover">
            <thead>
            <tr class="row">
                <th class="col-md-3">Título</th>
                <th class="col-md-2">Camada</th>
                <th class="col-md-2">Campo Geo</th>
                <th class="col-md-2">Identificador</th>
                <th class="col-md-2">Campo Tabular</th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody class="rich-layers-table">

            <tr ng-if="projects.richLayers.length === 0" class="row">
            <td class="col-xs-12 text-center" colspan="12" translate>
            LAYOUT.NO_RESULTS
            </td>
            </tr>

            <tr class="row"
                ng-click="selectRichLayer(richLayer)"
                ng-repeat="richLayer in selectedProject.richLayers">
                <td class="col-md-3">{{richLayer.title}}</td>
                <td class="col-md-2">{{richLayer.layer.title}}</td>
                <td class="col-md-2">{{richLayer.crossingKeys.geoKey}}</td>
                <td class="col-md-2">{{richLayer.resultSetId}}</td>
                <td class="col-md-2">{{richLayer.crossingKeys.resultSetKey}}</td>
                <td class="col-md-1"> <i class="icon-settings"></i> </td>
            </tr>
            </tbody>
        </table>
    </form>

    <div uib-collapse="!richLayer">
        <h4 style="margin: 10px">Campos de saída de <strong>{{richLayer.title}}</strong></h4>
        <table class="table table-striped table-hover">
            <thead>
            <tr class="row">
                <th class="col-md-5" translate>VIEWER.CRITERIA_NAME</th>
                <th class="col-md-5" translate>VIEWER.TITLE</th>
                <th class="col-md-2" translate>VIEWER.TYPE</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="!richLayerModel.outFields.length" class="row">
                <td class="col-xs-12 text-center" colspan="12" translate>
                    VIEWER.NO_OUTFIELDS
                </td>
            </tr>
            <tr class="row am-slide-right" ng-repeat="outField in richLayerModel.outFields track by $index"
                ng-click="editOutField($index)">
                <td class="text-left col-md-5">{{outField.name}}</td>
                <td class="text-left col-md-5">{{outField.alias}}</td>
                <td class="text-left col-md-2" translate>{{valueTypeMap[outField.valueType]}}</td>
            </tr>
            </tbody>
        </table>

        <form name="out_field" novalidate>
            <div class="row" ng-if="!outField">
                <div class="col-md-2 form-group" >
                    <a class="btn btn-primary form-control" href="" ng-click="addOutField()">
                        <span class="icon-plus"></span>
                        <translate>VIEWER.ADD_OUTFIELD</translate>
                    </a>
                </div>
                <div class="col-md-2 form-group pull-right">
                    <a href="" class="btn btn-default form-control" ng-click="backRichLayer()" translate>
                        LAYOUT.CLOSE
                    </a>
                </div>
            </div>
            <div class="row" ng-if="outField">
                <div class="form-group col-md-5">
                    <label class="required" translate>VIEWER.CRITERIA_NAME</label>
                    <select class="form-control"
                            ng-model="$parent.$parent.selectedColumn"
                            ng-change="columnChanged(selectedColumn.name)"
                            ng-options="column.alias for column in dataSourceColumns track by column.name" required>
                        <option value="" translate>LAYOUT.SELECT</option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label translate>VIEWER.TITLE</label>
                    <input type="text" class="form-control" ng-model="outField.alias">
                </div>
                <div class="form-group col-md-2">
                    <label class="required" translate>VIEWER.TYPE</label>
                    <select class="form-control" ng-model="outField.valueType" ng-model="outField.valueType" required>
                        <option value="" translate>LAYOUT.SELECT</option>
                        <option value="string" translate>VIEWER.TYPE_STRING</option>
                        <option value="number" translate>VIEWER.TYPE_NUMBER</option>
                        <option value="date" translate>VIEWER.TYPE_DATE</option>
                        <option value="disabled" translate>VIEWER.TYPE_DISABLED</option>
                    </select>
                </div>
            </div>
            <div class="row" ng-if="outField">
                <div class="col-md-12 text-right">
                    <a href="" class="btn btn-danger pull-left" ng-click="deleteOutField()" ng-if="outFieldEditIndex !== undefined" translate>
                        VIEWER.DELETE_OUTFIELD
                    </a>
                    <a href="" class="btn btn-default" ng-click="cancelOutField()" translate>
                        LAYOUT.CANCEL
                    </a>
                    <button class="btn btn-primary" ng-disabled="out_field.$invalid" ng-click="saveOutField()" translate>
                        VIEWER.SAVE_OUTFIELD
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row" ng-if="!outField && !richLayer">
        <div class="col-md-12 text-right">
            <a href="#/maps/viewer" class="btn btn-default" translate>
                LAYOUT.CANCEL
            </a>
            <button class="btn btn-primary" ng-click="saveViewer()" ng-disabled="viewerForm.$invalid" translate>
                LAYOUT.SAVE
            </button>
        </div>
    </div>
</section>
