@font-face {
	font-family: 'speaknow_interactions';
	src:url('fonts/speaknow_interactions.eot?ntt7k6');
	src:url('fonts/speaknow_interactions.eot?#iefixntt7k6') format('embedded-opentype'),
		url('fonts/speaknow_interactions.woff?ntt7k6') format('woff'),
		url('fonts/speaknow_interactions.ttf?ntt7k6') format('truetype'),
		url('fonts/speaknow_interactions.svg?ntt7k6#speaknow_interactions') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ic_spk_"], [class*=" ic_spk_"] {
	font-family: 'speaknow_interactions';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ic_spk_dglasses:before {
	content: "\e600";
}

.ic_spk_abacus:before {
	content: "\e601";
}

.ic_spk_accessibility:before {
	content: "\e602";
}

.ic_spk_accessibility2:before {
	content: "\e603";
}

.ic_spk_add:before {
	content: "\e604";
}

.ic_spk_addressbook:before {
	content: "\e605";
}

.ic_spk_addressbook2:before {
	content: "\e606";
}

.ic_spk_add-shopping-cart:before {
	content: "\e607";
}

.ic_spk_agenda:before {
	content: "\e608";
}

.ic_spk_aids:before {
	content: "\e609";
}

.ic_spk_air:before {
	content: "\e60a";
}

.ic_spk_aircraft-take-off:before {
	content: "\e60b";
}

.ic_spk_airplanemode-on:before {
	content: "\e60c";
}

.ic_spk_alarm:before {
	content: "\e60d";
}

.ic_spk_alarmclock:before {
	content: "\e60e";
}

.ic_spk_album:before {
	content: "\e60f";
}

.ic_spk_albumphoto:before {
	content: "\e610";
}

.ic_spk_alert:before {
	content: "\e611";
}

.ic_spk_anchor:before {
	content: "\e612";
}

.ic_spk_android:before {
	content: "\e613";
}

.ic_spk_apple:before {
	content: "\e614";
}

.ic_spk_apps:before {
	content: "\e615";
}

.ic_spk_archive:before {
	content: "\e616";
}

.ic_spk_asterisk:before {
	content: "\e617";
}

.ic_spk_atom:before {
	content: "\e618";
}

.ic_spk_attachment:before {
	content: "\e619";
}

.ic_spk_attach-money:before {
	content: "\e61a";
}

.ic_spk_auction:before {
	content: "\e61b";
}

.ic_spk_badge:before {
	content: "\e61c";
}

.ic_spk_badge2:before {
	content: "\e61d";
}

.ic_spk_bag:before {
	content: "\e61e";
}

.ic_spk_barcode:before {
	content: "\e61f";
}

.ic_spk_baseball:before {
	content: "\e620";
}

.ic_spk_batman:before {
	content: "\e621";
}

.ic_spk_battery5:before {
	content: "\e622";
}

.ic_spk_beer:before {
	content: "\e623";
}

.ic_spk_behance-square:before {
	content: "\e624";
}

.ic_spk_bike:before {
	content: "\e625";
}

.ic_spk_blocked:before {
	content: "\e626";
}

.ic_spk_bomb:before {
	content: "\e627";
}

.ic_spk_book:before {
	content: "\e628";
}

.ic_spk_bookmark2:before {
	content: "\e629";
}

.ic_spk_bowl:before {
	content: "\e62a";
}

.ic_spk_bowling:before {
	content: "\e62b";
}

.ic_spk_box2:before {
	content: "\e62c";
}

.ic_spk_brush:before {
	content: "\e62d";
}

.ic_spk_bucket:before {
	content: "\e62e";
}

.ic_spk_bug-report:before {
	content: "\e62f";
}

.ic_spk_building-o:before {
	content: "\e630";
}

.ic_spk_cabinet:before {
	content: "\e631";
}

.ic_spk_cake:before {
	content: "\e632";
}

.ic_spk_cake2:before {
	content: "\e633";
}

.ic_spk_calc:before {
	content: "\e634";
}

.ic_spk_calendar:before {
	content: "\e635";
}

.ic_spk_call:before {
	content: "\e636";
}

.ic_spk_camera3:before {
	content: "\e637";
}

.ic_spk_camera-alt:before {
	content: "\e638";
}

.ic_spk_cc-amex:before {
	content: "\e639";
}

.ic_spk_cc-discover:before {
	content: "\e63a";
}

.ic_spk_cc-mastercard:before {
	content: "\e63b";
}

.ic_spk_cc-paypal:before {
	content: "\e63c";
}

.ic_spk_cc-stripe:before {
	content: "\e63d";
}

.ic_spk_cc-visa:before {
	content: "\e63e";
}

.ic_spk_certificated:before {
	content: "\e63f";
}

.ic_spk_chart:before {
	content: "\e640";
}

.ic_spk_chart4:before {
	content: "\e641";
}

.ic_spk_chat:before {
	content: "\e642";
}

.ic_spk_check:before {
	content: "\e643";
}

.ic_spk_check-box:before {
	content: "\e644";
}

.ic_spk_checkmark2:before {
	content: "\e645";
}

.ic_spk_chevron-left:before {
	content: "\e646";
}

.ic_spk_chevron-right:before {
	content: "\e647";
}

.ic_spk_chronometer:before {
	content: "\e648";
}

.ic_spk_clipboard2:before {
	content: "\e649";
}

.ic_spk_clipboard3:before {
	content: "\e64a";
}

.ic_spk_close:before {
	content: "\e64b";
}

.ic_spk_cloud:before {
	content: "\e64c";
}

.ic_spk_cloudy:before {
	content: "\e64d";
}

.ic_spk_code:before {
	content: "\e64e";
}

.ic_spk_coffee:before {
	content: "\e64f";
}

.ic_spk_color-lens:before {
	content: "\e650";
}

.ic_spk_cone:before {
	content: "\e651";
}

.ic_spk_create:before {
	content: "\e652";
}

.ic_spk_credit-card:before {
	content: "\e653";
}

.ic_spk_cross:before {
	content: "\e654";
}

.ic_spk_css3:before {
	content: "\e655";
}

.ic_spk_cursor:before {
	content: "\e656";
}

.ic_spk_database:before {
	content: "\e657";
}

.ic_spk_davidstar:before {
	content: "\e658";
}

.ic_spk_delete:before {
	content: "\e659";
}

.ic_spk_dglasses2:before {
	content: "\e65a";
}

.ic_spk_dialog:before {
	content: "\e65b";
}

.ic_spk_diamond:before {
	content: "\e65c";
}

.ic_spk_direction:before {
	content: "\e65d";
}

.ic_spk_directions-bus:before {
	content: "\e65e";
}

.ic_spk_directions-car:before {
	content: "\e65f";
}

.ic_spk_directions-transit:before {
	content: "\e660";
}

.ic_spk_directions-walk:before {
	content: "\e661";
}

.ic_spk_discout:before {
	content: "\e662";
}

.ic_spk_dollar2:before {
	content: "\e663";
}

.ic_spk_dribbble-with-circle:before {
	content: "\e664";
}

.ic_spk_drink:before {
	content: "\e665";
}

.ic_spk_drink2:before {
	content: "\e666";
}

.ic_spk_drink4:before {
	content: "\e667";
}

.ic_spk_drupal:before {
	content: "\e668";
}

.ic_spk_eightball:before {
	content: "\e669";
}

.ic_spk_email:before {
	content: "\e66a";
}

.ic_spk_envelope:before {
	content: "\e66b";
}

.ic_spk_eur:before {
	content: "\e66c";
}

.ic_spk_event:before {
	content: "\e66d";
}

.ic_spk_exit:before {
	content: "\e66e";
}

.ic_spk_explore:before {
	content: "\e66f";
}

.ic_spk_extension:before {
	content: "\e670";
}

.ic_spk_eye:before {
	content: "\e671";
}

.ic_spk_facebook-with-circle:before {
	content: "\e672";
}

.ic_spk_fashion:before {
	content: "\e673";
}

.ic_spk_female:before {
	content: "\e674";
}

.ic_spk_file3:before {
	content: "\e675";
}

.ic_spk_file-excel-o:before {
	content: "\e676";
}

.ic_spk_file-pdf-o:before {
	content: "\e677";
}

.ic_spk_file-word-o:before {
	content: "\e678";
}

.ic_spk_film:before {
	content: "\e679";
}

.ic_spk_filter:before {
	content: "\e67a";
}

.ic_spk_filter-vintage:before {
	content: "\e67b";
}

.ic_spk_find-in-page:before {
	content: "\e67c";
}

.ic_spk_fire-extinguisher:before {
	content: "\e67d";
}

.ic_spk_flag:before {
	content: "\e67e";
}

.ic_spk_flickr-with-circle:before {
	content: "\e67f";
}

.ic_spk_folder:before {
	content: "\e680";
}

.ic_spk_food:before {
	content: "\e681";
}

.ic_spk_football:before {
	content: "\e682";
}

.ic_spk_forklift:before {
	content: "\e683";
}

.ic_spk_format-paint:before {
	content: "\e684";
}

.ic_spk_gamepad:before {
	content: "\e685";
}

.ic_spk_github-with-circle:before {
	content: "\e686";
}

.ic_spk_globe:before {
	content: "\e687";
}

.ic_spk_globe2:before {
	content: "\e688";
}

.ic_spk_google-drive:before {
	content: "\e689";
}

.ic_spk_google-with-circle:before {
	content: "\e68a";
}

.ic_spk_group-work:before {
	content: "\e68b";
}

.ic_spk_hammer:before {
	content: "\e68c";
}

.ic_spk_hand:before {
	content: "\e68d";
}

.ic_spk_headphones:before {
	content: "\e68e";
}

.ic_spk_heart:before {
	content: "\e68f";
}

.ic_spk_help-with-circle:before {
	content: "\e690";
}

.ic_spk_home:before {
	content: "\e691";
}

.ic_spk_hospital-o:before {
	content: "\e692";
}

.ic_spk_hotel:before {
	content: "\e693";
}

.ic_spk_html5:before {
	content: "\e694";
}

.ic_spk_icecream:before {
	content: "\e695";
}

.ic_spk_image:before {
	content: "\e696";
}

.ic_spk_info2:before {
	content: "\e697";
}

.ic_spk_injection:before {
	content: "\e698";
}

.ic_spk_instagram-with-circle:before {
	content: "\e699";
}

.ic_spk_interactions:before {
	content: "\e69a";
}

.ic_spk_ipod:before {
	content: "\e69b";
}

.ic_spk_japonese_food:before {
	content: "\e69c";
}

.ic_spk_justice:before {
	content: "\e69d";
}

.ic_spk_keyboard2:before {
	content: "\e69e";
}

.ic_spk_lab:before {
	content: "\e69f";
}

.ic_spk_lab2:before {
	content: "\e6a0";
}

.ic_spk_lamp2:before {
	content: "\e6a1";
}

.ic_spk_lamp3:before {
	content: "\e6a2";
}

.ic_spk_landscape:before {
	content: "\e6a3";
}

.ic_spk_laptop:before {
	content: "\e6a4";
}

.ic_spk_lastfm-with-circle:before {
	content: "\e6a5";
}

.ic_spk_library:before {
	content: "\e6a6";
}

.ic_spk_line:before {
	content: "\e6a7";
}

.ic_spk_linkedin-with-circle:before {
	content: "\e6a8";
}

.ic_spk_local-car-wash:before {
	content: "\e6a9";
}

.ic_spk_local-florist:before {
	content: "\e6aa";
}

.ic_spk_local-library:before {
	content: "\e6ab";
}

.ic_spk_local-mall:before {
	content: "\e6ac";
}

.ic_spk_local-pizza:before {
	content: "\e6ad";
}

.ic_spk_local-restaurant:before {
	content: "\e6ae";
}

.ic_spk_local-taxi:before {
	content: "\e6af";
}

.ic_spk_location:before {
	content: "\e6b0";
}

.ic_spk_locked:before {
	content: "\e6b1";
}

.ic_spk_magnifier:before {
	content: "\e6b2";
}

.ic_spk_male:before {
	content: "\e6b3";
}

.ic_spk_map:before {
	content: "\e6b4";
}

.ic_spk_map2:before {
	content: "\e6b5";
}

.ic_spk_map3:before {
	content: "\e6b6";
}

.ic_spk_mask:before {
	content: "\e6b7";
}

.ic_spk_medal2:before {
	content: "\e6b8";
}

.ic_spk_medkit:before {
	content: "\e6b9";
}

.ic_spk_megaphone2:before {
	content: "\e6ba";
}

.ic_spk_message:before {
	content: "\e6bb";
}

.ic_spk_microphone:before {
	content: "\e6bc";
}

.ic_spk_minus:before {
	content: "\e6bd";
}

.ic_spk_moneybag:before {
	content: "\e6be";
}

.ic_spk_monitor:before {
	content: "\e6bf";
}

.ic_spk_moon:before {
	content: "\e6c0";
}

.ic_spk_mouse:before {
	content: "\e6c1";
}

.ic_spk_mug:before {
	content: "\e6c2";
}

.ic_spk_music:before {
	content: "\e6c3";
}

.ic_spk_network:before {
	content: "\e6c4";
}

.ic_spk_news:before {
	content: "\e6c5";
}

.ic_spk_notice:before {
	content: "\e6c6";
}

.ic_spk_notifications:before {
	content: "\e6c7";
}

.ic_spk_open:before {
	content: "\e6c8";
}

.ic_spk_pacman:before {
	content: "\e6c9";
}

.ic_spk_pagelines:before {
	content: "\e6ca";
}

.ic_spk_painter:before {
	content: "\e6cb";
}

.ic_spk_paw:before {
	content: "\e6cc";
}

.ic_spk_piano:before {
	content: "\e6cd";
}

.ic_spk_picasa:before {
	content: "\e6ce";
}

.ic_spk_pictures:before {
	content: "\e6cf";
}

.ic_spk_pig:before {
	content: "\e6d0";
}

.ic_spk_pil:before {
	content: "\e6d1";
}

.ic_spk_pin:before {
	content: "\e6d2";
}

.ic_spk_pinterest-with-circle:before {
	content: "\e6d3";
}

.ic_spk_plug:before {
	content: "\e6d4";
}

.ic_spk_plugnet:before {
	content: "\e6d5";
}

.ic_spk_plus:before {
	content: "\e6d6";
}

.ic_spk_print:before {
	content: "\e6d7";
}

.ic_spk_products-services2:before {
	content: "\e6d8";
}

.ic_spk_protest:before {
	content: "\e6d9";
}

.ic_spk_px-with-circle:before {
	content: "\e6da";
}

.ic_spk_quote:before {
	content: "\e6db";
}

.ic_spk_radio:before {
	content: "\e6dc";
}

.ic_spk_radio2:before {
	content: "\e6dd";
}

.ic_spk_radioactive:before {
	content: "\e6de";
}

.ic_spk_ranking:before {
	content: "\e6df";
}

.ic_spk_rdio-with-circle:before {
	content: "\e6e0";
}

.ic_spk_redeem:before {
	content: "\e6e1";
}

.ic_spk_report-problem:before {
	content: "\e6e2";
}

.ic_spk_road:before {
	content: "\e6e3";
}

.ic_spk_rocket:before {
	content: "\e6e4";
}

.ic_spk_rss-square:before {
	content: "\e6e5";
}

.ic_spk_ruler2:before {
	content: "\e6e6";
}

.ic_spk_sad:before {
	content: "\e6e7";
}

.ic_spk_safe:before {
	content: "\e6e8";
}

.ic_spk_sale:before {
	content: "\e6e9";
}

.ic_spk_satellite:before {
	content: "\e6ea";
}

.ic_spk_school:before {
	content: "\e6eb";
}

.ic_spk_scissors:before {
	content: "\e6ec";
}

.ic_spk_screwdriver:before {
	content: "\e6ed";
}

.ic_spk_search:before {
	content: "\e6ee";
}

.ic_spk_settings:before {
	content: "\e6ef";
}

.ic_spk_share:before {
	content: "\e6f0";
}

.ic_spk_shipping:before {
	content: "\e6f1";
}

.ic_spk_shopping-basket:before {
	content: "\e6f2";
}

.ic_spk_shopping-cart:before {
	content: "\e6f3";
}

.ic_spk_signal-wifi-statusbar-4-bar:before {
	content: "\e6f4";
}

.ic_spk_skype-with-circle:before {
	content: "\e6f5";
}

.ic_spk_smiley:before {
	content: "\e6f6";
}

.ic_spk_soccer:before {
	content: "\e6f7";
}

.ic_spk_soundcloud:before {
	content: "\e6f8";
}

.ic_spk_speaker:before {
	content: "\e6f9";
}

.ic_spk_spotify-with-circle:before {
	content: "\e6fa";
}

.ic_spk_stack3:before {
	content: "\e6fb";
}

.ic_spk_star:before {
	content: "\e6fc";
}

.ic_spk_steam-square:before {
	content: "\e6fd";
}

.ic_spk_stop:before {
	content: "\e6fe";
}

.ic_spk_store:before {
	content: "\e6ff";
}

.ic_spk_streetlight:before {
	content: "\e700";
}

.ic_spk_stumbleupon-with-circle:before {
	content: "\e701";
}

.ic_spk_suitcase3:before {
	content: "\e702";
}

.ic_spk_sun:before {
	content: "\e703";
}

.ic_spk_supervisor-account:before {
	content: "\e704";
}

.ic_spk_table:before {
	content: "\e705";
}

.ic_spk_tablet:before {
	content: "\e706";
}

.ic_spk_tag:before {
	content: "\e707";
}

.ic_spk_terrain:before {
	content: "\e708";
}

.ic_spk_thermometer:before {
	content: "\e709";
}

.ic_spk_thumb-down:before {
	content: "\e70a";
}

.ic_spk_thumb-up:before {
	content: "\e70b";
}

.ic_spk_ticket:before {
	content: "\e70c";
}

.ic_spk_time2:before {
	content: "\e70d";
}

.ic_spk_tools:before {
	content: "\e70e";
}

.ic_spk_treatment:before {
	content: "\e70f";
}

.ic_spk_tree:before {
	content: "\e710";
}

.ic_spk_tree2:before {
	content: "\e711";
}

.ic_spk_trophy:before {
	content: "\e712";
}

.ic_spk_truck:before {
	content: "\e713";
}

.ic_spk_tumblr-with-circle:before {
	content: "\e714";
}

.ic_spk_tv:before {
	content: "\e715";
}

.ic_spk_twitter-with-circle:before {
	content: "\e716";
}

.ic_spk_umbrella:before {
	content: "\e717";
}

.ic_spk_user:before {
	content: "\e718";
}

.ic_spk_vimeo-with-circle:before {
	content: "\e719";
}

.ic_spk_vine-with-circle:before {
	content: "\e71a";
}

.ic_spk_vk-with-circle:before {
	content: "\e71b";
}

.ic_spk_volume-up:before {
	content: "\e71c";
}

.ic_spk_wallet:before {
	content: "\e71d";
}

.ic_spk_washingmachine:before {
	content: "\e71e";
}

.ic_spk_watch2:before {
	content: "\e71f";
}

.ic_spk_windows:before {
	content: "\e720";
}

.ic_spk_wine:before {
	content: "\e721";
}

.ic_spk_wordpress:before {
	content: "\e722";
}

.ic_spk_worker:before {
	content: "\e723";
}

.ic_spk_xing-with-circle:before {
	content: "\e724";
}

.ic_spk_yahoo:before {
	content: "\e725";
}

.ic_spk_youtube-with-circle:before {
	content: "\e726";
}

