<!--<div class="form-group">
    <label for="method" translate>DATASOURCE.METHOD</label>
    <input type="text" name="method" id="method" class="form-control"
           ng-model="object.method" />
</div>-->
<div class="form-group" validated-field-holder="formObject.webserviceUrl">
    <label for="address" translate class="required">DATASOURCE.URL</label>
    <input type="text" name="webserviceUrl" id="address" class="form-control"
           ng-model="object.address" required/>
    <validated-field-messages ng-model="formObject.webserviceUrl"></validated-field-messages>
</div>

<div class="form-group">
    <label for="method" translate> </label>

    <input type="radio" name="typeWebservice" id="method"
           ng-model="object.typeWebservice" value="REST"/> REST
    <input type="radio" name="typeWebservice" id="method"
           ng-model="object.typeWebservice" value="SOAP"/> SOAP (WSDL)
</div>

<!--<div key-value class="well well-sm clearfix" ng-model="object.parameters">
    <div key-value-item class="row">
        <div class="col-md-6">
            <label for="params" translate>DATASOURCE.PARAMETER</label>
            <input type="text" name="params" id="params" class="form-control"
                   ng-model="$parent.$parent.$item.params" />
            <div ng-if="formulario.$dirty" ng-messages="formulario.params.$error"
                 ng-messages-include="portal-validation-messages"></div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="value" translate>DATASOURCE.PARAMETER_VALUE</label>
                <input type="text" id="value" class="form-control"
                       ng-model="$parent.$parent.$item.value" />
            </div>
        </div>
    </div>
</div>-->
