

<div class="row" >
    <div class="col-xs-6 form-group" >
        <label for="user" translate class="required">DATASOURCE.USERNAME</label>
        <input type="text" id="user" class="form-control"
               ng-model="object.user"  ng-keyup="aux.rest.basicAuthorization()" />
    </div>
    <div class="col-xs-6 form-group" >
        <label for="password" translate class="required">DATASOURCE.PASSWORD</label>
        <input type="text" id="password" class="form-control"
               ng-model="object.password" ng-keyup="aux.rest.basicAuthorization()" />
    </div>
</div>
<div class="row">
    <div class="col-xs-6 form-group" >
        <label translate>DATASOURCE.REQUEST</label>
    </div>
    <div class="col-xs-6 form-group right text-right" >
        <button type="button" class="btn btn-primary" ng-click="aux.rest.addNewRequest()" translate >DATASOURCE.NEW_REQUEST</button>
    </div>
</div>
<div class=" margin-top-single">
    <uib-accordion  close-others="true">
        <uib-accordion-group class="accordion-toggle panel-info"  data-ng-repeat='request in object.requests'
                             is-open="aux.rest.status.isFirstOpen" is-disabled="aux.rest.status.isFirstDisabled">
            <uib-accordion-heading>
                <span>{{request.name}}</span>
                <i class="pull-right glyphicon icon-close" ng-click="aux.rest.deleteRequest($index, $event)"/>
            </uib-accordion-heading>

            <div class="form-group">
                <label for="name-request" translate>DATASOURCE.NAME_REQUEST</label>
                <input type="text" id="name-request" name="name-resquest" class="form-control" ng-model="request.name" />
            </div>

            <div class="row">
                <div class="col-xs-2 form-group" >
                    <select class="form-control" ng-model="request.verb">
                        <option>POST</option>
                        <option>GET</option>
                    </select>
                </div>
                <div class="col-xs-8 form-group" >
                    <input type="text" name="url" class="form-control"   ng-model="request.url" >
                </div>
                <div class="col-xs-2 form-group" >
                    <div class="col-xs-6 form-group right text-right " >
                        <button type="button" class="btn btn-primary" 
                                ng-click="aux.rest.sendRequest(request)" translate>DATASOURCE.SEND</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 form-group" >
                    <label translate>DATASOURCE.HEADERS</label>
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-5 form-group" >
                    <label for="Key" translate>DATASOURCE.KEY</label>
                </div>
                <div class="col-xs-5 form-group" >
                    <label for="value" translate >DATASOURCE.VALUE</label>
                </div>
            </div>

            <div class="row" data-ng-repeat='header in request.headers'>
                <div class="col-xs-5 form-group" >
                    <input type="text" name="url" class="form-control" ng-model="header.key" ng-change="change()" ng-blur="change()"
                           typeahead="possibleHeader for possibleHeader in aux.rest.possibleHeaders" typeahead-loading="loadingAttributes"/>
                </div>
                <div class="col-xs-5 form-group" >
                    <input type="text" name="url" class="form-control"   ng-model="header.value" 
                           typeahead="mediaType for mediaType in aux.rest.mediaType" typeahead-loading="loadingAttributes">
                </div>
                <div class="col-xs-2 form-group" >
                    <button type="button" class="btn btn-primary" 
                            ng-click="aux.rest.addNewHeader(request)">+</button>
                    <button type="button" class="btn btn-primary" 
                                 ng-click="request.headers.splice(header, 1)">-</button>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 form-group" >
                    <label for="Body" translate>DATASOURCE.BODY</label>
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-2 form-group" >
                    <input type="radio"  ng-model="request.typeBody" value="FORM_DATA"/> Form
                </div>
                <div class="col-xs-2 form-group" >
                    <input type="radio"  ng-model="request.typeBody" value="RAW"/> Raw
                </div>
            </div>

            <div class="row"  ng-show="request.typeBody === 'FORM_DATA'" >
                <div class="col-xs-5 form-group" >
                    <label for="Key" translate>Parametro</label>
                </div>
                <div class="col-xs-5 form-group" >
                    <label for="valeu" translate >Value</label>
                </div>
            </div>

            <div class="row"  ng-show="request.typeBody === 'FORM_DATA'"  data-ng-repeat='b in request.parametersBody'>
                <!--            <div class="row"   data-ng-repeat='b in request.parametersBody'>-->
                <div class="col-xs-5 form-group" >
                    <input type="text" name="url" class="form-control" ng-model="b.key" 
                           ng-keyup="aux.rest.createBody(request)">
                </div>
                <div class="col-xs-5 form-group" >
                    <input type="text" name="url" class="form-control" ng-model="b.value" 
                           ng-keyup="aux.rest.createBody(request)">
                </div>
                <div class="col-xs-2 form-group" >
                    <button type="button" class="btn btn-primary" 
                            ng-click="aux.rest.addNewParameterBody(request)">+</button>
                </div>
            </div>

            <div class="row"  ng-show="request.typeBody === 'RAW'">
                <div class="col-xs-12 form-group" >
                    <textarea  rows="12" cols="100%" ng-model="request.body"></textarea>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-6 form-group" >
                    <label for="Body" translate> </label>
                    <button type="button" class="btn btn-primary" ng-click="aux.rest.addNewVariable(request)">Add New variable</button>
                </div>
            </div>

            <div class="row"  data-ng-repeat='b in request.variables'>
                    <div class="col-xs-5 form-group" >
                        <input type="text" name="url" class="form-control" ng-model="b.name" 
                               ng-keyup="aux.rest.createBody(request)">
                    </div>
                    <div class="col-xs-2 form-group" >
                        <button type="button" class="btn btn-primary" 
                                ng-click="aux.rest.addNewVariable(request)">+</button>
                         <button type="button" class="btn btn-primary" 
                                 ng-click="request.variables.splice(b, 1)">-</button>
                    </div>
            </div>
        </uib-accordion-group>
    </uib-accordion>
</div>
