<!-- Endeca -->
<div class="form-group" validated-field-holder="formObject.endecaAddress">
    <label for="endeca-address" translate class="required">DATASOURCE.ADDRESS</label>
    <input type="text" name="endecaAddress" id="endeca-address" class="form-control"
           ng-model="object.address" required />
    <validated-field-messages ng-model="formObject.endecaAddress"></validated-field-messages>
</div>
<div class="row" >
    <div class="col-xs-6 form-group" validated-field-holder="formObject.endecaUser">
        <label for="user" translate class="required">DATASOURCE.USERNAME</label>
        <input type="text" name="endecaUser" id="user" class="form-control"
               ng-model="object.user" required/>
        <validated-field-messages ng-model="formObject.endecaUser"></validated-field-messages>
    </div>
    <div class="col-xs-6 form-group" validated-field-holder="formObject.endecaPassword">
        <label for="password" translate class="required">DATASOURCE.PASSWORD</label>
        <input type="text" name="endecaPassword" id="password" class="form-control"
               ng-model="object.password" required />
        <validated-field-messages ng-model="formObject.endecaPassword"></validated-field-messages>
    </div>
</div>
