<div class="row">
    <div class="col-md-12">
        <form name="formObject" ng-submit="submit()">
            <div class="form-group" validated-field-holder="formObject.name">
                <input  type="text" class="form-control connecta-inline-edit-input" id="name" name="name"
                       placeholder="{{'DATASOURCE.NAME'|translate}}"
                       ng-model="datasource.name" required/>
                <validated-field-messages ng-model="formObject.name"></validated-field-messages>
            </div>
            <div class="form-group">
                <textarea class="form-control connecta-inline-edit-textarea" 
                          id="description" name="description" ng-model="datasource.description"
                          placeholder="{{'DATASOURCE.DESCRIPTION'|translate}}" row="1"></textarea>
            </div>
            <div class="portal-type-switcher margin-bottom-single">
                <label ng-repeat="type in mapToArray(form.types) | orderBy:['-order','-disabled']" class="radio-inline portal-type-switcher-item"
                       title="{{type.name}}" ng-class="{'portal-type-switcher-item-disabled':type.disabled}">
                    <input type="radio" class="portal-type-switcher-input" name="type"
                           ng-model="datasource.type" ng-value="type.id" ng-disabled="type.disabled" />
                    <span class="portal-type-switcher-icon {{type.icon}}"></span>
                    <span class="portal-type-switcher-title">{{type.name}}</span>
                </label>
            </div>

            <type-switcher ng-model="datasource.type" config="form.types"
                    object="datasource" aux="form" form-object="formObject"></type-switcher>

            <div class="text-right">
                <small class="text-muted" ng-if="formObject.$invalid" translate>VALIDATION.FILL_REQUIRED_FIELDS_ENABLE_SAVE</small>
                <a href="#/presenter/datasource" class="btn btn-default" translate>
                    LAYOUT.CANCEL
                </a>
                <button class="btn btn-default" ng-if="datasource.type == 'DATABASE'" ng-click="testConnection()" type="button" translate>
                    DATASOURCE.TEST_CONNECTION
                </button>
               
                <div class="inline-block" title="{{(formObject.$invalid?'VALIDATION.FILL_REQUIRED_FIELDS_ENABLE_SAVE':'') | translate}}">
                    <button class="btn btn-primary" translate ng-disabled="formObject.$invalid">
                        LAYOUT.SAVE
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>