<div class="sidebar-form">
    <label translate>VIEWER.BACKGROUND_ALPHA</label>
    <input type="number" ng-model="viewer.configuration.chartScrollbar.backgroundAlpha"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.BACKGROUND_COLOR</label>
    <input type="color" ng-model="viewer.configuration.chartScrollbar.backgroundColor"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.TEXT_COLOR</label>
    <input type="color" ng-model="viewer.configuration.chartScrollbar.color"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.BALLOON_POINTER_ORIENTATION</label>
    <select ng-model="viewer.configuration.chartScrollbar.dragIcon">
        <option value="dragIconRoundBig" translate>VIEWER.DRAG_ICON_ROUND_BIG</option>
        <option value="dragIconRectBig" translate>VIEWER.DRAG_ICON_RECT_BIG</option>
        <option value="dragIconRectBigBlack" translate>VIEWER.DRAG_ICON_RECT_BIG_BLACK</option>
        <option value="dragIconRectSmall" translate>VIEWER.DRAG_ICON_RECT_SMALL</option>
        <option value="dragIconRectSmallBlack" translate>VIEWER.DRAG_ICON_RECT_SMALL_BLACK</option>
        <option value="dragIconRoundBigBlack" translate>VIEWER.DRAG_ICON_ROUND_BIG_BLACK</option>
        <option value="dragIconRoundSmall" translate>VIEWER.DRAG_ICON_ROUND_SMALL</option>
        <option value="dragIconRoundSmallBlack" translate>VIEWER.DRAG_ICON_ROUND_SMALL_BLACK</option>
    </select>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.DRAG_ICON_HEIGHT</label>
    <input type="number" ng-model="viewer.configuration.chartScrollbar.dragIconHeight"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.DRAG_ICON_WIDTH</label>
    <input type="number" ng-model="viewer.configuration.chartScrollbar.dragIconWidth"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.GRAPH_FILL_ALPHA</label>
    <input type="number" ng-model="viewer.configuration.chartScrollbar.graphFillAlpha"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.GRAPH_FILL_COLOR</label>
    <input type="color" ng-model="viewer.configuration.chartScrollbar.graphFillColor"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.GRAPH_LINE_ALPHA</label>
    <input type="number" ng-model="viewer.configuration.chartScrollbar.graphLineAlpha"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.GRAPH_LINE_COLOR</label>
    <input type="color" ng-model="viewer.configuration.chartScrollbar.graphLineColor"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.GRID_ALPHA</label>
    <input type="number" ng-model="viewer.configuration.chartScrollbar.gridAlpha"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.IGNORE_CUSTOM_COLORS</label>
    <input type="checkbox" ng-model="viewer.configuration.chartScrollbar.ignoreCustomColors"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.SELECT_BACKGROUND_ALPHA</label>
    <input type="number" ng-model="viewer.configuration.chartScrollbar.selectBackgroundAlpha"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.SELECT_BACKGROUND_COLOR</label>
    <input type="color" ng-model="viewer.configuration.chartScrollbar.selectBackgroundColor"/>
</div>