<div class="sidebar-form">
    <label translate>VIEWER.CHART_SCROLL_BAR</label>
    <input type="checkbox" ng-model="chartScrollbar.ativo" ng-click="changeChartScrollbar()"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.AUTO_GRID_COUNT</label>
    <input type="checkbox" ng-model="viewer.configuration.chartScrollbar.autoGridCount"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.ENABLED</label>
    <input type="checkbox" ng-model="viewer.configuration.chartScrollbar.enabled"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.HIDE_RESIZE_GRIPS</label>
    <input type="checkbox" ng-model="viewer.configuration.chartScrollbar.hideResizeGrips"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.OPPOSITE_AXIS</label>
    <input type="checkbox" ng-model="viewer.configuration.chartScrollbar.oppositeAxis"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.RESIZE_ENABLED</label>
    <input type="checkbox" ng-model="viewer.configuration.chartScrollbar.resizeEnabled"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.SCROLLBAR_HEIGHT</label>
    <input type="number" ng-model="viewer.configuration.chartScrollbar.scrollbarHeight"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.SCROLL_DURATION</label>
    <input type="number" ng-model="viewer.configuration.chartScrollbar.scrollDuration"/>
</div>
<div class="sidebar-form">
    <label translate>VIEWER.UPDATE_ON_RELEASE_ONLY</label>
    <input type="checkbox" ng-model="viewer.configuration.chartScrollbar.updateOnReleaseOnly"/>
</div>
