<form ng-submit="save()" class="dashboard-form">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="dashboard-name" translate>DASHBOARD.DASHBOARD_NAME</label>
        <input type="text" ng-model="dashboard.name"
          class="form-control" id="dashboard-name" />
      </div>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-default" type="button">
        <span class="icon-cog"></span>
        {{'LAYOUT.SETTINGS' | translate}}
      </button>
      <button class="btn btn-primary" type="submit">
        {{'LAYOUT.SAVE' | translate}}
      </button>
    </div>
  </div>
  <tabset>
    <tab ng-repeat="section in dashboard.sections | orderBy:'order'" active="section.active">
      <tab-heading>
        {{section.name}}
        <button class="btn btn-xs btn-icon-only">
          <span class="icon-cog"></span>
        </button>
      </tab-heading>
      <div gridster="config">
        <div class="dashboard-item"
          gridster-item="gridsterItemConfig" ng-repeat="item in section.items">

        </div>
        <div class="dashboard-no-item" ng-if="!section.items.length">
          <span class="icon-area-graph"></span>
          <p translate>
            DASHBOARD.NO_ITEM
          </p>
        </div>
      </div>
    </tab>
    <tab select="addSection()">
      <tab-heading>
        <span class="icon-plus"></span>
      </tab-heading>
    </tab>
  </tabset>
</form>
