<style>
[gridster] {
    {{dashboard.backgroundColor?'background-color:'+dashboard.backgroundColor:''}};
}
</style>

<form ng-submit="save()" class="dashboard-form">
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label for="dashboard-name" class="sr-only" translate>DASHBOARD.DASHBOARD_NAME</label>
        <input type="text" ng-model="dashboard.name"
          placeholder="{{'DASHBOARD.DASHBOARD_NAME'|translate}}"
          class="form-control" id="dashboard-name" />
      </div>
    </div>
    <div class="col-md-4 text-right">
      <button class="btn btn-default" type="button" ng-click="config()">
        <span class="icon-cog"></span>
        {{'LAYOUT.SETTINGS' | translate}}
      </button>
      <button class="btn btn-primary" type="submit">
        {{'LAYOUT.SAVE' | translate}}
      </button>
    </div>
  </div>
  <tabset>
    <tab ng-repeat="section in dashboard.sections | orderBy:'order'" active="section.active">
      <tab-heading>
        <span ng-if="!section.edit" ng-dblclick="renameSection($event, section, true)"
              class="dashboard-form-section-name">
            {{section.name}}
        </span>
        <input class="dashboard-form-section-name-edit" ng-model="section.name"
             ng-if="section.edit" ng-blur="renameSection($event, section, false)" />
        <button class="btn btn-xs btn-icon-only" ng-click="removeSection($event, section)" type="button">
          <span class="icon-close"></span>
        </button>
      </tab-heading>
      <div gridster="section" dnd-list="section.items">
        <div class="dashboard-item" ng-style="{'background-color':item.backgroundColor?item.backgroundColor:''}"
          gridster-item="gridsterItemConfig" ng-repeat="item in section.items">
            <viewer src="item.viewerUrl"></viewer>
        </div>
        <div class="dashboard-no-item" ng-if="!section.items.length">
          <span class="icon-area-graph"></span>
          <p translate>
            DASHBOARD.NO_ITEM
          </p>
        </div>
      </div>
    </tab>
    <tab select="addSection()">
      <tab-heading>
        <span class="icon-plus"></span>
      </tab-heading>
    </tab>
  </tabset>
</form>